body {
    background: rgba(0,0,0,0.7);
    color: #eee;
    padding: 0;
    margin: 0;
}
.wrapper-main {
    height: 100vh;
    background: url("../ima/1.png") top left no-repeat,
    url("../ima/2.png") top center no-repeat,
    url("../ima/3.png") top right no-repeat,
    url("../ima/4.png") center left no-repeat,
    url("../ima/5.png") center center no-repeat,
    url("../ima/6.png") center right no-repeat,
    url("../ima/1.png") bottom left no-repeat,
    url("../ima/2.png") bottom center no-repeat,
    url("../ima/3.png") bottom right no-repeat;
    background-size: 33.33% 33.33%;
}
                               /*radio*/
.wrapper-tabs {
    width: 700px;
    margin: 0 auto;
}
.tabs {
    perspective: 600px;
}
.wrapper-tabs > input {
    display: none;
}
.wrapper-tabs > label {
    display: inline-block;
    padding: 12px 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color .3s;
}
.wrapper-tabs > label:hover, .wrapper-tabs > input:checked + label {
    background: #4EC6DE;
}
.tabs > div {
    width: 700px;
    position: absolute;
    opacity: 0;
    border: 2px solid #4EC6DE;
    padding: 10px 30px 40px;
    line-height: 1.6;
    transition: opacity .3s, transform 1s;
    transform: rotateX(-20deg);
    transform-origin: top center;
}
#tab1:checked ~ .tabs > div:nth-of-type(1),
#tab2:checked ~ .tabs > div:nth-of-type(2),
#tab3:checked ~ .tabs > div:nth-of-type(3) {
    opacity: 1;
    transform: rotateX(0deg);
}
                               /*checkbox*/
.wrapper-tabs-check{
    width: 700px;
    margin: 330px auto;
}
.wrapper-tabs-check > input {
    display: none;
}
.wrapper-tabs-check > label {
    display: block;
    cursor: pointer;
    background: #4EC6DE;
    padding: 12px 20px;
    width: 724px;
}
.wrapper-tabs-check > label:hover{
    background: blueviolet;
}
.wrapper-tabs-check > div {
    border: 2px solid #4EC6DE;
    padding: 10px 30px 40px;
    width: 700px;
    height: 200px;
    display: none;
    line-height: 1.6;
}
#tabCheck1:checked  ~ div:nth-of-type(1),
#tabCheck2:checked  ~ div:nth-of-type(2),
#tabCheck3:checked  ~ div:nth-of-type(3) {
    display: block;
}

