  @import "font.css";
  @import "normalise.css";
  @import "reset.css";
  @import "all.css";

  * {
      box-sizing: border-box;
      font-family: Lato;
  }
  body{
      background-color: #212121;
  }
  a {
      text-decoration: none;
      text-transform: uppercase;
  }
  span{
      text-transform: capitalize;
  }
  h1,h2,h3,h4,h5,h6{
      color: white;
  }
  .wrapper {
      display: block;
      margin: 0 auto;
      max-width: 1630px;
      padding: 0 15px;
      background-color: #212121;
  }

  .top_header a {
      float: right;
      display: flex;
      color: #ff3448;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.7px;
      padding: 18px 0 18px 40px;
  }

  .top_header a>img {
      height: 14px;
      width: 12px;
  }

  .top_header .lookfor {
      color: white;
      height: 24px;
      font-size: 25px;
      font-weight: 400;
      float: right;
      padding: 10px 135px 0 20px;
  }

  .top_header #lookfor {
      display: none;
  }

  .middle_header {
      border-top: 1px solid grey;
      padding-top: 19px;
      display: flex;
      width: 100%;
  }
  .md_hd_txt{
      width: 184px;
      padding-left: 10%;
      padding-top: 15px;
  }
  .md_hd_contact{
      padding-left: 20%;
      text-align: right;
  }
  .md_hd_contact h3{
      padding-bottom: 26px;
  }
  .md_hd_contact h3::before{
      content: url("../img/phone.png");
      padding-right: 10px;
  }
  .md_hd_contact p{
      padding-bottom: 24px;
      text-transform: uppercase;
  }
  .md_hd_btns{
      right: 0;
      color: #ffffff;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0.75px;
      padding-left: 5%;
  }
  .md_hd_btns a{
      display: inline-block;
      align-content: center;
      color: white;
      padding: 0 10px 0 20px;
  }
  .md_hd_btns a:hover {
    color: red;
  }
  /*.md_hd_btns a::before{*/
  /*    content: "";*/
  /*    width: 1px;*/
  /*    height: 62px;*/
  /*    background-color: grey;*/
  /*    position: absolute;*/
  /*}*/
  .md_hd_btns a>img{
      padding-top: 10%;
      padding-bottom: 13%;
      padding-left: calc(50% - 10px);
  }
  .header {
      background-size: 100%;
      background: url('../img/header.png') no-repeat center center;
      height: 100vh;
      position: relative;
      width: 100%;
  }

  .header_nav {
      width: 100%;
      background-color: black;
  }

  .header_nav ul {
      display: flex;
      text-transform: uppercase;
      color: white;
      font-family: Lato;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0.75px;
      padding: 1.5% 0 1% 13%;
  }
  .header_nav ul>li{
      padding-left: 3%;
  }
  .header_nav a{
      color: white;
  }
  .header_nav a:hover{
      color: red;
  }