* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Proxima Nova Rg";
    font-size: 14px;
    color: #182d47;
}

.wrapper {
    max-width: 1380px;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
    @media (max-width: 960px) {
        padding: 0 12px;
    }
}

.col-1 {
    width: 25%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 75%;
}

h2 {
    font-size: 41px;
    @media (max-width: 767px) {
        font-size: 24px;
    }
}

h3 {
    font-size: 35px;
    @media (max-width: 767px) {
        font-size: 22px;
    }
}

p {
    font-size: 16px;
}

span.small {
    font-size: 13px;
}

span.big {
    font-size: 18px;
}
