.pseudo-elements-mixin(@content: '', @display: block, @position: absolute) {
    display: @display;
    content: @content;
    position: @position;
}

.background-image-mixin(@image: "arrow.png", @background-size: cover) {
    background-image: url("../../../img/@{image}");
    background-size: @background-size;
    background-position: center;
    background-repeat: no-repeat;
}

.hover-point {
    color: #ff2d37;
    outline: 1px solid #FF2D37;
    background-color: #FFFFFF;
}

.border-mixin {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
}

.flex-mixin(@display: flex, @flex-direction: row, @justify-content: space-between) {
    display: @display;
    flex-direction: @flex-direction;
    justify-content: @justify-content;
}
