/*----Colors-----*/


@mage-url: "../../../img/";
/*--Break points--*/
@first-desktop-point: 1200px;
@tablet-point: 992px;
@mobile-point: 767px;
@second-mobile-point: 500px;
@third-mobile-point: 320px;
