a,
.link{
  @link-color: blue;
  color: @link-color;
}
a:hover{
  color: @link-color-hover;
}
.widget{
  color: @blue;
  background: @link-color;
}
/*===========*/
@my-selector: banner;
.@{my-selector} {
  margin: 0 auto;
}
/*===========*/
@property: color;

.widget{
  @{property}: @blue;
  background-@{property}: @link-color;
}
/*===========*/
@primary: green;
.section{
  @color: primary;
  .element{
    color: @@color;
  }
}
/*===========*/
.lazy-eval{
  width: @vars;
  @a: 9%
}
@vars: @a;
@a: 10%;
/*===========*/
@var: 0;
.class{
  @var: 1;

  .brass{
    @var: 2;
    three: @var; //3
    @var: 3;
  }

  one: @var;
}
/*======Батьківськi селектори=====*/
a{
  color: blue;;

  &:hover{
    color: green;
  }
}
/*===================*/
.button{
  background: #1d4545;

  &-ok{
    background-image: url("ok.png");
  }
  &-cancel{
    background-image: url("cancel.png");
  }
}
/*===================*/
.link{
  & + &{
    color:red;
  }
  & &{
    color:red;
  }
  &&{
    color:red;
  }
  &, &is{
    color:red;
  }
}
/*===================*/
.grant{
  .parent{
    & > &{
      border: 1px solid blue;
    }
    & &{
      border: 1px solid blue;
    }
    &&{
      border: 1px solid blue;
    }
    &, &-is{
      border: 1px solid blue;
    }
  }
}
/*-----------------------------------*/
.header{
  .menu{
    border-radius: 5px;

    .no-border-radius &{
      border-radius: 0;
    }
  }
}
/*---------------------------------*/
p, a, ul, li{
  border-top: 2px;
  & + &{
    border-top: 0;
  }
}
/*--------------------------------------*/
nuv ul{
  &:extend(.inline);
  background: red;
}
.inline{
  color: blue;
}
/*----------------mixin----------------------*/
.a, #b{
  color: yellow;
}
.mixin-class{
  .a();
}
.my-mixin(){
  border-radius: 15px;
}
.class{
  .my-mixin();
}
/*----------------*/
.mixin(){
  box-shadow+: inset 0 0 10px #ffffff;
}
.myclass1{
  .mixin();
  box-shadow+: 0 0 5px black;
}
.average(@x, @y){
  @result:((@x + @y) / 2);
  @result1:((@x - @y) * 2);
}
.myres{
  padding: .average(16px, 50px)[@result];
}
div.a{
  padding: .average(10px, 20px)[@result1];
}
div.b{
  padding: .average(30px, 40px)[];
}
/*-------------*/
.generate-columns(12);
.generate-columns(@n, @i: 1) when (@i =< @n){
  .column-@{i} {
    width: (@i * 100% / @n);
  }
  .generate-columns(@n, (@i + 1));
}