@image_url: "../../../image/";

/*---break-points---*/
@first-desktop: 1600px;
@second-desktop: 1200px;
@tablet: 992px;
@first-mobile: 767px;
@second-mobile: 500px;

/*---colors---*/
@body-color: #848789;
@h3-color: #353738;
@hamburger-background: #f7f7f7;
@hamburger-link: #64c29e;
@text-wrapper-background: #f7f7f7;
@text-label-color: #848789;
@article-text-color: #848789;
@tabs-view_color: #a9afb3;
@image-container-background: #848789;
@image-link-color: #f7f7f7;
@image-link-background: #64c29e;
@triangle-color: #ffffff;
@footer-form-background: #282f35;
@footer-btn-text-color: #ffffff;
@footer-slogan-color: #848789;
@footer-content-background: #f7f7f7;
@footer-credits-color: @footer-slogan-color;
@placeholder-text-color: #929292;


/*---font sizes---*/
@body-font-size: 16px;
@h2-font-size: 24px;
@h3-font-size: 18px;
@article-font-size: 16px;
