@themes: "themes";

@header-bg1-color: #212121;
@header-bg2-color: #030303;
@main-bg1-color: #303030;
@main-bg2-color: #1c1c1c;
@products-bg1-color: #282828;
@product-cart: #363636;
@tittle-red: #9c1c28;
@red: #ff3448;
@color-white: #ffffff;
@nav-gray: #a2a2a2;
@main-gray: #979696;
@footer-gray: #887979;

@top-header-bg-color: @header-bg1-color;
@bottom-header-bg-color: @header-bg2-color;
@main-bg-light-gray-color: @main-bg1-color;
@main-bg-dark-gray-color: @main-bg2-color;
@products-wrapper-bg-color: @products-bg1-color;
@products-card-bg-color: @product-cart;
@title-red-line-color: @tittle-red;
@red-color: @red;
@white-color: @color-white;
@nav-gray-color: @nav-gray;
@main-gray-color: @main-gray;
@footer-gray-color: @footer-gray;
