body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: @text-color;
}
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 1600px;
    padding: 0 32px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
.dashed-bor {
    border-bottom: 1px white dashed;
}
header {
    background-color: @header-bg;
    .top-menu-wrap {
        display: flex;
        color: @white-color;
        justify-content: space-between;
        padding-top: 8px;
        .header-icon {
            fill: #c0cad3;
            margin-right: 4px;
            margin-bottom: -2px;
        }
        .header-icon-2 {
            fill: currentColor;
        }
        .header-icon-3 {
            fill: #c0cad3;
        }
        .header-phone {
            font-weight: 700;
            &:hover {
                border-bottom: none;
                cursor: pointer;
            }
        }
        .contact {
            margin: 0 24px;
        }
        a {
            color: @white-color;
            text-decoration: none;
            &:hover {
                border-bottom: 1px solid white;
            }
        }
        .switch-ln{
            margin-right: 24px;
            li {
                display: inline-block;
            }
            .active {
                a {
                    color: rgba(255,255,255,.5);
                }
            }
            .ln-ru {
                padding-left: 6px;
                margin-left: 6px;
                border-left: 1px solid rgba(255,255,255,.2);
            }
        }
        .hello {
            margin-right: 13px;
        }
        .office {
            &:hover {
                border-bottom: none;
                cursor: pointer;
            }
        }
        div {
            &:nth-child(2) {
                display: flex;
            }
        }
        .switch-city {
            display: flex;
            margin-right: 24px;
            .title {
                margin-right: 8px;
            }
            li {
                list-style: none;
            }
            input {
                display: none;
            }
            .city {
                &:hover {
                    border-bottom: none;
                    cursor: pointer;
                }
                & > label > ul > li {
                    display: none;
                }
                #kiyv:checked ~ label > ul > li#kiyvp {
                    display: block;
                    z-index: 10;
                }
                #rivne:checked ~ label > ul > li#rivnep {
                    display: block;
                    z-index: 10;
                }
                #gitomir:checked ~ label > ul > li#gitomirp {
                    display: block;
                    z-index: 10;
                }
                #harkiv:checked ~ label > ul > li#harkivp {
                    display: block;
                    z-index: 10;
                }
                #lutsk:checked ~ label > ul > li#lutskp {
                    display: block;
                    z-index: 10;
                }
                #window:checked ~ .wrap-pop {
                    display: block;
                    z-index: 10;
                }
                .wrap-pop {
                    position: fixed;
                    width: 390px;
                    top: 50%;
                    left: 50%;
                    transform: translate( -50%, -50%);
                    background-color: @pop-bg;
                    padding: 25px;
                    font-size: 250%;
                    display: none;
                    & > label {
                        display: inline-block;
                        padding: 10px;
                        border: 1px solid gray;
                        border-radius: 5px;
                        cursor: pointer;
                        margin-bottom: 5px;
                        &:hover {
                            background-color: @pop-bg-hover;
                        }
                        &.close {
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            cursor: pointer;
                            right: 0;
                            top: 0;
                            background-color: #222222;
                            color: white;
                            text-align: center;
                            font-size: 25px;
                            &:hover {
                                background-color: @white-color;
                                color: #222222;
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-menu-wrap {
        display: flex;
        color: @white-color;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        .logo {
            margin-right: 24px;
        }
        .menu-but {
            height: 40px;
            padding-right: 10px;
            padding-left: 10px;
            border-radius: 3px;
            border: 1px solid rgba(255,255,255,.5);
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
            align-items: center;
            display: flex;
            margin-right: 24px;
            .menu-icon {
                fill: rgba(255,255,255,.5);
                margin-right: 10px;
            }
            &:hover {
                background-color: rgba(255,255,255,.1);
            }
        }
        .search {
            flex-grow: 1;
            margin-right: 24px;
            height: 40px;
            display: flex;
            position: relative;
            input[type=text] {
                width: 86%;
                font-size: 15px;
                height: 40px;
                border-radius: 3px 0 0 3px;
                border: none;
                padding-left: 40px;
                box-sizing: border-box;
                background: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%234E4C4C' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M10 2a8 8 0 1 0 4.906 14.32l5.387 5.387a1 1 0 0 0 1.414-1.414l-5.387-5.387A8 8 0 0 0 10 2zm-6 8a6 6 0 1 1 12 0 6 6 0 0 1-12 0z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: 12px;
                background-color: white;
                &:focus {
                    outline: none;
                    border-radius: 3px 0 0 0;
                    & ~ .focus-none {
                        display: block;
                    }
                }
            }
            .voice-search {
                width: 40px;
                height: 40px;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &::before {
                    content: "";
                    height: 20px;
                    width: 1px;
                    background-color: #e9e9e9;
                    position: absolute;
                    left: 0;
                    display: block;
                }
                .search-ico {
                    fill: #3e77aa;
                }
                &:hover {
                    .search-ico {
                        fill: #ff7878;
                    }
                }
            }
            .but-search {
                border-radius: 0 3px 3px 0;
                border: none;
                color: white;
                padding: 0 16px;
                font-size: 16px;
                background-color: @but-search;
                &:hover {
                    background-color: @but-search-hover;
                }
            }
            .focus-none {
                position: absolute;
                top: 40px;
                background: white;
                color: black;
                width: 748px;
                height: 80px;
                z-index: 30;
                border-top: 1px solid #e9e9e9;
                border-radius: 0 0 3px 3px;
                display: none;
                .focus-none-top {
                    display: flex;
                    justify-content: space-between;
                    padding: 16px 16px 8px 16px;
                    color: #797878;
                    font-size: 11px;
                    span {
                        &:last-child {
                            color: #3e77aa;
                            font-size: 13px;
                            &:hover {
                                color: #ff7878;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .focus-none-bot {
                    display: flex;
                    align-items: center;
                    padding: 7px 10px 10px 16px;
                    .focus-icon1 {
                        margin-right: 16px;
                        fill: #d2d2d2;
                    }
                    span {
                        font-size: 14px;
                        color: #221f1f;
                        flex-grow: 1;
                        cursor: pointer;
                    }
                    .focus-close {
                        text-decoration: none;
                        fill: #d2d2d2;
                        &:hover {
                            fill: #a6a5a5;
                        }
                    }
                }
            }
        }
        .header-actions {
            .actions-item {
                display: inline-block;
                padding: 0 14px;
                svg {
                    fill: #a6a5a5;
                }
            }
        }
    }
}
main.main {
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .main-menu {
        padding: 24px 0;
        li {
            list-style: none;
            line-height: 30px;
            &:hover {
                .menu-none {
                    display: flex;
                }
            }
            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                color: @color-link;
                padding: 0 24px 0 15px;
                font-size: 14px;
                &:hover {
                    color: @color-link-hover;
                    cursor: pointer;
                    svg {
                        &:last-child {
                            fill: @color-link-hover;
                        }
                    }
                }
                .hell {
                    display: flex;
                    align-items: center;
                    img {
                        margin-left: 5px;
                    }
                }
                svg {
                    &:first-child {
                        fill: #adb8c8;
                    }
                    &:last-child {
                        fill: @color-link;
                    }
                }
                span {
                    flex-grow: 1;
                    margin-left: 8px;
                }
            }
        }
        & > li > a:hover {
            background-color: rgba(250, 250, 185, .3);
        }
    }
    .menu-none {
        position: absolute;
        top: 0;
        left: 330px;
        background-color: white;
        z-index: 20;
        padding: 15px 8px 15px 8px;
        justify-content: space-between;
        display: none;
        ul {
            &:first-child {
                background-color: #f0f0f0;
            }
        }
        img {
            display: block;
            height: 450px;
        }
        li {
            line-height: 17px;
            a {
                color: #333333;
                .tit {
                    color:@color-link;
                    font-size: 16px;
                    margin: 7px 0;
                }
            }
        }
    }
    aside.menu-left {
        border-right: 1px solid #e9e9e9;
        width: 300px;
        .personal-acc {
            text-align: center;
            padding: 16px 24px;
            border-top: 1px solid #eaeaea;
            border-bottom: 1px solid #eaeaea;
            background-color: #f4f4f4;
            h3 {
                margin-bottom: 8px;
                font-size: 20px;
                font-weight: 400;
            }
            p {
                margin-bottom: 12px;
                font-size: 12px;
                line-height: 14px;
            }
            a {
                text-decoration: none;
                font-size: 15px;
            }
            .personal-acc-on {
                background-color: @color-link;
                color: @white-color;
                padding: 0 16px;
                margin-bottom: 14px;
                border-radius: 4px;
                height: 32px;
                line-height: 32px;
                display: block;
                max-width: 218px;
                &:hover {
                    background-color: #4096e3;
                }
            }
            .personal-acc-log {
                color: @color-link;
                &:hover {
                    text-decoration: underline;
                    color: @color-link-hover;
                }
            }
        }
        .stores {
            padding: 12px 20px;
            border-bottom: 1px solid #eaeaea;
            h3 {
                margin-bottom: 12px;
                font-size: 13px;
                font-weight: 400;
            }
            a {
               display: inline-block;
               &:last-child {
                   margin-left: 14px;
                }
            }
        }
        .schedule {
            padding: 16px 20px;
            border-bottom: 1px solid #eaeaea;
            h4 {
                font-size: 12px;
                color: #797878;
                font-weight: 400;
            }
            .schedule-phones {
                margin-bottom: 8px;
                margin-top: 8px;
                a {
                    color: #333;
                    font-size: 13px;
                    font-weight: 700;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .schedule-timing {
                display: flex;
                flex-wrap: wrap;
                .timing-half {
                    width: 50%;
                    padding: 5px 0;
                }
            }
            & > div {
                &:last-child {
                    margin-top: 8px;
                    a {
                        display: flex;
                        align-items: center;
                        margin-bottom: 8px;
                        margin-top: 8px;
                        font-size: 14px;
                        color: @color-link;
                        text-decoration: none;
                        span {
                            border-bottom: 1px dashed @color-link;
                        }
                        svg {
                            fill: @color-link;
                            margin-left: 4px;
                            margin-right: 8px;
                        }
                        &:hover {
                            color: @color-link-hover;
                            span {
                                border-bottom: 1px dashed @color-link-hover;
                            }
                            svg {
                                fill: @color-link-hover;
                            }
                        }
                    }
                }
            }
        }
        .social {
            padding: 12px 20px;
            border-bottom: 1px solid #eaeaea;
            h3 {
                margin-bottom: 12px;
                font-size: 13px;
                font-weight: 400;
            }
            .social-buttons {
                .social-but {
                    text-decoration: none;
                    padding: 1px 6px;
                    &:first-child {
                        margin-right: 8px;
                    }
                }
            }
        }
        .links {
            padding: 20px 20px 24px;
            border-bottom: 1px solid #eaeaea;
            h3 {
                margin-bottom: 8px;
                font-size: 12px;
                color: #797878;
                font-weight: 400;
            }
            ul {
                margin-bottom: 24px;
                &:last-child {
                    margin-bottom: 0;
                }
                li {
                    margin-bottom: 8px;
                    list-style: none;
                    a {
                        font-size: 14px;
                        text-decoration: none;
                        color: @color-link;
                        &:hover {
                            text-decoration: underline;
                            color: @color-link-hover;
                        }
                    }
                }
            }
        }
        .copyright {
            padding: 20px;
            font-size: 12px;
            line-height: 14px;
            p {
                &:first-child {
                    color: #999;
                }
                & + p {
                    margin-top: 12px;
                }
            }
        }
    }
    .content {
        padding: 40px 0 40px 40px;
        flex-grow: 1;
        .main-slider {
            position: relative;
            input {
                display: none;
            }
            .slider-dots {
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 15px;
                width: 100%;
                label {
                    display: block;
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    border: 1px solid gray;
                    background-color: rgba(255,255,255, .4);
                    border-radius: 50%;
                    margin: 0 10px;
                    transition: background-color .5s ease-in-out, border .5s ease-in-out;
                    &:hover {
                        background-color: rgba(255,255,255, .9);
                        border-color: darkblue;
                    }
                }
            }
            #s1:checked {
                & ~ .slider-dots label.s1 {
                    background-color: rgba(255,255,255, .9);
                    border-color: darkblue;
                }
            }
            #s2:checked {
                & ~ .slider-dots label.s2 {
                    background-color: rgba(255,255,255, .9);
                    border-color: darkblue;
                }
                & ~ .slider-wrapper > div {
                    transform: translateX(-100%);
                }
            }
            #s3:checked {
                & ~ .slider-dots label.s3 {
                    background-color: rgba(255,255,255, .9);
                    border-color: darkblue;
                }
                & ~ .slider-wrapper > div {
                    transform: translateX(-200%);
                }
            }
        }
        .slider-wrapper {
            overflow: hidden;
            width: 1195px;
            & > div {
                transition: all .5s ease-in-out;
                display: flex;
            }
            .item-slide {
                min-width: 100%;
                img {
                    width: 100%;
                }
            }
        }
        .main-goods {
            margin-top: 60px;
            h2 {
                margin-bottom: 16px;
                font-size: 20px;
                font-weight: 400;
                svg {
                    margin-right: 16px;
                    vertical-align: bottom;
                    fill: #00a046;
                }
            }
            .main-goods-items {
                display: flex;
                flex-wrap: wrap;
                max-width: 1195px;
                .goods-item {
                    box-sizing: border-box;
                    position: relative;
                    padding: 16px 16px 24px;
                    width: 16.66%;
                    border-right: 1px solid #eaeaea;
                    border-bottom: 1px solid #eaeaea;
                    .item-img {
                        position: relative;
                        display: block;
                        height: 170px;
                        margin-bottom: 16px;
                        img {
                            max-width: 100%;
                            max-height: 140px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                    .item-text {
                        font-size: 13px;
                        line-height: 19px;
                        display: block;
                        margin-bottom: 4px;
                        color: @text-color;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                            color: @color-link-hover;
                        }
                    }
                    .like {
                        position: absolute;
                        top: 13px;
                        right: 14px;
                        font-size: 10px;
                        display: block;
                        width: 20px;
                        text-align: center;
                        height: 15px;
                        cursor: pointer;
                        padding-top: 5px;
                        color:  @color-new-price;
                    }
                    .item-svg {
                        position: absolute;
                        top: 8px;
                        right: 8px;
                        width: 32px;
                        height: 32px;
                        background-color: @white-color;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        &:hover {
                            background-color: #f4faf6;
                        }
                        svg {
                            stroke: #fcc10a;
                            stroke-width: 2px;
                            fill: @white-color;
                        }
                    }
                    .goods-price {
                        font-size: 24px;
                        span {
                            font-size: 18px;
                        }
                    }
                    .goods-new-price {
                        color: @color-new-price;
                    }
                    .goods-old-price {
                        font-size: 15px;
                        line-height: 1;
                        color: #999;
                        position: relative;
                        display: inline-block;
                        &::after {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            width: 100%;
                            height: 1px;
                            background-color: @color-new-price;
                            content: '';
                        }
                    }
                }
            }
        }
    }
}
.social-list {
    margin-bottom: 4px;
    a.social-item {
        display: inline-block;
        margin-right: 10px;
        width: 28px;
        height: 28px;
        border-radius: 50px;
        opacity: .85;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: all .3s ease;
        position: relative;
        svg {
            fill: @white-color;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            opacity: 1;
        }
        &:first-child {
            background-color: #506098;
        }
        &:nth-child(2) {
            background-color: #76c9fd;
        }
        &:nth-child(3) {
            background-color: #e90000;
        }
        &:nth-child(4) {
            background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%),linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
        }
        &:nth-child(5) {
            background-color: #7d3daf;
        }
    }
}

            /*laptops*/

main.main {
    .wrapper-laptops {
        justify-content: normal;
        position: relative;
        .menu-left-laptops {
            min-width: 215px;
            padding-top: 14px;
            padding-right: 15px;
            box-sizing: border-box;
            .menu-btn {
                width: 183px;
                background-color: @but-search;
                border-radius: 4px;
                border: none;
                color: @white-color;
                font-size: 18px;
                line-height: 22px;
                padding: 8px 34px 8px 11px;
                position: relative;
                outline: none;
                &::before {
                    content: '';
                    position: absolute;
                    background-image: url("../../ima/sprite-roz.svg");
                    background-position: -528px -471px;
                    background-repeat: no-repeat;
                    width: 13px;
                    height: 13px;
                    top: 50%;
                    right: 10px;
                    margin-top: -6px;
                    transition: transform .2s ease;
                }
                &:hover {
                    background-color: @but-search-hover;
                    & ~ .main-menu-laptops {
                        display: block;
                    }
                    &::before {
                        transform: rotate(180deg);
                    }
                }
            }
            .main-menu-laptops {
                display: none;
                position: absolute;
                z-index: 10;
                background-color: @white-color;
                border: 1px solid @border-color;
                padding: 0;
                .menu-none {
                    max-width: 1250px;
                    left: 270px;
                    padding-top: 0;
                }
                &:hover {
                    display: block;
                }
            }
            .details-left {
                border-right: 1px solid #e9e9e9;
                .links-catalog {
                    width: 98%;
                    padding-top: 20px;
                    list-style: none;
                    border-right: 1px solid #e9e9e9;
                    border-bottom: 1px solid #e9e9e9;
                    li {
                        padding-bottom: 14px;
                        .links-catalog-tit-bold {
                            color: #4d4b4b;
                            font-weight: 700;
                        }
                        a {
                            color: @color-link;
                            text-decoration: none;
                            position: relative;
                            &::before {
                                content: '';
                                position: absolute;
                                width: 9px;
                                height: 9px;
                                background-image: url("../../ima/sprite-roz.svg");
                                background-position: -777px -313px;
                                background-repeat: no-repeat;
                                transform: rotate(90deg);
                                top: 2px;
                                left: -15px;
                            }
                            &:hover {
                                color: @color-link-hover;
                                &::before {
                                    background-position: -777px -302px;
                                }
                            }
                        }
                        &:nth-child(2) {
                            a {
                                margin-left: 10px;
                            }
                        }
                        &:nth-child(3) {
                            a {
                                margin-left: 20px;
                            }
                        }
                        &:nth-child(4) {
                            .links-catalog-tit-bold {
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
            .details {
                width: 98%;
                border-right: 1px solid #e9e9e9;
                border-bottom: 1px solid #e9e9e9;
                margin-top: 4px;
                padding-bottom: 6px;
                .details-none {
                    display: none;
                }
                .check-none {
                    display: none;
                    &:checked {
                        & ~ .details-none {
                            display: block;
                        }
                        & ~ .details-btn {
                            &::before {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
                .details-btn {
                    padding: 9px 9px 9px 0;
                    cursor: pointer;
                    font-size: 13px;
                    color: @color-link;
                    box-sizing: border-box;
                    display: block;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        background-image: url("../../ima/sprite-roz.svg");
                        background-repeat: no-repeat;
                        background-position: -513px -471px;
                        width: 13px;
                        height: 13px;
                        top: 50%;
                        margin-top: -6px;
                        right: 10px;
                        transition: transform 250ms ease;
                        transform: rotate(0);
                    }
                    &:hover {
                        color: @color-link-hover;
                        &::before {
                            background-position: -558px -471px;
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            top: 50%;
                            right: 3px;
                            width: 27px;
                            height: 27px;
                            margin-top: -13px;
                            border-radius: 50%;
                            box-shadow: 0 0 0 1px #f9c2c5;
                        }
                    }
                }
                .details-none {
                    list-style: none;
                    padding: 3px 0 6px;
                    li {
                        padding: 3px 6px 2px 0;
                    }
                    input[type=checkbox]{
                        display: none;
                        &:checked {
                            & ~ .parameter {
                                &::before {
                                    background-position: -284px -872px;
                                }
                            }
                        }
                    }
                    .parameter {
                        color: #4d4b4b;
                        cursor: pointer;
                        position: relative;
                        height: 25px;
                        display: block;
                        &:hover {
                            color: @color-link-hover;
                        }
                        span {
                            height: 25px;
                            display: table-cell;
                            vertical-align: middle;
                            padding-left: 30px;
                            i {
                                font-style: normal;
                                color: #999;
                            }
                        }
                        &::before {
                            content: '';
                            background-image: url("../../ima/sprite-roz.svg");
                            background-repeat: no-repeat;
                            position: absolute;
                            background-position: -359px -872px;
                            width: 23px;
                            height: 23px;
                        }
                    }
                }
            }
        }
    }
}

.content-laptops {
    padding-top: 14px;
    width: 100%;
    .top-content {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid @border-color;
        .top-content-title {
            h1 {
                font-weight: 400;
                color: #221f1f;
                font-size: 40px;
                padding-bottom: 10px;
            }
        }
        .top-content-menu {
            display: flex;
            padding-right: 10px;
            .top-content-menu-sort {
                display: flex;
                input {
                    display: none;
                    &:checked {
                        & ~ .menu-sort-none {
                            display: block;
                            z-index: 10;
                        }
                    }
                }
                .sort-title {
                    margin-bottom: 2px;
                    font-size: 11px;
                    line-height: 15px;
                    color: #797878;
                    display: block;
                }
                .sort-check {
                    display: inline-block;
                    cursor: pointer;
                    width: 174px;
                    box-sizing: border-box;
                    padding: 4px 20px 4px 7px;
                    border: 1px solid #d2d2d2;
                    border-radius: 4px;
                    font-size: 13px;
                    line-height: 18px;
                    color: #4d4b4b;
                    background-color: @white-color;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        background-image: url("../../ima/sprite-roz.svg");
                        background-repeat: no-repeat;
                        background-position: -436px -337px;
                        width: 13px;
                        height: 13px;
                        top: 50%;
                        margin-top: -6px;
                        right: 4px;
                    }
                    &:hover {
                        background-color: #f4faf6;
                    }
                }
                .menu-sort-none {
                    position: absolute;
                    display: none;
                    width: 248px;
                    background: @white-color;
                    box-shadow: 0 0 13px 0 rgba(0,0,0,.4);
                    box-sizing: border-box;
                    margin-top: 5px;
                    border: 1px solid #a8cbeb;
                    padding: 5px 0 5px 17px;
                    li {
                        border-bottom: 1px solid @border-color;
                        list-style: none;
                        color: @color-link;
                        padding: 11px 33px 11px 0;
                        cursor: pointer;
                        font-size: 13px;
                        &:hover {
                            color: @color-link-hover;
                        }
                        &:last-child {
                            border: none;
                            color: #4d4b4b;
                            cursor: default;
                            position: relative;
                            &::after {
                                content: '';
                                position: absolute;
                                background-image: url("../../ima/sprite-roz.svg");
                                background-repeat: no-repeat;
                                background-position: -495px -471px;
                                width: 16px;
                                height: 13px;
                                right: 10px;
                            }
                        }
                    }
                }
                .top-content-menu-btn {
                    display: flex;
                    padding-top: 11px;
                    margin-left: 10px;
                    .width-btn {
                        background: @white-color;
                        border: 1px solid #d2d2d2;
                        width: 38px;
                        display: inline-block;
                        height: 26px;
                        position: relative;
                        margin-top: 5px;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            background-image: url("../../ima/sprite-roz.svg");
                            background-repeat: no-repeat;
                            background-position: -627px -798px;
                            width: 14px;
                            height: 14px;
                        }
                    }
                    .width20-btn {
                        border-radius: 4px 0 0 4px;
                    }
                    .width25-btn {
                        border-radius: 0 4px 4px 0;
                    }
                    input {
                        &:checked {
                            & + label {
                                background: @but-search;
                                border-color: @but-search;
                                &::before {
                                    background-position: -611px -798px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .content-item-list {
        padding-top: 6px;
        display: flex;
        flex-wrap: wrap;
        .content-item {
            position: relative;
            img {
                width: 100%;
            }
            &:hover {
                z-index: 10;
                &::after {
                    content: '';
                    width: 100%;
                    height: 588px;
                    border: 1px solid @border-color;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    box-shadow: 0px 10px 25px rgba(000,000,000,.7);
                }
                .content-item-none {
                    display: block;
                    position: absolute;
                    background-color: #fff;
                    padding-bottom: 13px;
                    padding-right: 10px;
                    z-index: 10;
                }
            }
            width: 20%;
            box-sizing: border-box;
            padding: 25px 10px 30px 8px;
            border-right: 1px solid @border-color;
            border-bottom: 1px solid @border-color;
            .content-item-stock {
                color: @color-new-price;
                padding-right: 18px;
                padding-top: 13px;
                line-height: 14px;
                margin-bottom: 3px;
                position: relative;
                &::after {
                    content: '';
                    background-image: url("../../ima/sprite-roz.svg");
                    background-repeat: no-repeat;
                    background-position: -635px -872px;
                    width: 15px;
                    height: 15px;
                    left: 22px;
                    position: absolute;
                }
            }
            .content-item-title {
                margin: 5px 0 10px;
                display: block;
                font-size: 13px;
                color: @color-link;
                text-decoration: none;
                &:hover {
                    color: @color-link-hover;
                }
            }
            .prices-rating-container {
                display: flex;
                .content-item-prices {
                    display: flex;
                    flex-direction: column;
                    .old-price {
                        font-size: 18px;
                        color: #999;
                        position: relative;
                        margin-left: 7px;
                        display: inline-block;
                        span {
                            font-size: 12px;
                        }
                        &::before {
                            content: '';
                            width: 76px;
                            height: 1px;
                            position: absolute;
                            background: #fb515d;
                            left: 0;
                            top: 50%;
                        }
                    }
                    .new-price {
                        background: #fef2b8;
                        border-radius: 4px;
                        display: inline-block;
                        padding: 7px 7px 5px;
                        color: #fb515d;
                        border: 1px solid transparent;
                        font-size: 18px;
                        margin-right: 7px;
                        margin-bottom: 7px;
                        span {
                            font-size: 12px;
                        }
                    }
                }
                .content-item-rating {
                    padding-top: 32px;
                    .rating-stars {
                        display: inline-block;
                        cursor: pointer;
                        &:hover {
                            & + .rating-view {
                                color: @color-link-hover;
                            }
                        }
                        span {
                            display: inline-block;
                            width: 15px;
                            height: 14px;
                            position: relative;
                            margin-right: -4px;
                        }
                        .star-full {
                            &::before {
                                position: absolute;
                                width: 15px;
                                height: 14px;
                                content: '';
                                background-image: url("../../ima/sprite-roz.svg");
                                background-repeat: no-repeat;
                                background-position: -324px -183px;
                            }
                        }
                        .star-incomplet {
                            &::before {
                                position: absolute;
                                width: 15px;
                                height: 14px;
                                content: '';
                                background-image: url("../../ima/sprite-roz.svg");
                                background-repeat: no-repeat;
                                background-position: -251px -183px;
                            }
                        }
                    }
                    .rating-view {
                        font-size: 11px;
                        color: @color-link;
                        padding-left: 5px;
                        cursor: pointer;
                        &:hover {
                            color: @color-link-hover;
                        }
                    }
                }
            }
            .content-item-tools {
                margin-top: 10px;
                span {
                    display: inline-block;
                    position: relative;
                    width: 47px;
                    height: 34px;
                    cursor: pointer;
                    border: 1px solid transparent;
                    &:hover {
                        border: 1px solid #fd9fa5;
                        border-radius: 3px;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        background-image: url("../../ima/sprite-roz.svg");
                        background-repeat: no-repeat;
                    }
                }
                .tools-buy {
                    &::before {
                        background-position: -156px -872px;
                        width: 24px;
                        height: 23px;
                        left: 9px;
                        top: 4px;
                    }
                }
                .tools-like {
                    border-right: 1px solid @border-color;
                    border-left: 1px solid @border-color;;
                    &::before {
                        background-position: -377px -838px;
                        width: 25px;
                        height: 23px;
                        left: 11px;
                        top: 4px;
                    }
                }
                .tools-comparison {
                    &::before {
                        background-position: -283px -798px;
                        width: 29px;
                        height: 22px;
                        left: 9px;
                        top: 4px;
                    }
                }
            }
            .content-item-none {
                display: none;
                .content-item-info {
                    display: flex;
                    padding: 15px 0;
                    .item-info {
                        margin-right: 6px;
                    }
                }
                .content-item-description {
                    margin-top: 6px;
                    font-size: 13px;
                    line-height: 18px;
                    color: #4d4b4b;
                }
            }
        }
    }
}
footer.footer {
    margin-top: 100px;
    .footer-top {
        padding: 32px 56px;
        margin-bottom: 37px;
        background: #f5f5f5;
        border-radius: 4px;
        border: 1px solid #e9e9e9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            font-size: 24px;
            line-height: 29px;
            font-weight: 400;
            color: #221f1f;
        }
        form {
            display: flex;
            .mail {
                width: 272px;
                margin-right: 8px;
                border: 1px solid #d2d2d2;
                border-radius: 4px;
                padding: 9px;
                box-sizing: border-box;
                font-size: 15px;
                color: #4d4b4b;
                outline: none;
                &:focus {
                    border-color: black;
                }
            }
            .mail-btn {
                padding: 9px 16px;
                font-size: 16px;
                line-height: 19px;
                color: @white-color;
                cursor: pointer;
                border-radius: 4px;
                background: @color-link;
                outline: none;
                border: none;
                &:hover {
                    background: #4096e3;
                }
            }
        }
    }
    .footer-color-wrap {
        background: @but-search;
        margin-top: 85px;
        .footer-application {
            display: flex;
            padding: 0 5%;
            .footer-app-phone {
                width: 248px;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    background-image: url("../../ima/sprite-roz.svg");
                    background-repeat: no-repeat;
                    background-position: -1px -1px;
                    width: 248px;
                    height: 120px;
                    left: 0;
                    bottom: 0;
                    z-index: 10;
                }
            }
            .footer-app-text {
                text-align: center;
                line-height: 70px;
                flex-grow: 1;
                h2 {
                    font-size: 24px;
                    color: @white-color;
                    font-weight: 400;
                }
            }
            .footer-app-btn {
                padding: 16px 0;
                .apple-app {
                    display: inline-block;
                    width: 120px;
                    height: 40px;
                    background-image: url("../../ima/sprite-roz.svg");
                    background-repeat: no-repeat;
                    background-position: -318px -403px;
                    margin-right: 8px;
                }
                .google-app {
                    display: inline-block;
                    width: 128px;
                    height: 40px;
                    background-image: url("../../ima/sprite-roz.svg");
                    background-repeat: no-repeat;
                    background-position: -454px -103px;
                }
            }
        }
    }
    .footer-color-gray-wrap {
        background-color:  #f5f5f5;
        .footer-color-gray-wrap-border {
            border-bottom: 1px solid #e9e9e9;
        }
        .footer-links {
            padding: 24px 0;
            display: flex;
            justify-content: space-between;
            .footer-links-item {
                width: 20%;
                li {
                    list-style: none;
                    margin-bottom: 13px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .link-item {
                        text-decoration: none;
                        font-size: 14px;
                        line-height: 16px;
                        color: @color-link;
                        &:hover {
                            color: @color-link-hover;
                        }
                    }
                }
                .link-item-title {
                    margin-bottom: 10px;
                    font-size: 12px;
                    line-height: 12px;
                    color: #797878;
                }
                .link-item-style {
                    padding-top: 22px;
                    li {
                        margin-bottom: 17px;
                        a {
                            position: relative;
                            padding-left: 25px;
                            &::before {
                                content: '';
                                position: absolute;
                                background-image: url("../../ima/sprite-roz.svg");
                                background-repeat: no-repeat;
                                width: 16px;
                                height: 16px;
                                left: 0;
                            }
                        }
                        &:first-child {
                            a {
                                &::before {
                                    background-position: -654px -714px;
                                }
                                &:hover {
                                    &::before {
                                        background-position: -636px -714px;
                                    }
                                }
                            }
                        }
                        &:nth-child(2) {
                            a {
                                &::before {
                                    background-position: -708px -714px;
                                }
                                &:hover {
                                    &::before {
                                        background-position: -690px -714px;
                                    }
                                }
                            }
                        }
                        &:nth-child(3) {
                            a {
                                &::before {
                                    background-position: -672px -714px;
                                }
                            }
                        }
                    }
                }
                .social-list {
                    padding-top: 15px;
                    .social-item {
                        margin-right: 4px;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
        .footer-bottom {
            padding: 12px 0;
            .footer-bottom-content {
                display: flex;
                .footer-bottom-pay {
                    a {
                        display: inline-block;
                        width: 72px;
                        height: 40px;
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            background-image: url("../../ima/sprite-roz.svg");
                            background-repeat: no-repeat;
                            width: 72px;
                            height: 32px;
                        }
                        &:first-child {
                            margin-right: 6px;
                            &::before {
                                background-position: -370px -253px;
                            }
                        }
                        &:last-child {
                             &::before {
                                 background-position: -367px -295px;
                             }
                        }
                    }
                }
                .footer-bottom-copy {
                    flex-grow: 1;
                    text-align: center;
                    p {
                        color: #221f1f;
                        font-size: 12px;
                        line-height: 43px;
                        span {
                            color: #797878;
                        }
                    }
                }
                .footer-bottom-btn {
                    a {
                        display: inline-block;
                        font-size: 16px;
                        line-height: 19px;
                        padding: 9px 20px 10px;
                        color: @color-link;
                        text-decoration: none;
                        border: 1px solid #ebebeb;
                        background-color: #f5f5f5;
                        border-radius: 4px;
                        &:hover {
                            color: #4096e3;
                        }
                    }
                }
            }
        }
    }
}
