@text-color: #333;
@goods-text-color: #4d4b4b;
@header-bg: #122538;
@white-color: #fff;
@pop-bg: #345534;
@pop-bg-hover: #4EC6DE;
@but-search: #00a046;
@but-search-hover: #00bc52;
@color-link-hover: #ff7878;
@color-link: #3e77aa;
@color-new-price: #fb3f4c;
@border-color: #eaeaea;
