* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-weight: normal;
    color: #333333;
}

div.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 5px 32px;
    box-sizing: border-box;
    @media(max-width: @second-desktop-break-point){
        padding: 5px 16px;
    }
    @media(max-width: @second-mobile-break-point){
        padding: 5px;
    }
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

h3 {
    font-size: 22px;
    font-weight: normal;
}

h4 {
    font-size: 12px;
    font-weight: normal;
}

p {
    font-size: 16px;
}
