a,
.link {
  @link_color: red;
  color: @link_color;
}
a:hover{
  color: @link_color;
}
.widget{
  color: @blue;
  background: @link_color;
}
/*---------------------*/

@my-selector: banner;
.@{my-selector}{
  margin: 0 auto;
}

@images: "../img";

body{
  color: #0000ff;
  background: url("@{images}/white-send.png");
}

@primary: green;
@section: blue;

.section{
  @color: primary;

  .element{
    color: @@color;
  }
}
.lazy-label{
  width: @vars;
}
@vars: 10%;

a{
  color: green;
  &:hover{
    color: blue;
  }
  &:after{
    content: '';
    display: block;
  }
}
.bottom{
  background-color: blue;
  &-ok{
    background-color: #428bca;
  }
  &-cancel{
    background-color: rebeccapurple;
  }
  &-costom{
    background-color: white;
  }
}

.link{
  & + & {
    color: white;
  }
  & &{
    color: rebeccapurple;
  }
  &&{
    color: #428bca;
  }
  &, &is{
    background-color: green;
  }
}

.grand{
  .parent{
    & > & {
      color: white;
    }
    & + & {
      color: white;
    }
    & &{
      color: rebeccapurple;
    }
    &&{
      color: #428bca;
    }
    &, &is{
      background-color: green;
    }
  }

}


