.wrapper{
    max-width: 300px;
    margin: 0 auto;
    padding: 15px;
    background-color: lightgrey;
    color: white;
}
.wrapper input,
.wrapper textarea,
.wrapper p{
    display: block;
    margin: 0 auto;
}
form div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #00a046;
    transition: all .5s ease-in-out;
}
.active{
    background-color: red;
}