header{
    .top-header{
        background: @top-header-bgcolor;
        color:  @top-header-color;
            .wrapper{
                display: flex;
                flex-flow: row-reverse;
                font-size: 13px;
                line-height: 15px;
                padding: 0 15px;
                i{
                    color: @button;
                    font-size: 11px;
                    padding: 16px 15px;
                }
                .select-language{
                    align-items: center;
                    display: flex;
                    position: relative;
                    margin: 0 20px;
                    .language{
                        display: none;
                    }
                    .french{
                        text-transform: uppercase;
                        height: 100%;
                        align-items: center;
                        display: flex;
                    }
                    &:hover .french{
                        color: @button;
                    }
                    &:hover .language{
                        display: block;
                        position: absolute;
                        top: 43px;
                        right: -25px;
                        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
                        background-color: @basebg-color;
                        z-index: 2;
                        .lang-box{
                            margin: 11px;
                            width: 132px;
                            padding: 7px 5px;
                            background-color: @top-header-link-bgcolor;
                            color: @base2-color;
                            text-transform: capitalize;
                            &:hover{
                                outline: 1px solid @button;
                                color: @button;
                                background-color: @basebg-color;
                            }
                        }
                    }
                }
                .select-currency{
                    align-items: center;
                    display: flex;
                    position: relative;
                    margin: 0 15px 0 20px;
                    .currency-checked{
                        text-transform: uppercase;
                    }
                    &:hover .currency-checked{
                        color: @button;
                    }
                    &:hover  .currency{
                        display: block;
                        position: absolute;
                        top: 43px;
                        right: -15px;
                        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
                        background-color: @basebg-color;
                        z-index: 2;
                        .currency-var{
                            margin: 11px;
                            width: 110px;
                            padding: 8px 0;
                            background-color: @top-header-link-bgcolor;
                            color: @base2-color;
                            &:hover{
                                outline: 1px solid @button;
                                color: @button;
                                background-color: @basebg-color;
                            }
                            p{
                                padding-left: 5px;
                            }
                        }
                    }
                    .currency{
                        display: none;
                    }
                }
                .select-currency, .select-language{
                    &::after{
                        color:  @top-header-color;
                        font-family: Font Awesome\ 5 Free;
                        font-weight:900;
                        content: '\f078';
                        position: absolute;
                        right:-10px;
                        font-size: 8px;
                        transition: transform .1s ease;
                    }
                    &:hover::after{
                        transform: rotate(-180deg);
                    }
                }
                    &::before{
                        content: "";
                        border-right: 1px solid @top-header-color;
                        position: absolute;
                    }
            }
            p{
                align-items: center;
                display: flex;
                font-size: 13px;
                line-height: 15px;
                a{
                    color:  @top-header-color;
                    text-decoration: none;
                    text-transform: none;
                    &:hover{
                        color: @button;
                    }
                }
            }
        }
    .main-header{
        .wrapper{
            display: flex;
            flex-flow: row;
            padding: 31px 15px;
                .header-logo{
                    width: 25%;
                }
                .search-pole{
                    width: 50%;
                    position: relative;
                    padding-top: 8px;
                    input{
                        &:nth-child(1){
                            width: 100%;
                            padding: 12px 100px;
                            border: 2px solid @border-color;
                            border-radius: 5px;
                            vertical-align: bottom;
                            display: inline-block;
                            &:focus{
                                border: 2px solid @border-focus;
                            }
                        }
                    }
                    label{
                        width: 9%;
                        background-color: @button;
                        border-radius: 0 5px 5px 0;
                        border: 2px solid @button;
                        position: absolute;
                        right: 0;
                        top: 8px;
                        padding: 13px 20px;
                            &::before{
                                color: @base-color;
                                font-family: Font Awesome\ 5 Free;
                                font-weight:900;
                                content: '\f002';
                                position: absolute;
                                left: calc(50% - 7px);
                                top: calc(50% - 9px);
                                font-size: 15px;
                            }
                            &:hover{
                                background-color: @button-hover;
                                border-color: @button-hover;
                                cursor: pointer;
                            }
                    }
            }
            .cart-menu{
                width: 26%;
                padding-left: 2.5%;
                padding-top: 8px;
                display: flex;
                justify-content: space-between;
                position: relative;
                label.like-btn{
                    width: 9%;
                    padding: 10px 20px;
                    position: relative;
                    border: 2px solid @border-color;
                    border-radius: 5px;
                    background: @basebg-color;
                    &::before{
                        color: @base2-color;
                        font-family: Font Awesome\ 5 Free;
                        font-weight:900;
                        content: '\f004';
                        position: absolute;
                        left: calc(50% - 7px);
                        top: calc(50% - 8px);
                        font-size: 15px;
                    }
                    &:hover{
                        border: 2px solid @base2-color;
                        cursor: pointer;
                    }
                }
                .cart-popup-btn{
                    font-size: 13px;
                    text-transform: capitalize;
                    color: @base2-color;
                    display: flex;
                    cursor: pointer;
                    position: relative;
                    &:hover:before{
                        content: '1';
                    }
                    &:hover>p>span::before{
                        content: '$205.00';
                        right: -15px;
                    }
                    &:hover .cart-popup-btn-hover{
                        display: block;
                    }
                    &::before{
                        content: "0";
                        color: @base-color;
                        background-color: @button;
                        border-radius: 50%;
                        position: absolute;
                        top: -28%;
                        left: 19%;
                        width: 8px;
                        height: 13px;
                        padding: 5px 8px;
                        z-index: 1;
                    }
                    .basket{
                        padding: 13px 14px;
                        border: 2px solid @border-color;
                        border-right: 0;
                        border-radius: 5px 0 0 5px;
                        i{
                            color: @base2-color;
                        }
                    }
                    &>p{
                        padding: 13px 10px;
                        border: 2px solid @border-color;
                        border-radius: 0 5px 5px 0;
                        width: 126px;
                        position: relative;
                        span{
                            position: absolute;
                            left: 100px;
                        }
                        span::before{
                            color:@button;
                            content: '$0.00';
                            right: 0;
                            position: absolute;
                        }
                    }
                    &:hover{
                        .basket{
                            border: 2px solid @border-color;
                            border-right: 0;
                        }
                        &>p{
                            border: 2px solid @border-color;
                        }
                    }
                }
                .cart-popup-btn-hover{
                    display: none;
                    position: absolute;
                    top: 100%;
                    border: 1px solid @border-color;
                    z-index: 2;
                    background-color: @basebg-color;
                    width: 354px;
                    right: 0;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
                    .btn-wrapper{
                        border-bottom: 1px solid @top-header-color;
                        padding: 18px 25px;
                        .description{
                            display: flex;
                            flex-flow: row;
                            padding-bottom: 25px;
                            &-img{
                                position: relative;
                                &::after{
                                    position: absolute;
                                    content: 'x';
                                    right: -8px;
                                    bottom: -5px;
                                    background-color: @base2bg-color;
                                    color: @base-color;
                                    border-radius: 50%;
                                    padding: 3px 6px;
                                    font-weight: bold;
                                    cursor: pointer;
                                }
                            }
                            &-txt{
                                display: flex;
                                justify-content: space-between;
                                flex-flow: column;
                                color: @txt1-color;
                                padding-left:15px;
                                .cart-details{
                                    height: 25%;
                                    &[open] summary::after{
                                            transform: rotate(-180deg);
                                            top: 2px;
                                    }
                                    summary{
                                        position: relative;
                                        padding-bottom: 5px;
                                        width: max-content;
                                        &::-webkit-details-marker{
                                            display: none;
                                        }
                                    }
                                    summary::after{
                                        color: @txt1-color;
                                        font-family: Font Awesome\ 5 Free;
                                        font-weight: 900;
                                        content: '\f078';
                                        position: absolute;
                                        top: 2px;
                                        right: -15px;
                                        font-size: 8px;
                                        transition: linear .2s;
                                    }
                                }
                            }
                        }
                        .quantity-to-buy{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            input[type = text]{
                                border-radius: 5px;
                                padding: 5px;
                                border: 1px solid @top-header-color;
                                width: 76px;
                                text-align: center;
                            }
                            .update-btn{
                                text-transform: capitalize;
                                background-color: @button;
                                color: @base-color;
                                border-radius: 5px;
                                padding: 7px 19px;
                                cursor: pointer;
                            }
                            span{
                                color: @button;
                            }
                        }
                        .cart-subtotal{
                                text-transform: uppercase;
                                font-weight: bold;
                                font-size: 13px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                span{
                                    color: @button;
                                    font-size: 18px;
                                }
                        }
                        .checkout-btns{
                            display: flex;
                            justify-content: space-between;
                            text-transform: uppercase;
                            label{
                                background-color: @button;
                                border-radius: 5px;
                                color: @base-color;
                                padding: 8px 32px;
                                cursor: pointer;
                                &:hover{
                                    background-color: @border-focus;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header-nav{
        border-bottom: 2px solid @button;
        .wrapper{
            padding: 0 15px;
            text-transform: uppercase;
            font-weight: bold;
            .all-categories{
                background-color: @button;
                color: @base-color;
                border-radius: 5px 5px 0 0;
                position: relative;
                p{
                    padding: 19px 132px 19px 16px;
                }
                span{
                    position: absolute;
                    right: 25px;
                    top: 30px;
                    border-bottom: 1px;
                    width: 15px;
                    background-color: @basebg-color;
                    height: 2px;
                    &:nth-child(2){
                        top: 25px;
                    }
                    &:nth-child(3){
                        top: 20px;
                    }
                }
            }
            .navbar{
                margin-left: 30px;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    .arrow-anim {
                        &:hover::after {
                            transform: rotate(-180deg);
                            color: @base-color;
                        }
                        &::after {
                            color: @base2-color;
                            font-family: Font Awesome\ 5 Free;
                            font-weight: 900;
                            content: '\f078';
                            position: absolute;
                            top: 22px;
                            right: 8px;
                            font-size: 8px;
                            transition: transform .3s ease;
                        }
                    }
                     li{
                        list-style-type: none;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: 18px 15px 17px;
                        color: @base2-color;
                        position: relative;
                        margin-right: 1px;
                         a{
                             text-decoration: none;
                             color: @base2-color;
                             padding: 18px 15px 17px;
                         }
                        &:hover{
                            background-color: @button;
                            color: @base-color;
                            border-radius: 5px 5px 0 0;
                            border-bottom: 3px solid @button;
                            position: relative;
                        }
                        &:first-child .hidden-menu{
                            display: none;
                        }
                        &:first-child:hover .hidden-menu{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            background-color: @basebg-color;
                            z-index: 5;
                            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
                            width: 869px;
                            display: flex;
                            flex-flow: column;
                            border-radius: 0;
                            border-bottom: none;
                            .first-col,.second-col{
                                display: flex;
                                justify-content: space-between;
                                line-height: 30px;
                                font-weight: normal;
                            }
                            a{
                                text-decoration: none;
                                color: @base2-color;
                                text-transform: capitalize;
                                width: max-content;
                                display: inline;
                                &:hover{
                                    color: @button;
                                }
                            }
                            .col-justyfy{
                                display: flex;
                                flex-flow: column;
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1092px) {
 .all-categories{
     width: 65px;
     height: 50px;
     p{
         display: none;
     }
 }
}
@media only screen and (max-width: 992px) {
    header{
        .header-nav .wrapper .all-categories{
            width: 100%;
            p{
                display: block;
                padding: 19px 112px 19px 25px;
            }
        }
        .main-header{
            .wrapper{
                .navbar{
                    margin: 0;
                    nav{
                        display: none;
                    }
                }
                .search-pole {
                    width: 45%;
                }
                .cart-menu{
                    width: 30%;
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    header{
        .main-header{
            .wrapper{
                flex-flow: column;
                .header-logo{
                    width: 100%;
                    text-align: center;
                }
                .search-pole{
                    width: 100%;
                }
                .cart-menu{
                    width: 100%;
                    padding: 15px 0 0;
                }
                .navbar{
                    nav{
                        display: none;
                    }
                }
            }
        }
    }
}
