main .wrapper-main-content.product-page {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.main-block{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    .aside-block{
        width: 25%;
        padding-right: 22px;
        .aside-navigation {
            margin-bottom: 25px;
            .aside-item-cart {
                display: flex;
                flex-flow: column;
                .aside-header {
                    background-color: @button;
                    color: @base-color;
                    border-radius: 5px 5px 0 0;
                    position: relative;
                    padding: 16px;
                    span {
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
                .aside-item-list {
                    border: 1px solid @border-color;
                    h3{
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 600;
                        padding: 15px 0;
                        width: 100%;
                        color: @base2-color;
                    }
                    .aside-color-bar {
                        border-bottom: 1px solid @border-color;
                        padding: 20px 10px 20px 20px;
                        p {
                            text-transform: uppercase;
                            padding: 15px 5px;
                        }
                        .choose-color {
                            display: inline-block;
                            li {
                                border: 1px solid @border-color;
                                padding: 1px;
                                margin: 5px;
                                width: max-content;
                                display: flex;
                                flex-flow: row;
                                flex-wrap: wrap;
                                float: left;
                                cursor: pointer;
                                span {
                                    width: 25px;
                                    height: 25px;
                                }
                                &:nth-child(1) span {
                                    background-color: @base2-color;
                                }
                                &:nth-child(2) span {
                                    background-color: brown;
                                }
                                &:nth-child(3) span {
                                    background-color: grey;
                                }
                                &:nth-child(4) span {
                                    background-color: green;
                                }
                                &:nth-child(5) span {
                                    background-color: orange;
                                }
                                &:nth-child(6) span {
                                    background-color: purple;
                                }
                                &:nth-child(7) span {
                                    background-color: @button;
                                }
                                &:nth-child(8) span {
                                    background-color: white;
                                }
                                &:nth-child(9) span {
                                    background-color: yellow;
                                }
                            }
                        }
                    }
                    .aside-price-bar{
                        &-scroll{
                            border-bottom: 1px solid @border-color;
                            padding:20px;
                        }
                        &-category{
                            border-bottom: 1px solid @border-color;
                            padding: 20px 10px 20px 20px;
                            display: flex;
                            flex-flow: column;
                            label{
                                text-transform: capitalize;
                                line-height: 25px;
                            }
                            input[type=checkbox]:checked + label {
                                color: @button;
                            }
                        }
                    }
                    .aside-chose-model,
                    .aside-year-category{
                        display: flex;
                        flex-wrap: wrap;
                        padding: 20px 10px 20px 20px;
                        border-bottom: 1px solid @border-color;
                        input[type=checkbox]:checked + label {
                            color: @button;
                            border: 1px solid @button;
                        }
                        label{
                            text-transform: capitalize;
                            border: 1px solid @border-color;
                            border-radius: 5px;
                            padding: 10px 5px;
                            margin: 5px 5px 0 0;
                        }
                    }
                    .compare{
                        padding: 20px 10px 20px 20px;
                        border-bottom: 1px solid @border-color;
                        p {
                            position: relative;
                            a{
                                text-decoration: none;
                                color: @base2-color;
                                text-transform: capitalize;
                                &:hover{
                                    color: @button;
                                }
                            }
                            &::after{
                                position: absolute;
                                right: 0;
                                content: '\f00d';
                                font-family: Font Awesome\ 5 Free;
                                color: @base2-color;
                                font-weight: 900;
                                font-size: 15px;
                                cursor: pointer;
                            }
                        }
                    }
                    .comapre-result{
                        padding: 20px;
                        border-bottom: 1px solid @border-color;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                        .submitCompare{
                            padding: 5px 15px;
                            background-color: @button;
                            color: @base-color;
                            border-radius: 5px;
                            border: none;
                            &:hover{
                                opacity: .5;
                                cursor: pointer;
                            }
                        }
                        .resetCompare{
                            background-color: @base-color;
                            border: none;
                            &:hover{
                                cursor: pointer;
                                color: @button;
                            }
                        }
                    }
                }
            }
        }
    }
    .main-content{
        display: flex;
        flex-flow: row;
        &-header{
            .header-title h2{
                text-transform: capitalize;
                padding: 8px 0;
                font-size: 30px;
            }
            .responsive-view{
                background-color: @response-color;
                border: 1px solid @border-color;
                border-radius: 5px;
                padding: 11px;
                margin: 30px 0;
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                .type-of-view{
                    margin-top: 5px;
                    input[type=radio]:checked + label{
                        background-color: @button;
                        border: 1px solid @button;
                        &::after{
                            color: @base-color;
                        }
                    }
                    span{
                        vertical-align: sub;
                        margin-left: 25px;
                    }
                }
                .type-of-view label{
                    position: relative;
                    padding: 9px 17px 8px 16px;
                    margin-right: 5px;
                    vertical-align: sub;
                    border: 1px solid @view-btn;
                    border-radius: 5px;
                    &:checked{
                        background-color: @button;
                    }
                    &::after {
                        color: @view-btn;
                        font-family: Font Awesome\ 5 Free;
                        font-weight: 900;
                        position: absolute;
                        font-size: 20px;
                        top: 20%;
                        left: 20%;
                    }
                    &:nth-child(2)::after {
                        content: '\f00a';
                    }
                    &:nth-child(4)::after {
                        content: '\f03a';
                    }
                }
            }
            .what-to-show{
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                .quantity-to-show{
                    margin-right: 50px;
                }
                .sort-by-show{
                    position: relative;
                    padding-right: 15px;
                        &::after{
                            color: @base2-color;
                            font-family: Font Awesome\ 5 Free;
                            font-weight: 900;
                            position: absolute;
                            font-size: 20px;
                            content: '\f30c';
                            right: 0;
                            top: 4px;
                        }
                }
            }
        }
        .products-cart-block .product-cart>.related-products.product-page{
            padding-top: 5px;
        }
    }
    .related-products.product-page{
        padding-top: 5px;
        .related-product-list .related-product-cart,
        .related-product-list .related-product-cart:hover{
            position: relative;
            .sale,
            .new{
                position: absolute;
                top: 15px;
                color: @base-color;
                padding: 12px;
                text-transform: uppercase;
                z-index: 1;
                &::before,
                &::after{
                    position: absolute;
                    content: '';
                    bottom: -7px;
                    width: 0;
                    height: 0;
                    border-top: 7px solid transparent;
                }
            }
            .sale{
                left: -10px;
                background-color: @button;
                &::before{
                    background-color: @sale-flag-color;
                    left: 0;
                    border-left: 10px solid @basebg-color;
                }
            }
            .new {
                right: -10px;
                background-color: @new-color;
                &::before {
                    background-color: @new-flag-color;
                    right: 0;
                    border-right: 10px solid @base-color;
                }
            }
        }
    }
}
#price-range{
    text-align: center;
}
#price,#price2{
    border: 1px solid @border-color;
    border-radius: 5px;
    padding: 8px;
    width: 50px;
    text-align: center;
    font-weight: bold;
}
@media only screen and (max-width: 992px) {
    .main-block{
        .aside-block{
        display: none;
        }
        .main-content .products-cart-block .product-cart .related-products.product-page .related-product-list{
            justify-content: normal;
        }
    }
}
@media only screen and (max-width: 767px) {
    .main-block .main-content .main-content-header .responsive-view {
        .what-to-show {
            display: none;
        }
    }
}
