.tooltip[data-tooltip] {
    position: relative;
}

.tooltip-active[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -20px;
    right: -20px;
    width: 50px;
    pointer-events: none;
    opacity: 1;
    transition: opacity .15s ease-in-out;
    display: block;
    font-size: 12px;
    line-height: 16px;
    background: #fefdcd;
    padding: 2px 2px;
    border: 1px solid #c0c0c0;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}
div {
    margin-top: 10px;
    background: #0a0;
    width: 100px;
    height: 100px;
}