body{
    margin: 0;
    padding: 0;
}
.wraper{
    margin: 150px auto;
    width: 469px;
    position: relative;
}
input[id=tab-1]:checked ~ .dws-container{
    opacity: 1;
    height: 600px;
    transform:translateY(30px);
}
input[id=tab-1]:checked ~ .containTwo{
    transform: scale(0);
}
.dws-container{
    opacity: 0;
    height: 0;
    transform:translateY(0px);
    transition: all 1s;
    margin-bottom: 100px;
}
.wraper input[type=radio]{
    display: none;
}
.wraper > label{
    cursor: pointer;
    display: inline-block;
    padding: 5px 40px ;
    background-image: linear-gradient(to right top, #6e30a6, #732e98, #752c8b, #752c7e, #732d73);
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    opacity: 0.8;
    transition: all 0.5s;
}
.wraper > label:last-of-type{
  position: absolute;
    right: 0;
}
.wraper > label:first-child::after{
    content: "";
    width: 80px;
    height: 83px;
    position: absolute;
    top:25px;
    left: 0;
    border-left: 2px solid #6e30a6;
    border-bottom: 2px solid #6e30a6;
}
.wraper > label:hover:first-child::before{
    content: "\21D3";
    position: absolute;
    color: white;
    left: 15px;
    top: 4px;
}
.wraper > label:hover:last-of-type::before{
    content: "\21D1";
    position: absolute;
    color: white;
    left: 15px;
    top: 4px;
}
.wraper > label:last-of-type::after{
    content: "";
    width: 80px;
    height: 83px;
    position: absolute;
    top:25px;
    right: 0;
    border-right: 2px solid #6e30a6;
    border-bottom: 2px solid #6e30a6;
}
.wraper > label:hover{
    color: white;
    opacity: 1;
}
.formBox{
    padding: 30px;
    border: 4px solid #8a36a5;
    width: 400px;
    min-height: 500px;
}
.dws-container h3{
    background-color: #8a36a5;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    padding: 10px 0;
    border-radius: 8px 8px 0 0 ;
    width: 70%;
    cursor: pointer;
}
.inputBox{
    margin: 0 0 20px;
}
.labelText{
    font-size: 18px;
    color: darkgray;
}
.userInput{
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #575454;
    outline: none;
    border: none;
    border-bottom: 1px solid #a5a5a5;
    transition: all 0.5s;
}
.wraper input[type=submit]{
    color: white;
    background-color: #8a36a5;
    width: 120px;
    height: 50px;
    border-radius: 15px 15px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.7;
}
.wraper input[type=submit]:hover {
    line-height: 20px;
    opacity: 1;
}

.wraper .userInput:focus{
    border-bottom: 3px solid #8a36a5;
}
.containTwo{
    position: absolute;
    width: 80px;
    top: 10px;
    left: calc(50% - 40px);
    color: #732d73;
    border-bottom: 2px solid #8a36a5;
    text-align: center;
}




