@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@white: #fff;
@black: #333;
@lightergray: #d5d5d5;
@lightgray: #f0f3f1;
@gray: #e3dddd;
@text: #888;
@button: #3e3e3f;
@button-hover: #565657;
@desktop: 993px;
@tablet: 1200px;
@phone: 500px;
@phone-support: 786px;
@header-button-hover: #f5f5f5;
@support-color: #eb2645;
@support-hover-color: #d0223d;
@support-blue-color: #182d47;
@support-blue-color-hover: #0f1c2c;
@base-padding: 5px 50px;
@block-padding: 25px;
