.wish-button{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    &:hover{
        background-color: @button-background-color-hover;
    }
}
.green-button{
    display: inline-block;
    background-color: @element-background-color;
    color: @btn-font-color;
    font-size: 16px;
    padding: 0 16px;
    border: none;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    &:hover{
        background-color: @element-background-color-hover;
    }
}
.gray-button{
    display: inline-block;
    background-color: @button-gray-background;
    color: @button-gray-font-color;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 25px;
    border: 1px solid @button-gray-border-color;
    &:hover{
        color: @button-gray-font-color-hover;
    }
}

.blue-button{
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    padding: 9px 16px;
    color: @header-font-color;
    background-color: @button-blue-background;
    border: none;
    &:hover{
        background: @button-blue-background-hover;
    }
}

.close-button{
    display: inline-block;
    position: absolute;
    .container-mixin(@width: 27px, @height: 27px);
    cursor: pointer;
    border-radius: 50%;
    background-color: @header-icon-background-color;
    top: 8px;
    right: 8px;
    &:hover{
        background-color: @button-close-background-hover;
    }
    svg{
        .middle-mixin();
        fill: @header-font-color;
    }
}
