.wish-button{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    &:hover{
        background-color: @button-background-color-hover;
    }
}
.green-button{
    display: inline-block;
    background-color: @element-background-color;
    color: @btn-font-color;
    font-size: 16px;
    padding: 0 16px;
    border: none;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
    &:hover{
        background-color: @element-background-color-hover;
    }
}
