.footer {
    &__subscribe {
        width: 100%;
        padding-bottom: 35px;
    }

    &__application {
        width: 100%;
        padding: 13px 5%;
        margin-top: 45px;
        position: relative;

        &-bg {
            width: 100%;
            background-color: @element-background-color;
        }

        &__left-block {
            float: left;
            height: 100%;
        }

        &__img {
            position: relative;
            height: 100%;
        }

        &__left-block > &__img img {
            position: absolute;
            bottom: -55px;
            left: 0;
            .container-mixin(@width: 248px, @height: 120px);
            .background-sprite-mixin(@positionX: -1px, @positionY: -1px);
        }

        &__right-block {
            .app-store_link img {
                .container-mixin(@width: 120px, @height: 40px);
                .background-sprite-mixin(@positionX: -318px, @positionY: -403px);
            }

            .google-play_link img {
                .container-mixin(@width: 128px, @height: 40px);
                .background-sprite-mixin(@positionX: -454px, @positionY: -145px);
            }
        }

        &__center-block {
            .middle-mixin();
            font-size: 24px;
            color: @btn-font-color;
        }

        &__right-block {
            float: right;
        }
    }

    &__socials-list {
        .social-link {
            .container-mixin(@width: 24px, @height: 24px);

            &:hover {
                opacity: .8;
            }

            & > .social-link__ico {
                .container-mixin(@width: 16px, @height: 16px);
            }
        }
    }

    &__links {
        width: 100%;

        &-list {
            padding: 24px 0;

            &__col {
                float: left;
                width: 20%;
                display: inline-block;

                &:first-child {
                    position: relative;
                    padding-top: 22px;
                }

                &__title {
                    font-size: 12px;
                    color: @links-list-title-color;
                    padding-bottom: 10px;
                }

                &__item {
                    padding-bottom: 13px;

                    .link > .link-ico {
                        display: inline-block;
                        margin-right: 10px;
                        width: 16px;
                        height: 16px;
                    }

                    .pointer > .link-ico {
                        background-image: url("@{image-url}pointer.svg");
                    }

                    .holidays > .link-ico {
                        background-image: url("@{image-url}holidays.svg");
                    }

                    .call-center > .link-ico {
                        background-image: url("@{image-url}call_center.svg");
                    }
                }

                &__list {
                    margin-top: 20px;
                }
            }
        }

        &_bottom {
            padding: 12px 0;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 1px;
                background-color: @footer-line-color;
            }

            &__payment-links {
                float: left;

                .payment__link {
                    &:first-child img {
                        margin-right: 6px;
                        .container-mixin(@width: 72px, @height: 32px);
                        .background-sprite-mixin(@positionX: -367px, @positionY: -295px);
                    }

                    &:last-child img {
                        .container-mixin(@width: 72px, @height: 32px);
                        .background-sprite-mixin(@positionX: -370px, @positionY: -253px);
                    }
                }
            }

            &__copyright {
                .middle-mixin();
                font-size: 12px;

                span:first-child {
                    color: @form-label-color;
                }

                span:last-child {
                    color: @links-list-title-color;
                }
            }

            &__right-element {
                float: right;
                position: relative;

                .btn-mobile {
                    display: inline-block;
                    border: 1px solid @footer-line-color;
                    border-radius: 4px;
                    padding: 9px 20px 10px;
                    cursor: pointer;

                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.form-subscribe {
    width: 100%;
    padding: 32px 56px;
    background-color: @form-background-color;
    border: 1px solid @form-border-color;
    border-radius: 4px;

    &__label {
        float: left;
        display: inline-block;
        width: 70%;
        font-size: 24px;
        color: @form-label-color;
        padding-right: 20px;
    }

    &__input {
        float: right;
        .container-mixin(@width: calc(20% - 8px), @height: 36px);
        padding: 5px;
        margin-right: 8px;
        border: 1px solid #d2d2d2;
        border-radius: 4px;
    }

    &__btn {
        float: right;
        width: 10%;
        padding: 9px 16px;
        font-size: 16px;
        text-align: center;
        border: none;
        border-radius: 4px;
        color: @btn-font-color;
        background-color: @form-btn-background-color;
        cursor: pointer;

        &:hover {
            background-color: @form-btn-background-color-hover;
        }
    }
}
