.form-respond{
    margin-top: 50px;
    background: @form-respond-background;
    border: 1px solid @button-gray-border-color;
    border-bottom: 0;
    box-shadow: inset 0 -3px 0 0 #c5c5c5, 3px 3px 7px 0 rgba(200,200,200,.5);
    border-radius: 3px;
    overflow: hidden;
    font-size: 15px;
    &__heading{
        padding: 17px 0;
        font-size: 17px;
        color: @form-respond-heading-color;
        span{
            display: inline-block;
            text-align: center;
            width: 50%;
            position: relative;
            padding: 17px 0;
        }
        .left-side{
            float: left;
            &::after{
                .line-mixin(@width: 100%, @height: 4px, @left: 0, @top: calc(100% - 4px), @color: @element-background-color);
            }
        }
        .right-side{
            float: right;
            &:hover::after{
                .line-mixin(@width: 100%, @height: 2px, @left: 0, @top: calc(100% - 2px), @color: @page-hover-color);
            }
        }
    }
    &__stars-rating{
        margin: 8px auto 20px;
        text-align: center;
        .stars-rating{
            &__wrapper{
                display: inline-block;
                transform: rotate(180deg);
            }
            &__star{
                display: inline-block;
                width: 95px;
                float: left;
                transform: rotate(180deg);
                svg{
                    fill: @form-respond-rating-star-fill;
                }
                &:hover{
                    svg{
                        fill: #ffdc2c;
                    }
                    ~ .stars-rating__star > svg{
                        fill: #ffdc2c;
                    }
                }
            }
            &__status{
                font-size: 10px;
                padding-top: 5px;
                color: @form-respond-rating-star-text-color;
            }
        }
    }
    &__content{
        padding: 17px 25px 25px;
    }
    &__label{
        display: inline-block;
        margin-bottom: 6px;
    }
    &__input{
        margin-bottom: 20px;
        width: 100%;
        padding: 5px;
        line-height: 24px;
        border: 1px solid @form-respond-input-border-color;
        border-radius: 4px;
        resize: none;
        caret-color: @form-respond-input-caret-color;
        color: @page-font-color;
        transition: border-color .2s ease;
        &:focus{
            border-color: @form-respond-input-border-color-hover;
        }
    }
    .textarea{
        height: 140px;
    }
    &__submit{
        float: right;
    }
}