* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: @page-font-size;
    letter-spacing: 1.2px;
    color: @page-font-color;
    font-weight: 400;
    background-color: @page-background-color;
    position: relative;
}

.page-overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @page-overlay-color;
    z-index: 20;
}

footer,
main,
.main-page-content {
    max-width: @page-max-width;
    margin: 0 auto;
}

.main-page-content {
    color: @main-page-font-color;
}

.page-wrapper {
    max-width: @page-wrapper-width;
    margin: 0 auto;
}
h1{
    font-size: @h1-font-size;
    color: @heading-font-color;
}
h2{
    font-size: @h2-font-size;
}
h3{
    font-size: @h3-font-size;
}
a.link {
    text-decoration: none;
    transition: color .1s ease-in-out;
    color: @page-link-color;
}

a.link:hover {
    color: @page-hover-color;
}

ul {
    list-style: none;
}

.clearfix-block::after {
    content: "";
    display: table;
    clear: both;
}

.socials-list {
    &__link-item {
        display: inline-block;

        .social-link {
            display: inline-block;
            position: relative;
            margin-right: 8px;
            border-radius: 50%;
            transition: opacity .3s ease;
        }

        .social-link__ico {
            display: inline-block;
            .middle-mixin();
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        & > .fb-link {
            background-color: @facebook-ico-background-color;

            .social-link__ico {
                background-image: url("@{image-url}fb_ico.svg");
            }
        }

        & > .tw-link {
            background-color: @twitter-ico-background-color;

            .social-link__ico {
                background-image: url("@{image-url}tw_ico.svg");
            }
        }

        & > .yt-link {
            background-color: @yuotube-ico-background-color;

            .social-link__ico {
                background-image: url("@{image-url}yt_ico.svg");
            }
        }

        & > .ig-link {
            background: @instagram-ico-background-color;

            .social-link__ico {
                background-image: url("@{image-url}isg_ico.svg");
            }
        }

        & > .vb-link {
            background-color: @viber-ico-background-color;

            .social-link__ico {
                background-image: url("@{image-url}vb_ico.svg");
            }
        }

        & > .latter-link{
            background-color: @latter-ico-background-color  ;

            .social-link__ico{
                background-image: url("@{image-url}latter_ico.svg");
            }
        }
    }
}
.border-right-bottom{
    border-right: 1px solid @page-border-line-color;
    border-bottom: 1px solid @page-border-line-color;
}
.show{
    display: block;
}
