.main{
    &-layout{
        .flex-mixin(@justify: space-between, @align: flex-end);
    }
    &-page-content{
        .main-menu-wrapper{
            position: relative;
        }
        .menu{
            &_hidden{
                position: absolute;
                display: none;
                top: -15px;
                left: -1px;
            }
            &-wrapper{
                width: 301px;
                padding-top: 15px;
                border: 1px solid @menu-categories-border-color;
                //border-bottom: 3px solid @menu-categories-border-bottom-color;
                border-radius: 3px;
                //border-top-left-radius: 3px;
                //border-bottom-left-radius: 3px;
                background: @page-background-color;
                //box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, .5);
                .menu-categories__item__submenu{
                    left: 299px;
                    top: -16px;
                    width: 1141px;
                    height: calc(100% + 16px);
                    border-bottom: 1px solid @menu-categories-border-color;
                    box-shadow: none;
                    padding-left: 9px;
                    border-left: none;
                    border-radius: 0 3px 3px 0;
                    z-index: 20;
                }
            }
            &_hover:hover ~ .menu_hidden{
                display: block;
            }
        }
        .menu_hidden:hover{
            display: block;
        }
    }
    &-content{
        width: calc(100% - 300px);
        display: inline-block;
        padding: 40px 0 0 40px;
    }
    &-slider{

    }
    &-goods{
        width: 100%;
        padding-top: 20px;
        margin-bottom: 45px;
        &__heading{
            padding: 20px 0 16px;
            svg{
                vertical-align: bottom;
                margin-right: 15px;
                fill: @element-background-color;
            }
        }
        &__list{
            .flex-mixin(@justify: space-between, @align: stretch);
            &-item{
                display: inline-block;
                position: relative;
                width: calc(100% / 6);
                vertical-align: top;
                .product-card{
                    padding: 16px 16px 24px;
                }
            }
        }
        &__btn{
            width: 16.66%;
            background-color: @page-background-color;
            cursor: pointer;
            padding: 12px 0;
            float: right;
            border: 1px solid @page-border-line-color;
            margin-right: 1px;
            border-top: none;
            color: @page-link-color;
            &:hover,
            &:hover svg{
                color: @page-hover-color;
                fill: @page-hover-color;
            }
            svg{
                fill: @page-link-color;
            }
        }
    }
}
