.main{
    &-layout{
        .flex-mixin(@justify: space-between, @align: flex-end);
    }
    &-page-content{
        .main-menu-wrapper{
            position: relative;
        }
        .menu{
            &_hidden{
                position: absolute;
                display: none;
                top: -10px;
                left: -1px;
            }
            &-wrapper{
                width: 301px;
                padding-top: 10px;
                border: 1px solid @menu-categories-border-color;
                border-radius: 3px;
                background: @page-background-color;
                .menu{
                    &-categories {
                        z-index: 20;
                    }
                    &-categories__item__submenu{
                        left: 0px;
                        top: -11px;
                        .container-mixin(@width: 1440px, @height: calc(100% + 11px));
                        border: 1px solid @menu-categories-border-color;
                        box-shadow: none;
                        padding-left: 300px;
                        border-radius: 3px;
                    }
                }
            }
            &_hover:hover ~ .menu_hidden{
                display: block;
            }
        }
        .menu_hidden:hover{
            display: block;
        }
    }
    &-content{
        width: calc(100% - 300px);
        display: inline-block;
        padding: 40px 0 0 40px;
    }
    &-slider{

    }
    &-goods{
        width: 100%;
        padding-top: 20px;
        margin-bottom: 45px;
        &__heading{
            padding: 20px 0 16px;
            svg{
                vertical-align: bottom;
                margin-right: 15px;
                fill: @element-background-color;
            }
        }
        &__list{
            .flex-mixin(@justify: space-between, @align: stretch);
            &-item{
                display: inline-block;
                position: relative;
                width: calc(100% / 6);
                vertical-align: top;
                .product-card{
                    padding: 16px 16px 24px;
                }
            }
        }
        &__btn{
            width: 16.66%;
            background-color: @page-background-color;
            cursor: pointer;
            padding: 12px 0;
            float: right;
            border: 1px solid @page-border-line-color;
            margin-right: 1px;
            border-top: none;
            color: @page-link-color;
            &:hover,
            &:hover svg{
                color: @page-hover-color;
                fill: @page-hover-color;
            }
            svg{
                fill: @page-link-color;
            }
        }
    }
}
