.main {
    &-stores,
    &-schedule,
    &-socials,
    &-links {
        padding: 16px 20px;
        border-bottom: 1px solid @page-border-line-color;
    }

    &-sidebar {
        width: 300px;
        display: inline-block;
        float: left;
        position: relative;
        border-right: 1px solid @page-border-line-color;

        &__label {
            font-size: 13px;
            padding-bottom: 12px;
        }
    }

    &-auth {
        width: 100%;
        padding: 16px 24px;
        border-top: 1px solid @page-border-line-color;
        border-bottom: 1px solid @page-border-line-color;
        text-align: center;
        background-color: @sidebar-auth-block-background-color;

        &__heading {
            font-size: 20px;
            margin-bottom: 10px;
        }

        &__caption {
            font-size: 12px;
            margin-bottom: 12px;
        }

        &__button {
            padding: 8px 16px;
            width: 90%;
            text-align: center;
            background-color: @sidebar-button-background-color;
            color: @btn-font-color;
            border: none;
            border-radius: 4px;
            margin-bottom: 14px;

            &:hover {
                background-color: @sidebar-button-background-color-hover;
            }
        }

        &__signup {
            font-size: 15px;
        }
    }

    &-stores {
        padding: 12px 20px;
        border-bottom: 1px solid @page-border-line-color;

        &__btn {
            display: inline-block;
            height: 32px;
            width: 108px;
            position: relative;

            img {
                .middle-mixin();
            }
        }
    }

    &-schedule {
        &__label {
            font-size: 11px;
            color: @sidebar-label-text-color;
            margin-bottom: 10px;
        }

        &__phones {
            font-weight: 700;
            font-size: 13px;
            margin-bottom: 15px;

            &__phone {
                display: inline-block;
                cursor: pointer;
                text-decoration: none;
                color: @main-page-font-color;
                margin-bottom: 3px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__timing {
            margin-bottom: 10px;
            font-size: 12px;

            &-day,
            &-time {
                width: 50%;
                padding: 5px 0;
            }

            &-day {
                float: left;
            }

            &-time {
                float: right;
            }
        }

        &__address {
            position: relative;
            display: inline-block;
            margin-bottom: 8px;
            padding-left: 2px;
            font-size: 14px;

            svg {
                fill: currentColor;
            }

            &_content {
                border-bottom: 1px dashed @page-link-color;
                line-height: normal;

                &:hover {
                    border-bottom-color: @page-hover-color;
                }
            }
        }
    }

    &-socials {
        &__list {
            margin-bottom: 8px;

            .social-link {
                .container-mixin(@width: 28px, @height: 28px);
                opacity: .85;

                &:hover {
                    opacity: 1;
                }
            }

            .fb-link > .social-link__ico {
                .container-mixin(@width: 11px, @height: 20px);
            }

            .tw-link > .social-link__ico,
            .yt-link > .social-link__ico {
                .container-mixin(@width: 18px, @height: 14px);
            }

            .ig-link > .social-link__ico {
                .container-mixin(@width: 18px, @height: 18px);
            }

            .vb-link > .social-link__ico {
                .container-mixin(@width: 18px, @height: 19px);
            }
        }
    }

    &-payment-btn {
        border: none;
        background-color: @page-background-color;
        cursor: pointer;
        margin-right: 18px;
    }

    &-links {
        ul {
            margin-bottom: 24px;
        }

        .links-list {
            &__title {
                margin-bottom: 8px;
                font-size: 12px;
                color: @links-list-title-color;
            }

            &__item {
                margin-bottom: 8px;
            }
        }
    }

    &-copyright {
        padding: 16px 20px;
        font-size: 12px;

        &_color-gray {
            color: @sidebar-copyright-color-gray;
            margin-bottom: 12px;
        }
    }
}
