.menu-categories{
    padding: 25px 0;
    position: relative;
    &__item{
        padding: 5px 8px;
    }
    &__link{
        display: inline-block;
        position: relative;
        width: 100%;
        &-icon{
            fill: @menu-categories-icon-color;
        }
        &-text{
            font-size: 13px;
        }
        &-arrow{
            fill: @page-link-color;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
        &:hover > &-arrow{
            fill: @page-hover-color;
        }
        &:hover > &-text{
            text-decoration: underline;
        }
        svg{
            vertical-align: middle;
        }
    }
}
