.product{
    &__tabs-container{
        width: 100%;
        position: relative;
        & > .tab__content{
            width: 100%;
            display: none;
            position: relative;
            float: left;
            &::before{
                .line-mixin(@width: 100%, @height: 1px, @left: 0, @top: 0, @color: @form-border-color);
            }
        }
        input[type=radio] {
            display: none;
            &:checked + .tab__title{
                cursor: default;
                color: @page-font-color;
                &::after{
                    .line-mixin(@width: 100%, @height: 4px, @left: 0, @top: calc(100% - 4px), @color: @element-background-color);
                }
            }
        }
        #tab-info:checked ~ .tab-info,
        #tab-respond:checked ~ .tab-respond,
        #tab-params:checked ~ .tab-params,
        #tab-photo:checked ~ .tab-photo,
        #tab-subproducts:checked ~ .tab-subproducts,
        #tab-delivery:checked ~ .tab-delivery{
            display: block;

        }
        .tab__title{
            display: inline-block;
            padding: 14px;
            color: @page-link-color;
            cursor: pointer;
            position: relative;
            float: left;
            &:hover{
                color: @page-hover-color;
                &::after{
                    .line-mixin(@width: 100%, @height: 2px, @left: 0, @top: calc(100% - 2px), @color: @page-hover-color);
                }
            }
        }
    }
}
.respond-count{
    color: @product-respond-count-color;
}

