@image-url: "../../dist/ima/";
@page-overlay-color: rgba(0,0,0,.5);
@main-page-font-color: #333;
@header-font-color: #fff;
@page-font-color: #4d4b4b;
@page-link-color: #3e77aa;
@page-hover-color: #ff7878;
@page-border-line-color: #eaeaea;
@lang-switcher-checked-color: #a6a5a5;
@menu-categories-icon-color: #adb8c8;
@menu-categories-border-color: #ededed;
@menu-categories-border-bottom-color: #ccc;
@menu-categories-popular-submenu-background: #f8f8f8;
@menu-categories-popular-submenu-title-color: #999;
@tab-respond-right-sidebar-background: #f7f7f7;
@tab-respond-right-sidebar-border-color: #ebebeb;
@form-respond-background: #f4faf6;
@form-respond-heading-color: @page-link-color;
@form-respond-input-border-color: #d2d2d2;
@form-respond-input-border-color-hover: #221f1f;
@form-respond-input-caret-color: #00a046;
@form-respond-rating-star-fill: @form-respond-input-border-color;
@form-respond-rating-star-text-color: @menu-categories-popular-submenu-title-color;
@form-respond-rating-star-text-color-hover: #1d1f21;
@form-respond-rating-star-fill-hover: #ffa900;
@form-label-color: @form-respond-input-border-color-hover;
@form-label-background-color-hover: #f6f6f6;
@page-background-color: @header-font-color;
@header-background-color: #122538;
@header-menu-toggle-border-color: rgba(255,255,255,.5);
@header-menu-toggle-background-hover: rgba(255,255,255,.1);
@header-icon-background-color: @form-respond-input-border-color;
@product-price-color: #fb3f4c;
@product-old-price-color: @menu-categories-popular-submenu-title-color;
@product-header-code-color: @menu-categories-popular-submenu-title-color;
@button-background-color-hover: @form-respond-background;
@sidebar-auth-block-background-color: #f4f4f4;
@sidebar-button-background-color: @page-link-color;
@sidebar-button-background-color-hover: #4096e3;
@sidebar-copyright-color-gray: @menu-categories-popular-submenu-title-color;
@sidebar-label-text-color: #797878;
@links-list-title-color: @sidebar-label-text-color;
@popup-small-color: @sidebar-label-text-color;
@button-close-background-hover: @sidebar-label-text-color;
@element-background-color: @form-respond-input-caret-color;
@element-background-color-hover: #00bc52;
@form-background-color: #f5f5f5;
@form-border-color: #e9e9e9;
@form-input-border-color: @form-respond-input-border-color;
@btn-font-color: @header-font-color;
@form-btn-background-color: @page-link-color;
@form-btn-background-color-hover: @sidebar-button-background-color-hover;
@footer-line-color: @form-border-color;
@facebook-ico-background-color: #395899;
@twitter-ico-background-color: #009ef7;
@yuotube-ico-background-color: #f10005;
@instagram-ico-background-color: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%),
                                linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
@viber-ico-background-color: #9d5faf;
@latter-ico-background-color: @form-respond-input-caret-color;
@city-chooser_border-color: @menu-categories-border-bottom-color;
@heading-font-color: @form-respond-input-border-color-hover;
@icon-red-color: #ff4b50;
@icon-negative-fill-color: #ffa6aa;
@icon-positive-fill-color: #80d2a4;
@icon-green-color: @form-respond-input-caret-color;
@icon-hover-green-color: #80d8a4;
@button-gray-background: @tab-respond-right-sidebar-background;
@button-gray-font-color: @page-link-color;
@button-gray-border-color: @form-respond-input-border-color;
@button-gray-font-color-hover: @sidebar-button-background-color-hover;
@button-blue-background: @page-link-color;
@button-blue-background-hover: @sidebar-button-background-color-hover;
@product-respond-count-color: #b2b2b2;
@new-price-background: #fef2b8;
@product-code-background: @new-price-background;
@button-link-border-color: #ffa800;
@breadcrumbs-border-color: @form-respond-input-border-color;
@page-wrapper-width: 1440px;
@page-max-width: 1600px;
@page-font-size: 13px;
@h1-font-size: 32px;
@h2-font-size: 18px;
@h3-font-size: 16px;
@header-form-height: 40px;