@image-url: "../../dist/ima/";
@page-font-size: 14px;
@main-page-font-color: #333;
@page-font-color: #4d4b4b;
@page-link-color: #3e77aa;
@page-hover-color: #ff7878;
@page-border-line-color: #eaeaea;
@form-label-color: #221f1f;
@page-background-color: #ffffff;
@sidebar-auth-block-background-color: #f4f4f4;
@sidebar-button-background-color: #3e77aa;
@sidebar-button-background-color-hover: #4096e3;
@sidebar-copyright-color-gray: #999;
@sidebar-label-text-color: #797878;
@links-list-title-color: @sidebar-label-text-color;
@element-background-color: #00a046;
@form-background-color: #f5f5f5;
@form-border-color: #e9e9e9;
@form-input-border-color: #d2d2d2;
@btn-font-color: #fff;
@form-btn-background-color: #3e77aa;
@form-btn-background-color-hover: #4096e3;
@footer-line-color: @form-border-color;
@facebook-ico-background-color: #395899;
@twitter-ico-background-color: #009ef7;
@yuotube-ico-background-color: #f10005;
@instagram-ico-background-color: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%),
                                linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
@viber-ico-background-color: #9d5faf;
@page-wrapper-width: 1440px;
@page-max-width: 1600px;
