@body-text-color: #282828;
@header-top-sect-text-color: #CCCCCC;
@header-top-sect-background-color: #282828;
@buttons-background-color: #FF2D37;
@buttons-text-color: #FFFFFF;
@hover-background-color: @buttons-background-color;
@top-menu-color: @body-text-color;
@footer-top-section-background: #181818;
@footer-bottom-section-background: #111111;
@footer-h5-color: @buttons-text-color;
@footer-p-color: #DDDDDD;
