.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}
header {
  background: url("../../ima/header-bg.png") no-repeat center;
  height: 100vh;
  background-size: cover;
  & .header_top {
    background: @header-top-bg;
    & .header_top_line1 {
      padding: 18px;
      border-bottom: 2px solid @color-gray;
      display: flex;
      justify-content: flex-end;
      & span{
        color: @color-red;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.7px;
        margin-right: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:nth-child(1){
          &::before{
            content: url("../../ima/user.png");
            margin-right: 7px;
          }
        }
        &:nth-child(2){
          &::before{
            content: url("../../ima/cart.png");
            margin-right: 7px;
          }
        }
        &:nth-child(3){
          &::before{
            content: url("../../ima/check.png");
            margin-right: 7px;
          }
        }
      }
      & .search {
        background: url("../../ima/search.png") no-repeat center right;
        width: 43px;
        height: 24px;
        cursor: pointer;
        &::before {
          content: "";
          width: 2px;
          height: 28px;
          margin-right: 18px;
          background: @color-gray;
          display: block;
        }
      }
    }
    & .header_top_line2 {
      padding: 22px 0;
      display: flex;
      justify-content: space-between;
      & .logo {
        cursor: pointer;
        width: 33.33%;
        & p {
          &:first-child {
            font-size: 45px;
            font-weight: 700;
            color: @color-red;
            & span {
              color: @color-white;
            }
          }
          &:last-child {
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 3.9px;
            color: @color-white;
            margin-top: 10px;
          }
        }
      }
      & .tel {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        width: 33.33%;
        & span {
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          color: @color-white;
          letter-spacing: 1px;
          display: flex;
          align-items: center;
          &::before {
            content: url("../../ima/tel.png");
            margin-right: 21px;
          }
        }
        & p {
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.7px;
          color: #a2a2a2;
          margin-top: 24px;
        }
      }
      & .items {
        display: flex;
        width: 33.33%;
        justify-content: flex-end;
        & .item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          position: relative;
          padding: 0 19px;
          &:last-child {
            padding-right: 0;
          }
          &::before {
            content: "";
            width: 2px;
            height: 70px;
            background: @color-gray;
            position: absolute;
            left: 0;
          }
          & i {
            font-size: 25px;
            font-weight: 400;
            color: @color-red;
          }
          & span {
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            color: @color-white;
            letter-spacing: 0.75px;
          }
        }
      }
    }
  }
  & .header_nav {
    background: @color-nav-bg;
    padding: 26px 0 18px;
    & nav {
      & .nav_menu {
        display: flex;
        padding-left: 27px;
        & li {
          margin-right: 35px;
          & a {
            text-decoration: none;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            color: @color-white;
            letter-spacing: 0.75px;
          }
        }
      }
    }
  }
}
