@header-top-bg: #212121;
@color-red: #ff3448;
@color-gray: #595959;
@color-white: #fff;
@color-nav-bg: #030303;
@color-tool1: #303030;
@color-tool2: #1c1c1c;
@color-main-span: #979696;
@color-featured-bg: #282828;
@color-red-dark: #9c1c28;
@color-product: #363636;
