footer.footer {
    background-color: #f5f5f5;

    .wrapper {
        padding: 0 32px;

        .footer-content {
            padding: 24px 0;
            display: flex;
            border-bottom: 1px solid #e9e9e9;
            @media (max-width: 767px) {
                flex-direction: column;
                /*align-content: flex-start;*/
            }


            .content-section {
                width: 20%;
                padding-right: 8px;
                line-height: 1.4;
                @media (max-width: 1025px) {
                    flex-direction: column;
                    width: 33.33%;
                    margin-bottom: 24px;
                    /* align-self: flex-start;*/
                }
                @media (max-width: 767px) {
                    width: 100%;
                }


                &:not(:first-child) {
                    display: flex;
                    width: 80%;

                    & > ul {
                        display: flex;
                        width: 50%;

                        & > li {
                            width: 50%;

                            p.content-title {
                                color: #797878;
                                font-size: 10px;
                            }

                            @media (max-width: 1025px) {
                                margin-bottom: 24px;
                            }
                            @media (max-width: 767px) {
                                width: 100%;
                            }
                        }

                        @media (max-width: 1025px) {
                            width: 100%;
                            margin-bottom: 24px;
                        }
                        @media (max-width: 767px) {
                            flex-direction: column;
                        }
                    }

                    @media (max-width: 1025px) {
                        flex-direction: column;
                        width: 66.66%;
                    }
                    @media (max-width: 767px) {
                        flex-direction: column;
                        width: 100%;
                    }
                }

                &:first-child {
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    @media (max-width: 767px) {
                        align-self: flex-start;
                    }

                }

                & > a {
                    color: #3e77aa;
                    text-decoration: none;
                    font-size: 14px;
                    display: block;

                    & > svg {
                        fill: #3e77aa;
                        display: inline-block;

                    }

                    &:hover {
                        color: #ff7878;
                        text-decoration: underline;

                        & > svg {
                            fill: #ff7878;
                        }
                    }
                }

                .social {
                    display: flex;
                    margin-top: 8px;
                    padding: 24px 8px 0 0;

                    & > li {
                        &:not(:first-child) {
                            margin-left: 8px;
                        }

                        padding: 0;
                        margin: 0;

                        a {
                            display: block;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            background-color: #3e77aa;
                            position: relative;


                            & > svg {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                fill: #fff;
                            }

                            &.facebook {
                                background-color: #506098;
                            }

                            &.twitter {
                                background-color: #76c9fd;
                            }

                            &.youtube {
                                background-color: #e90000;
                            }

                            &.instagram {
                                background: linear-gradient(45deg, #ffb700 14.65%, #ff6800 31.68%, #cb217d 54.72%, #7e00aa 85.35%);
                            }

                            &.viber {
                                background-color: #7d3daf;
                            }
                        }
                    }

                    & > li:not(:first-child) {
                        margin-left: 10px;
                    }
                }


                & > ul {
                    li {
                        margin-top: 8px;
                        padding-right: 8px;

                        & > a {
                            color: #3e77aa;
                            text-decoration: none;
                            font-size: 14px;

                            &:hover {
                                color: #ff7878;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .different {
            padding: 17px 0;
            display: flex;
            justify-content: space-between;

            .cards {
                display: flex;
                width: 50%;

                & > .card {

                    width: 72px;
                    display: block;
                    padding-right: 8px;

                    img {
                        width: 100%;
                        margin: 0 auto;
                    }
                }

                @media (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 24px;
                }
            }

            & > p {
                font-size: 12px;
                color: #333333;
                width: 50%;
                text-align: right;

                & > span {
                    color: #797878;
                }

                @media (max-width: 767px) {
                    width: 100%;
                }
            }

            @media (max-width: 767px) {
                flex-direction: column;
            }
        }

    }
}
