* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: Ariall, Verdana, sans-serif;
    line-height: 1.2;
    font-weight: normal;
    color: #333333;
}

div.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 5px 32px;
    box-sizing: border-box;
    @media(max-width: 1025px){
        padding: 5px 24px;

    }
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 12px;
}

p {
    font-size: 16px;
}
