
.products-links {
    width: 100%;
    background-color: @main-background-color;
    &__item{
        width: 50%;
        padding: 204px 0;
        position: relative;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-blend-mode: overlay;
        &:hover{
            background-blend-mode: normal;
            @media (min-width: @desktop){
                transform: scale(1.05);
            }
        }
        @media (min-width: @desktop){
            transition: transform .3s ease-in-out;
        }
        @media (max-width: @large-laptop){
            background-size: auto 55%;
        }
        @media (max-width: @tablet){
            padding: 160px 0;
        }
        &:nth-child(3n+1){
            background-color: @products-start-end-background;
        }
        &:nth-child(n+2):nth-child(-n+3){
            background-color: @products-middle-background;
        }
        &::before{
            content: 'Headlights';
            position: absolute;
            color: @page-main-color;
            font-size: 35px;
            font-weight: 700;
            text-transform: uppercase;
            left: 8%;
            top: 40%;
            text-decoration: none;
            @media (max-width: @tablet){
                font-size: 25px;
                top: 22%;
            }
        }
        &::after{
            content: "Headlights Projector, LED, Factory";
            position: absolute;
            color: @products-after-text-color;
            font-size: 20px;
            font-weight: 500;
            left: 8%;
            bottom: 40%;
            text-decoration: none;
            @media (max-width: @tablet){
                font-size: 15px;
                top: 35%;
            }
        }
        &:first-child{
            background-image: url("@{image-url}product1.png");
            float: left;
            @media (min-width: @desktop){
                transform-origin: right bottom;
            }
            @media (max-width: @large-laptop){
                background-size: 65% auto;
            }
        }
        &:nth-child(2){
            background-image: url("@{image-url}product2.png");
            float: right;
            @media (min-width: @desktop){
                transform-origin: left bottom;
            }
        }
        &:nth-child(3){
            background-image: url("@{image-url}product3.png"), url("@{image-url}product3_copy.png");
            background-position: bottom right, 75% 85%;
            float: left;
            @media (min-width: @desktop){
                transform-origin: right top;
            }
            @media (max-width: @large-laptop){
                background-position: bottom right, 79% 93%;
                background-size: auto 55%, auto 47%;
            }
            @media (max-width: @small-laptop){
                background-image: url("@{image-url}product3.png");
                background-position: bottom right;
                background-size: auto 55%;
            }
        }
        &:last-child{
            background-image: url("@{image-url}product4.png");
            float: right;
            @media(min-width: @desktop){
                transform-origin: left top;
            }
        }
    }
    & &__item{
        @media (max-width: @mobile){
            float: none;
            display: block;
            width: 95%;
            margin: 0 auto;
        }
    }
}
.featured-products{
    width: 100%;
    padding: 85px 0 120px;
    background-color: @main-background-color;
    @media (max-width: @tablet){
        padding: 50px 0 20px;
    }
    &__heading{
        position: relative;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 30px;
        @media(max-width: @mobile){
            font-size: 28px;
        }
        &::after{
            .underline-mixin(@width: 172px, @left: 50%);
            transform: translate(-50%, 0);
        }
    }
    &__products-list{
        .flex-mixin(@justify: space-between);
        padding: 65px 110px 0;
        width: 100%;
        @media(max-width: @desktop){
            padding: 65px 50px 0;
        }
        @media(max-width: @large-laptop){
            .flex-mixin(@direction: column);
        }
        @media (max-width: @tablet){
            padding: 30px 20px 20px;
        }
        .product a{
            .flex-mixin(@direction: column);
            background-color: @featured-products-background;
            .geometric-mixin(@width: 250px, @height: 370px);
            text-decoration: none;
            transition: all .2s ease-in-out;
            @media(max-width: @large-laptop){
                width: 100%;
            }
            &:hover{
                transform: scale(1.08);
                border-radius: 10px;
                box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
            }
            .product__rating{
                color: @page-additional-color;
            }
        }
        .product{
            @media (max-width: @large-laptop){
                align-self: center;
                padding: 14px;
                width: 50%;
            }
            @media (max-width: @tablet){
                width: 80%;
            }
            @media(max-width: @mobile){
                height: 450px;
            }
            &__image{
                position: relative;
                .geometric-mixin(@width: 100%, @height: 100%);
                overflow: hidden;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            &__title {
                color: @page-additional-color;
                font-family: "Lato";
                font-size: 17px;
                text-transform: uppercase;
                padding-bottom: 22px;
            }
            &__price {
                color: @page-main-color;
                font-family: "Lato";
                font-size: 25px;
                font-weight: 400;
                text-transform: uppercase;
                padding-bottom: 12px;
            }
            &__rating{
                padding-bottom: 35px;
                color: @page-additional-color;
            }
        }
    }
}
.special-offers{
    width: 100%;
    background-image: url("@{image-url}spec_offers_banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: @offers-background;
    &__offer{
        text-align: center;
        width: 50%;
        padding: 215px 0 105px;
        position: relative;
        &:first-child{
            float: left;
            &::after{
                .vertical-line-mixin(@height: 172px, @vertical-side: right, @color: @page-main-color);
                @media (max-width: @mobile){
                    .geometric-mixin(@width: 60%, @height: 2px);
                    left: 50%;
                    top: 100%;
                    transform: translate(-50%, 0);
                }
            }
        }
        &:last-child{
            float: right;
        }
        span{
            display: block;
        }
        &__percent{
            font-size: 82px;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 18px;
            @media (max-width: @tablet){
                font-size: 40px;
            }
        }
        &__condition{
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 28px;
            @media (max-width: @tablet){
                font-size: 20px;
            }
        }
        &__valid{
            font-size: 15px;
            font-weight: 400;
            padding-bottom: 30px;
        }
    }
    & &__offer{
        @media(max-width: @mobile){
            float: none;
            display: block;
            width: 90%;
            margin: 0 auto;
            padding: 28px 0 35px;
        }
    }
}
