.product_list h2{
    text-align: center;
}
.product_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.product_item{
    width: calc(30%);
    font-family: 'Verdana', sans-serif;
    position: relative;
}
.product_item img{
    width: 100%;
}
.action{
    position: absolute;
    top: 0;
    background: white;
    padding: 10px 15px;
}
.product_item h3{
    font-size: 16px;
    color: gray;
    max-height: 20px;
    overflow: hidden;
}
.product_item .price{
    margin: 0;
}
.product_item .old-prce{
    font-size: 12px;
    text-decoration: line-through;
    color: darkgrey;
}
.cart-info {
    display: flex;
    justify-items: flex-start;
    justify-content: space-between;
}
.buy a{
    text-decoration: none;
    color: white;
    background: lightgreen;
    padding: 10px 15px;
}
