*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.wrapper{
    max-width: 1380px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}