.header-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: block;
    margin-top: 10px;
}
.wrapp{
    padding: 0 25px;
    a{
        text-decoration: none;
    }
}
.param-header{
    display: flex;
    .compte{
        display: flex;
    }
}
.bloc-shop{
    margin:0 -25px 0 30px;
}
.shop{
    .flex-mixin;
    background-color:@bloc-color;
    height: 83px;
    width: 100px;
    color: @color-white;
    font-size:@f-size ;
}
ul.compte{
    display: flex;
    align-items: center;
    li{
        &:not(:first-of-type){
            margin-left: 30px;
        }
        a{
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            color: @color-black;
            i{
                margin-right: 5px;
            }
        }
        &.flag{
            img{
                width: 24px;
                height: 15px;
            }
            & > a{
                &:first-child{
                    margin-right: 5px;
                }
            }
        }
    }
}
.mond-automobile{
    display: flex;
    max-width: 1380px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
   height: 263px;
    background: url("../../../img/bacground-menu.png") no-repeat;
}
.shadow-top{
    width: 100%;
    height: 100%;
    background: url("../../../img/shadow.png") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.head-top{
    font-size: @f-h1-size;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2.87px;
    color: @color-white;
    z-index: 1;
}