header{
    max-width: 1380px;
    margin: 0 auto;
    a{
        text-decoration: none;
    }
}
.header-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: block;
    margin-top: 10px;
}

.param-header{
    display: flex;
    .compte{
        display: flex;
    }
}
.bloc-shop{
    margin:0 -25px 0 30px;
}
.shop{
    .flex-mixin;
    background-color:@bloc-color;
    height: 83px;
    width: 100px;
    color: @color-white;
    font-size:@f-size ;
}
ul.compte{
    display: flex;
    align-items: center;
    li{
        &:not(:first-of-type){
            margin-left: 30px;
        }
        a{
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            color: @color-black;
            i{
                margin-right: 5px;
            }
        }
        &.flag{
            img{
                width: 24px;
                height: 15px;
            }
            & > a{
                &:first-child{
                    margin-right: 5px;
                }
            }
        }
    }
}
.mond-automobile{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   height: 263px;
    background: url("../../../img/bacground-menu.png") no-repeat;
    &::after{
        content:"";
        background:  url("../../../img/shadow.png") no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.head-top{
    font-size: @f-h1-size;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.87px;
    color: @color-white;
    z-index: 2;
}

.top-menu{
    background-color: @bloc-color2;
}
.bloc-menu-search{
    padding: 4px 10px;
    .flex-row-betwen;
}
.ul-nav{
        display: flex;
        flex-direction: row;
    & > li{
        list-style-type: none;
        display: flex;
        position: relative;
        &:not(:last-of-type){
            border-right: 1px solid @border-color2;
        }

        a{
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            position: relative;
            color: @color-white;
            padding: 16px 30px;
            font-size: @f-size-menu;
            font-weight: 900;
            line-height: 15px;
            text-transform: uppercase;
            transition: all .3s;
            &.present,&.servise{
                line-height: 33px;
            }
            &::after{
                content: "";
                width: 0;
                height: 4px;
                background-color: @bloc-color;
                position: absolute;
                bottom: -4px;
                transition: width .3s;
            }
            span{
                position: relative;
                &::before{
                    content: "";
                    background: url("../../../img/figure.png");
                    position: absolute;
                    bottom: -4px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 9px;
                    height: 5px;
                    opacity: 0;
                }
            }

            &:hover{
                background-color: @color-white;
                color: @bloc-color2;
                &::after{
                    width: 100%;
                }
                span{
                    &::before{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.search-bloc{
    margin-right: -25px;
    display: flex;
   min-height: 100%;
    min-width: 310px;
    margin-left: 142px;
    padding: 5px 0 6px;
    & > button{
        height: 100%;
        width: 50px;
        background-color: @color-white;
        outline: 0;
        border: 0;
        color: @bloc-color;
        box-sizing: border-box;
    }
    & > input{
        outline: 0;
        border: 0;
        font-weight: 700;
        color: @shade-gray-fb;
        letter-spacing: 0.14px;
        flex-grow: 1;
    }
}

