.content{
    padding: 0 25px;
    display: flex;
    flex-direction: column;
}
.way-top{
    padding: 10px 0;
}
.way-ul{
    .flex-row-betwen;
    li{
        position: relative;
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: @f-size-min;
            display: block;
            color: @shade-gray;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0.12px;
            position: relative;
            padding: 0 15px 0 9px;
        }
        &:first-of-type{
            a{
                padding-left: 0;
            }
        }
        &:last-of-type{
            a{
                color:@bloc-color ;
                line-height: 33.22px;
            }
        }
        &:not(:last-of-type){
            a{
                &::after{
                    content: "\003E";
                    color:@bloc-color;
                    position: absolute;
                    right: 0;
                    width: 6px;
                    height: 5px;
                    font-weight: bold;
                    font-size: 15px;
                }
            }

        }
    }
}
.parametr-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.paralis-des{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    & > span{
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.14px;
    }
}
ul.caption{
    display: flex;
    align-items: center;
    li{
        list-style-type: none;
        a{
            position: relative;
            text-decoration: none;
            font-size:@size-fifteen ;
            color: @bloc-color2;
            font-weight: 400;
            padding-top: 4px;
        }
        &:first-of-type{
            a{
                padding-left: 33px;
                span{
                    line-height: 28px;
                }
                &::after{
                    content: "";
                    background: url("../../../img/Forme_8.svg") no-repeat;
                    width:18px ;
                    height: 20px;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
        &:last-of-type{
            margin-left: 47px;
            a{
                padding-left: 35px;
                line-height: 24px;
                &::after{
                    content: "";
                    background: url("../../../img/Forme_9.svg") no-repeat;
                    width:26px ;
                    height: 18px;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}