@import "font-awesome.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
}
.icon-star-empty{
    color: darkorange;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
}
.card-wrap{
    width: 33.33%;
    padding: 15px;
    align-self: stretch;
    position: relative;
}
.card-wrap .photo{
    display: block;
    width: 100%;
    padding-bottom: 10px;
}

p.title,
.rating-wrap,
.price-wrap > span{
    padding-bottom: 10px;
}
.rating-wrap > span.rating{
    padding-right: 10px;
}
.price-wrap{
    padding-bottom: 50px;
}
.price-wrap > span{
    display: inline-block;
    text-transform: uppercase;
    width: 49%;
}
.price-wrap span.discount{
    color: red;
}

.card-wrap .bottom{
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: greenyellow;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
}
