@themes:"themes";

@top-header-bg-color: #212121;
@bottom-header-bg-color: #030303;
@main-bg-light-gray-color: #303030;
@main-bg-dark-gray-color: #1c1c1c;
@products-wrapper-bg-color: #282828;
@products-card-bg-color: #363636;
@title-red-line-color: #9c1c28;
@red-color: #ff3448;
@white-color: #ffffff;
@nav-gray-color: #a2a2a2;
@main-gray-color: #979696;
@footer-gray-color: #887979;
