/*-----Colors header---*/
@header-background-color: #122538;
@header-color: #ffffff;
@phone-color: @header-color;
@blind-background-color: rgba(51, 51, 51, 0.5);
@contact-window-color: #333333;
@contact-window-background-color: @header-color;
@contacts-color: #3e77aa;
@contacts--hover-color: #ff7878;
@info-label-color: rgba(255, 255, 255, .2);
@label-background-color: @info-label-color;
@label-before-background-color: @header-color;
@city-switch-color: @header-color;
@popup-wrapper-background-color: rgba(51, 51, 51, .2);
@choose-city-background-color: @header-color;
@choose-city-color: #a6a5a5;
@choose-city-label-color: @contacts-color;
@choose-city-label-hover-color: @contacts--hover-color;
@choose-city-h3-color: @contact-window-color;
@header-svg-fill: @choose-city-color;
@example-city-color: @contacts-color;
@example-city-hover-color: @contacts--hover-color;
@personal-office-color: @header-color;
@button-background-color: @header-color;
@button-before-background-color: #e9e9e9;
@button-color: @header-color;
@button-background-color-2: #00a046;
@about-actions-p-color: #666;

/*----Colors-footer----*/
@footer-background-color: #f5f5f5;
@content-title-color: #797878;
@footer-link-color: @contacts-color;
@footer-svg-fill: @footer-link-color;
@footer-link-hover-color: @contacts--hover-color;
@footer-svg-hover-fill: @footer-link-hover-color;
@facebook-background-color: #506098;
@twitter-background-color: #76c9fd;
@youtube-background-color: #e90000;
@instagram-background: linear-gradient(45deg, #ffb700 14.65%, #ff6800 31.68%, #cb217d 54.72%, #7e00aa 85.35%);
@viber-background-color: #7d3daf;
@footer-p-color: @contact-window-color;
@footer-span-color: @content-title-color;

/*----Aside---*/
@aside-background-color: @header-color;
@title-wrapper-svg: #adb8c8;
@aside-link-color: @contacts-color;
@aside-link-hover-color: @contacts--hover-color;
@products-price-list-background: @aside-background-color;
@product-column-background-color: #f4f4f4;
@product-column-link: @contact-window-color;
@private-office-color: @product-column-background-color;
@aside-button: @aside-background-color;
@aside-button-hover-background-color: #4096e3;
@applications-h4-color: @content-title-color;
@contacts-p-color: @applications-h4-color;
@aside-label-color: @aside-link-color;
@aside-label-hover-color: @aside-link-hover-color;
@option-color: @choose-city-color;
@label-before-background-color: @button-background-color-2;
@label-before-border-color: @label-before-background-color;
@span-color: @choose-city-color;
@hover-color: #f4faf6;
@before-border-color: @product-column-link;
@aside-button-background-color: @footer-background-color;
@range-background-color: @button-background-color-2;

/*----Main content----*/
@label-color: @header-color;
@dotes-background-color: @contacts-color;
@svg-fill: @button-background-color-2;
@about-color: @contact-window-color;
@about-hover-color: @contacts--hover-color;
@label-color-2: @content_svg-fill;
@label-hover-color-2: @about-hover-color;
@content_svg-fill: @dotes-background-color;
@content_svg-hover-fill: @about-hover-color;
@content-link-color: @content_svg-fill;
@content-link-hover-color: @about-hover-color;
@content-ul-background-color: #4d4b4b;
@laptops-color: @contacts-color;
@laptops-hover-color: @contacts--hover-color;
@label-background-color: @button-background-color-2;
@filter-color: #221f1f;
@content-svg-fill: @label-color;
@content-svg-stroke: #fcc10a;
@content-svg-fill-2: @choose-city-color;
@super-price-after: #ff5c00;
@best-choice: #31a3db;
@sale: #f84147;
@action: @sale;
@last-prise: @content-svg-fill-2;
@new-price-span: @sale;
@span-hover: @hover-color;
@avalible: @svg-fill;
@info-text-color: @content-title-color;

/*---Was -revised---*/
@product-content: @header-color;
@reviews: @contacts-color;
@reviews-hover: @contacts--hover-color;
@price-color: @contact-window-color;
@li-background-color: @footer-background-color;
@about-laptops: #999999;
@about-laptops-after: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
@stores: @button-background-color-2;

/*---product-content---*/
@prod-link-color: @contacts-color;
@prod-link-hover-color: @contacts--hover-color;
@prod-link-after-color: #d2d2d2;
@prod-code-color: @choose-city-color;
@about-prod-tabs: @footer-background-color;
@label-checked: #00ba34;
@label-hover: @label-checked;
@prod-span-color: @contact-window-color;
@image-wrap-before: @header-color;
@image-wrap-background-color: @super-price-after;
@prod-p-color: @prod-span-color;
@p-link: @sale;
@prod-span: @prod-code-color;
@info-bottom-color: @prod-link-color;
@info-bottom-background-color: #F5F5F3;
@info-bottom-hover-color: @aside-button-hover-background-color;
@was-price-color: @prod-link-after-color;
@was-price-background-color: @image-wrap-before;
@was-price-before-background: @sale;
@new-price-color: @sale;
@buy-button-background-color: @button-background-color-2;
@buy-button-color: @image-wrap-before;
@prod-svg-stroke: @content-svg-stroke;
@prod-svg-fill:@header-color;
@icon-wrap-hover-color: @hover-color;
@prod-p-span-color: @sale;
@prod-knitting-color: @label-checked;
@prod-knitting-background-color: @hover-color;
@prod-knitting-svg: @label-checked;
@action-buttons-background: @image-wrap-before;
@offer-inform-link: @prod-link-color;
@offer-inform-link-hover: @prod-link-hover-color;
@delivery-section-svg: @content-title-color;
@delivery-section-span: @delivery-section-svg;
@prod-p-span-2: @button-background-color-2;
@prod-span-background-color: @prod-svg-fill;
@prod-span-hover-background-color: @prod-knitting-background-color;
@product-content-background-color: @prod-svg-fill;
@description-title-span: @prod-link-after-color;
@comments-title-span-color: @prod-link-after-color;
@prod-button-background-color: @prod-link-color;
@time-comment-color: @choose-city-color;
@attention-color: @content-title-color;

/*----reviews----*/
@select-background-color: rgba(255, 255, 255, 0);
@add-review-background-color: @footer-background-color;
@add-review-button:@contacts-color;
@comment-svg: @contacts-color;

@img-url: '../../../img/';
@desktop-break-point-first: 1440px;
@desktop-break-point: 1280px;
@desktop-break-point2: 1200px;
@second-desktop-break-point: 1025px;
@first-mobile-break-point: 767px;
@second-mobile-break-point: 320px;
