.wrapper {
    .title-wrap {
        padding: 24px 0;

        .links {
            display: flex;
            padding-bottom: 16px;

            & > li {
                padding-right: 24px;
                position: relative;

                & > a {
                    text-decoration: none;
                    color: #3e77aa;
                }

                &:not(:last-child)::after {
                    display: block;
                    content: '›';
                    font-size: 18px;
                    color: #d2d2d2;
                    position: absolute;
                    top: 50%;
                    right: 8px;
                    transform: translateY(-50%);
                }
            }
        }

        .title-row {
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;

            & > .title {
                padding-bottom: 0;
            }

            & > span {
                width: 88px;
                align-self: center;

                & > img {
                    width: 100%;
                }
            }

            &:first-of-type {
                padding-bottom: 16px;
            }

            .rating {
                display: flex;
                justify-content: space-between;
                width: 100%;

                .rating-stars {
                    display: flex;

                    & > svg {
                        display: inline-block;
                        width: 110px;
                        height: 20px;
                    }

                    .reviews {
                        display: inline-block;
                        padding-left: 8px;

                        & > a {
                            display: inline-block;
                            font-size: 14px;
                            text-decoration: none;
                            color: #3e77aa;
                            padding-top: 5px;

                            &:hover {
                                color: #ff7878;
                                text-decoration: underline;

                            }
                        }
                    }
                }

                .prod-code {

                    & > span {
                        color: #a6a5a5;
                    }
                }
            }
        }
    }
}

.about-product-tabs {
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: 32px;

    .wrapper {
        padding: 0 32px;

        .about-product-links {
            display: flex;
            margin: 0 -8px;
            height: 40px;

            & > li {
                margin-right: 16px;

                & > input {
                    display: none;

                    &:checked ~ label {
                        color: #00ba34;
                        border-bottom: 2px solid #00ba34;
                    }
                }

                & > label {
                    height: 100%;
                    display: block;
                    line-height: 40px;
                    padding: 0 8px;
                    box-sizing: border-box;
                    color: #3e77aa;

                    & > span {
                        color: #333333;
                    }

                    &:hover {
                        color: #00ba34;
                        border-bottom: 2px solid #00ba34;
                    }
                }
            }
        }
    }
}

.wrapper {
    &.product-card {
        display: flex;
    }

    .about-prod-section {
        width: 50%;

        &.left {

            padding-right: 24px;
        }

        .image-tabs-wrap {
            display: flex;
            margin-bottom: 24px;
        }

        .tabs {
            max-width: 88px;

            .tab-button {
                width: 56px;
                height: 56px;
                border-radius: 4px;
                margin: 0 32px 8px 0;
                box-sizing: border-box;

                & > label {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                }

                &:hover {
                    border: 1px solid #00ba34;
                }

                img {
                    display: block;
                    max-width: 90%;
                    max-height: 90%;
                    align-self: center;
                }
            }
        }

        .image-wrap {
            padding-bottom: 90%;
            position: relative;
            width: 100%;

            &::before {
                display: block;
                content: 'Суперціна';
                width: 147px;
                height: 40px;
                font-size: 19px;
                text-transform: uppercase;
                color: #ffffff;
                background-color: #ff5c00;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 50px;
                text-align: center;
                font-weight: bold;
                line-height: 40px;
                z-index: 5;
            }

            &::after {
                display: block;
                content: '';
                width: 100px;
                height: 100px;
                position: absolute;
                top: 0;
                right: 0;
                background-image: url("../../../img/win.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 5;

            }

            .prod-photo {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);

                & > img {
                    display: block;
                    width: 100%;
                }
            }

            & > input {
                display: none;
            }
        }

        & > p {
            color: #333333;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 24px;
        }

        .info-images {
            display: flex;

            & > li {
                width: 48px;

                &:not(:last-child) {
                    margin-right: 16px;
                }

                & > img {
                    width: 100%;
                }
            }
        }

        &.right {
            padding-left: 24px;

            .product-info {
                padding: 16px;
                box-sizing: border-box;
                border: 1px solid #e9e9e9;
                display: flex;
                margin-bottom: 24px;
                position: relative;

                .text {
                    flex-grow: 1;

                    & > p {
                        padding-bottom: 8px;

                        & > a {
                            color: #f84147;
                            text-decoration: none;
                            font-size: 100%;
                            font-weight: bold;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &:last-child {
                            padding-bottom: 0;
                            font-size: 14px;

                            & > span {
                                color: #a6a5a5;
                            }
                        }
                    }
                }

                .info-bottom {
                    margin-left: 16px;
                    height: 32px;
                    color: #3e77aa;
                    text-decoration: none;
                    padding: 1px 16px;
                    align-self: center;
                    border: none;
                    background-color: #F5F5F3;
                    box-shadow: inset 0 0 0 1px #ebebeb;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        color: #4096e3;
                    }
                }

                .was-price {
                    font-size: 18px;
                    color: #d2d2d2;
                    background-color: #ffffff;
                    padding: 0 12px;
                    position: absolute;
                    top: 0;
                    transform: translateY(-50%);
                    font-weight: normal;

                    &::before {
                        display: block;
                        content: '';
                        height: 2px;
                        background-color: #f84147;
                        position: absolute;
                        top: 9px;
                        left: 10px;
                        right: 10px;
                    }

                    & > span {
                        font-size: 14px;
                    }
                }

                .new-price {
                    font-size: 36px;
                    color: #f84147;
                    margin-right: 32px;

                    & > span {
                        font-size: 24px;
                    }
                }

                .buy {
                    padding: 1px 16px;
                    border-radius: 4px;
                    border: none;
                    background-color: #00a046;
                    color: #ffffff;
                    font-size: 18px;
                    box-sizing: border-box;
                    height: 48px;
                    display: inline-flex;
                    align-items: center;
                    margin-right: 16px;

                    & > svg {
                        fill: #ffffff;
                        margin-right: 12px;
                    }
                }

                .ico-wrap {
                    max-height: 48px;

                    & > span {
                        border-radius: 4px;
                        box-sizing: border-box;
                        max-height: 48px;
                        width: 48px;
                        display: inline-block;

                        & > svg {
                            display: inline-block;
                        }

                        &:first-child {
                            padding: 12px;

                            & > svg {
                                width: 24px;
                                height: 24px;
                                fill: #a6a5a5;
                            }
                        }

                        &:last-child {
                            padding: 13px;

                            & > svg {
                                height: 22px;
                                width: 22px;
                                fill: #ffffff;
                                stroke-width: 2px;
                                stroke: #fcc10a;
                            }

                            &:hover {
                                background-color: #f4faf6;
                            }
                        }

                    }
                }

                .subscription {
                    flex-grow: 1;
                    display: flex;

                    & > svg {
                        display: inline-block;
                        margin-right: 16px;
                    }

                    & > p {
                        display: inline-block;
                        font-size: 14px;
                        align-self: center;

                        & > span {
                            color: #f84147;
                            font-weight: bold;
                        }
                    }

                }

                .buy-in-credit,
                .seller {
                    flex-grow: 1;
                    align-self: center;

                    & > p {
                        & > span {
                            font-size: 20px;
                        }
                    }
                }

                .seller {
                    & > p {
                        & > span {
                            font-weight: bold;
                            font-size: 16px;
                        }
                    }

                    .seller-logo {
                        max-width: 120px;

                        & > img {
                            width: 100%;
                        }
                    }
                }

            }

            .knitting {
                color: #00ba34;
                padding: 8px 12px;
                background-color: #f4faf6;
                border-radius: 4px;
                height: 35px;
                box-sizing: border-box;
                font-size: 14px;
                display: inline-flex;
                align-items: center;
                margin-bottom: 16px;;

                & > svg {
                    fill: #00ba34;
                    margin-right: 12px;
                    height: 16px;
                    width: 16px;
                }
            }

            .action-buttons {
                margin-bottom: 24px;

                & > button {
                    width: 48px;
                    max-height: 48px;
                    border: none;
                    background-color: #ffffff;

                    &:first-child {
                        margin-right: 16px;
                    }

                    & > img {
                        width: 100%;
                    }
                }
            }

            .offer-information {
                margin-bottom: 24px;
                border: 1px solid #e9e9e9;
                border-radius: 4px;

                & > p {
                    padding: 8px 16px;

                    & > a {
                        color: #3e77aa;
                        text-decoration: none;

                        &:hover {
                            color: #ff7878;
                        }
                    }

                    &:first-child {
                        border-bottom: 1px solid #e9e9e9;
                    }
                }

                &.delivery {
                    box-sizing: border-box;

                    & > ul {
                        padding: 16px;

                        .delivery-section {
                            padding: 4px 0;
                            display: flex;
                            font-size: 14px;

                            &:not(:first-child) {
                                margin-top: 8px;
                            }

                            & > div {
                                &:first-child {
                                    display: flex;
                                    /*align-items: center;*/
                                    padding-right: 16px;

                                    & > p {
                                        & > a {
                                            color: #3e77aa;
                                            text-decoration: none;

                                            &:hover {
                                                color: #ff7878;
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }

                                width: 40%;

                                & > svg {
                                    fill: #797878;
                                    padding-right: 16px;
                                    margin-top: -5px;
                                }

                                & > p,
                                & > span {
                                    font-size: 14px;
                                }

                                & > span {
                                    font-size: 12px;
                                    color: #797878;
                                }

                                &:last-child {
                                    width: 20%;
                                    text-align: right;

                                    & > p {
                                        & > span {
                                            color: #00a046;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .offer-info {
                    padding: 16px;

                    & > p {
                        font-size: 14px;

                        &:last-child {
                            margin: 12px 0;
                        }
                    }
                }
            }
        }
    }
}

.interest {
    margin-bottom: 48px;

    .wrapper {
        .interest-text {
            font-size: 24px;
            font-weight: normal;
        }


        /*-------------*/

        .product-wrap {
            & > ul {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }

            .buttons-wrap {
                width: 32px;
                position: absolute;
                top: 16px;
                right: 10px;
                z-index: 10;

                & > span {
                    display: block;
                    padding-top: 4px;
                    background-color: #ffffff;
                    border-radius: 4px;
                    width: 32px;
                    height: 32px;
                    box-sizing: border-box;

                    &:hover {
                        background-color: #f4faf6;
                    }

                    svg {
                        stroke: #fcc10a;
                        stroke-width: 2px;
                        fill: #fff;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }

            .product {
                width: 12.5%;
                border-right: 1px solid #d2d2d2;
                border-bottom: 1px solid #d2d2d2;
                box-sizing: border-box;
                position: relative;

                .product-content {
                    padding: 16px;
                    position: relative;
                    background-color: #ffffff;
                    box-sizing: border-box;

                    &::before {
                        display: none;
                        content: '';
                        position: absolute;
                        top: -8px;
                        right: -8px;
                        left: -8px;
                        bottom: -8px;
                        background-color: #ffffff;
                    }
                }

                &::after {
                    display: block;
                    height: 24px;
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                    position: absolute;
                    top: 10px;
                    left: 16px;
                    text-align: center;
                    padding-top: 6px;
                    box-sizing: border-box;
                    border-radius: 50px;
                    color: #ffffff;
                }

                &.super-price {
                    &::after {
                        content: 'Суперціна';
                        width: 89px;
                        background-color: #ff5c00;
                    }
                }

                &.best-choice {
                    &::after {
                        content: 'вибір розетки';
                        width: 114px;
                        background-color: #31a3db;
                    }
                }

                &.action {
                    &::after {
                        content: 'акція';
                        width: 55px;
                        background-color: #f84147;
                    }
                }

                &.sale {
                    &::after {
                        content: '-16%';
                        width: 45px;
                        background-color: #f84147;
                    }
                }

                .product-image {
                    display: block;
                    margin: 16px 0;
                    position: relative;
                    @media (max-width: 1279px) {
                        height: 160px;
                        margin: 0 0 36px;
                    }

                    & > img {
                        max-width: 100%;
                        max-height: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }

                .article-text {
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 8px;
                    height: 32px;
                    overflow: hidden;
                }

                .rating-wrap {
                    margin-bottom: 8px;

                    span {
                        &.rating {
                            margin-right: 4px;
                        }

                        &.reviews {
                            color: #3e77aa;
                            font-size: 12px;
                            cursor: pointer;

                            &:hover {

                                color: #ff7878;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .last-price {
                    color: #a6a5a5;
                    text-decoration: line-through;
                    height: 16px;
                    line-height: 16px;
                }

                .new-price {

                    & > span {

                        color: #f84147;
                        font-size: 24px;
                    }
                }

            }
        }

        /*-------------*/
    }
}
