*{
    margin:0;
    padding: 0;
}
.head1{
    color:red;
}
.head1{
    margin-top: 0;
}
.head2{
    color: blue;
}
.head3{
    color: green;
}
.head2~li>p{
    color: orange;
}
.head3~li>p{
    color: purple;
}
.head1~li:nth-child(-n+6){
    color:aqua;
}
.head1:hover~li:nth-child(-n+6){
    background-color:grey;
}
.head1:hover + li p{
    color: white;
}
.head2~li:nth-child(n+7):not(:nth-last-child(-n+6)){
    color: darkblue;
}
.head2:hover~li:nth-child(n+7):not(:nth-last-child(-n+6)){
    background-color: black;
}
.head2:hover + li p{
    color: red;
}
.head3~li{
    color: burlywood;
}
.head3:hover~li{
    background-color: orangered;
}
.head3:hover + li p{
    color: wheat;
}
li+li h2{
    margin-top: 25px;
}