.reting-li{
    width: 83px;
}
.sidedar-product{
    padding: 50px 12%;
    display: flex;
    flex-direction: row;
}
.product{

}
.cart-towar{
    display: flex;
    flex-direction: row;
}
.img-bloc-towar{
    margin-right: 30px;
}
.slider-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-aside{
    width: 270px;
}
.product-item{
    display: flex;
    flex-direction: row;
}