@themes: "themes";

@defolt-color:#282828;
@white-color:#fff;
@bordo:#FF2D37;
@gray-shade:#CCCCCC;
@gray-shade2:#DDDDDD;
@gray-shade3:#BBBBBB;
@line-gray:#C4C4C4;
@line-bloc:#E5E5E5;
@color-numenclat:#999999;
@color-size:#666666;
@rgba-gray-stroce:rgba(196, 196, 196, 0.8);

@font-mini-texst:10px;
@font-size-standart: 12px;
@font-size-menu: 13px;
@font-size-h4: 14px;
@font-size-a: 15px;
@font-size-a2: 16px;
@social-font-size: 18px;
@font-size-h3: 20px;
@font-size-unteres:28px;
@font-size-h3-bold: 24px;
@input-font-size: 18px;
@font-h1: 36px;
