body{
  font-family:@font-famil ;
  font-size: @f-size-chec-nav;
  line-height:@lin-height ;
  font-weight: @font-normal;
  color: @color-p;
  margin: 0;
  padding: 0;
}
h3{
  color: @color-h;
  font-size:@f-sizeh ;
  font-weight: @fon-wei-standart;
  text-transform: @upercase;
  letter-spacing: @leter-sp;
}
