.accordion{
    margin: 10px auto;
    width: 400px;
    padding: 10px;
}
.accordion input[type="checkbox"]{
    display: none;
}
.accordion label{
    display: block;
    border: 1px solid #737471;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 22px);
    color: white;
    background: #8f908d;
    margin: 5px 0;
    cursor: pointer;
}
.accordion div{
    overflow: hidden;
    height: 0px;
    position: relative;
    transition: height 0.3s ease-in-out;
}
.accordion div p{
    padding: 10px 20px;
    margin: 0;
}
.accordion label:hover{
    background: #babbb8;
    color: black;
    font-weight: bold;
}
.accordion input[type="checkbox"]:checked + label{
    background: #92bbbb;
    color: black;
    font-weight: bold;
}
.accordion input[type="checkbox"]:checked + label + div{
    height: 80px;
    transition: height 0.5s ease-in-out;
    border: 1px solid #8f908d;
    border-radius: 5px;
}
.container{
    width: 400px;
    margin: 10px auto;
    position: relative;
}
.container div {
    display: inline-block;
}
.container input[type="radio"]{
    display: none;
}
.container div label{
    display: inline-block;
    border: 2px solid slategrey;
    width: 70px;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    border-bottom: none;
    background: #9b9b9b;
}
.container div > div{
    width: 100%;
    height: 100px;
    position: absolute;
    border: 2px solid slategrey;
    border-radius: 10px;
    padding: 10px;
    left: 0;
    display: none;
}
.container input[type="radio"]:checked ~ label{
    background: whitesmoke;
    position: relative;
    top: 2px;
    z-index: 10;
    border-top: 4px solid slategrey;
}
.container div:first-child :checked ~ div{
    border-radius: 0 10px 10px 10px;
}
.container div:first-child :not(:checked) ~ label{
    border-radius: 10px 10px 0 10px;
    border-bottom: 2px solid slategrey;;
}
.container input[type="radio"]:checked ~ div{
    display: block;
}
.back-link{
    margin: 0 auto;
    text-align: center;
}
.back-link a{
    display: block;
    padding-bottom: 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
