a{
    text-decoration: none;
}
.wrapper{
    width: 1000px;
    display: block;
    margin: 10px auto;
    z-index: 11;
}
.wrapper::after{
    clear: both;
}
.wrapper img{
    float: left;
    display: block;
}
.wrapper a{
    width: calc(33.33% - 15px);
    display: block;
    float: left;
    margin-bottom: 15px;
    position: relative;
}
.wrapper img{
    width: 100%;
}
.wrapper a:not(:nth-child(3n)){
    margin-right: 15px;
}
.wrapper a:hover::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.5;
    overflow: hidden;
}
.wrapper a::after{
    content: "";
    background-image: url("../../main/ima/eye.svg");
    background-position: center;
    background-size: contain;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all .5s ease-out;
    opacity: 0;
}
.wrapper a:hover::after{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.modal-wrapper div{
    max-width: 100%;
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden;
}
.modal-wrapper img {
    display: block;
}
.popup:target {
    transform: translate(-50%, -50%) scale(3);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all .3s ease;
    visibility: visible;
    opacity: 1;
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.7);
}
.popup .close{
    display: block;
    top: 0;
    left: calc(100% - 10px);
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 7px;
}
.popup a:hover{
    color: white;
}
.iback::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
}
.iforward::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
}
.iforward:hover::after{
    color: aqua;
}
.iback{
    position: absolute;
    float: left;
    height: 70%;
    padding-top: 27%;
    color: red;
}
.iforward{
    position: absolute;
    float: right;
    left: calc(100% - 13px);
    height: 70%;
    margin-top: 6%;
    padding-top: 21%;
    color: red;
}
.iforward:target{
    transition: unset;
}