aside.menu-left {
    width: 300px;
    padding: 15px 0;
    border-right: 1px solid #e9e9e9;
    margin: -5px 0;
    box-sizing: border-box;

    .product-list {
        padding-bottom: 25px;
        border-bottom: 1px solid #e9e9e9;
        z-index: 5;
        position: relative;
        background-color: #ffffff;

        .product {
            padding: 5px 0;

            .title-wrapper {
                display: flex;

                svg {
                    fill: #adb8c8;
                }

                & > p {
                    padding: 5px 20px 5px 5px;
                    flex-grow: 1;
                    position: relative;
                    box-sizing: border-box;
                    font-size: 14px;

                    &:after {
                        display: block;
                        content: '';
                        width: 5px;
                        height: 5px;
                        border-bottom: 1px solid #3e77aa;
                        border-right: 1px solid #3e77aa;
                        position: absolute;
                        right: 7%;
                        top: 50%;
                        transform: rotate(-45deg) translateY(-50%);
                    }

                    &:hover {
                        & > a {
                            color: #ff7878;
                            text-decoration: underline;
                        }

                        &::after {
                            border-color: #ff7878;
                        }
                    }

                    a {
                        color: #3e77aa;
                        text-decoration: none;
                    }
                }
            }

            &:hover {
                & > .products-price-list {
                    display: flex;
                }
            }

            &:nth-last-child(-n+2) {
                .title-wrapper {
                    & > p {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .products-price-list {
        position: absolute;
        left: 100%;
        top: 0;
        right: 300%;
        display: none;
        width: 1300px;
        padding: 15px;
        background-color: #ffffff;
        max-width: 1235px;

        .product-column-wrapper {
            width: 20%;
            align-self: stretch;
            padding: 5px;
            margin: 5px;

            &.advertising {
                img {
                    display: block;
                    width: 100%;
                }
            }

            &:first-child {
                background-color: #f4f4f4;
            }

            .product-column {
                li {
                    padding: 3px;

                    & > a {
                        color: black;
                        font-size: 12px;

                        &:hover {
                            color: #ff7878;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &:hover {
            display: flex;
        }

        p {
            a {
                color: #3e77aa;
                text-decoration: none;

                &:hover {
                    color: #ff7878;
                    text-decoration: underline;
                }
            }
        }

        a {
            text-decoration: none;
        }
    }

    .private-office {
        background-color: #f4f4f4;
        text-align: center;
        padding: 16px 24px;
        border-bottom: 1px solid #e9e9e9;

        h3 {
            font-size: 20px;
            font-weight: normal;
            padding-bottom: 20px;
        }

        p {
            font-size: 12px;
            padding-bottom: 12px;
        }

        button {
            color: #ffffff;
            display: block;
            width: 100%;
            padding: 8px 16px;
            background-color: #3e77aa;
            border: none;
            border-radius: 4px;
            margin-bottom: 14px;

            &:hover {
                background-color: #4096e3;
            }
        }
    }

    .applications {
        padding: 16px 24px;
        border-bottom: 1px solid #e9e9e9;

        & > h4 {
            font-size: 12px;
            color: #797878;
            font-weight: normal;
            margin-bottom: 12px;
        }

        & > a {
            max-width: 102px;
            display: inline-block;

            &:first-of-type {
                margin-right: 14px;
            }

            & > img {
                width: 100%;
            }
        }
    }

    .call-center {
        padding: 16px 20px;
        border-bottom: 1px solid #e9e9e9;

        .contacts {
            margin-bottom: 12px;

            & > p {
                font-size: 12px;
                color: #797878;
                font-weight: normal;
                margin-bottom: 12px;
            }

            & > a {
                display: block;
                color: black;
                text-decoration: none;
                font-size: 16px;
                padding-bottom: 8px;

                &:hover {
                    color: #ff7878;
                    text-decoration: underline;
                }
            }
        }

        .call-center-work {
            display: flex;
            flex-wrap: wrap;

            & > span {
                display: block;
                width: 50%;
                padding-bottom: 10px;
                font-size: 12px;
            }
        }
    }

    .shops {
        padding: 16px 20px;
        border-bottom: 1px solid #e9e9e9;

        & > p {
            font-size: 14px;

            & > a {
                color: #3e77aa;
                text-decoration: none;
            }

            & > svg {
                fill: #3e77aa;
            }

            &:first-child {
                margin-bottom: 12px;
                color: #797878;

                &:hover {
                    a {
                        color: #ff7878;
                        text-decoration: underline;
                    }
                }
            }

            &:not(:first-child) {
                margin-top: 8px;
            }

            &:hover:not(:first-child) {
                & > a {
                    color: #ff7878;
                }

                & > svg {
                    fill: #ff7878;
                }
            }
        }
    }

    .social-wrap {
        padding: 16px 20px;
        border-bottom: 1px solid #e9e9e9;

        & > p {
            font-size: 14px;
            color: #797878;
            margin-bottom: 12px;
        }

        .social {
            display: flex;

            & > li {
                a {
                    display: block;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background-color: #3e77aa;
                    position: relative;

                    & > svg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        fill: #fff;
                    }

                    &.facebook {
                        background-color: #506098;
                    }

                    &.twitter {
                        background-color: #76c9fd;
                    }

                    &.youtube {
                        background-color: #e90000;
                    }

                    &.instagram {
                        background: linear-gradient(45deg, #ffb700 14.65%, #ff6800 31.68%, #cb217d 54.72%, #7e00aa 85.35%);
                    }

                    &.viber {
                        background-color: #7d3daf;
                    }
                }
            }

            & > li:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    .links-wrapper {
        padding: 16px 20px;
        border-bottom: 1px solid #e9e9e9;

        .text {
            font-size: 12px;
            margin-bottom: 10px;
        }

        & > ul {
            margin-bottom: 24px;

            li {
                margin-bottom: 10px;
                padding-right: 8px;

                & > a {
                    font-size: 14px;
                    text-decoration: none;
                    color: #3e77aa;

                    &:hover {
                        color: #ff7878;
                    }
                }
            }
        }

        & > ul:last-child {
            margin-bottom: 0;
        }
    }

    .info-wrapper {
        padding: 16px 20px;

        .cards {
            display: flex;

            & > a {
                width: 84px;
                display: block;

                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        & > p:first-of-type {
            color: #797878;
        }

        & > p {
            font-size: 12px;
            padding-top: 12px;

        }
    }
}
