header.header{
    .bottom-section{
        .actions{
            .shopping{
                position: relative;
                .counter-show{
                    position: absolute;
                    top: 0;
                    right: 10%;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    color: #ffffff;
                    background-color: #f84147;
                    text-align: center;
                    font-size: 10px;
                    line-height: 15px;
                    display: block;
                }
            }
        }
    }
}

.wrapper{
    .content-wrap{
        .product{
            .new-price{
                .buy{
                    position: relative;
                    .counter-show{
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        color: #ffffff;
                        background-color: #f84147;
                        text-align: center;
                        font-size: 10px;
                        line-height: 15px;
                        display: none;
                        &.active{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
