* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: Ariall, Verdana, sans-serif;
    line-height: 1.2;
}

div.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 5px 15px;
}

h3 {
    font-size: 22px;
}
h4{
    font-size: 12px;
}

p {
    font-size: 16px;
}
