.products__content{
    width: 100%;
    background-color: @main-background;
}
.filters{
    float: left;
    width: 25%;
    padding-right: 15px;
    display: inline-block;
    &-block{
        box-sizing: border-box;
        &__title{
            color: @main-elements-color;
            background-color: @main-elements-background;
            padding: 10px 0 10px 20px;
            font-weight: 500;
            border-radius: 5px 5px 0 0;
        }
        &__filter-group{
            padding: 19px 0px 25px 21px;
            border: 1px solid @main-border-line-color;
            border-top: none;
            .filter-group{
                &__name{
                    color: @main-heading-color;
                    text-transform: uppercase;
                    font-weight: 500;
                    padding-bottom: 14px;
                }
            }
        }
    }
}