.products__content{
    width: 100%;
    background-color: @main-background;
}
.float_left{
    float: left;
}
.aside.float_left{
    .col-1-width();
    box-sizing: border-box;
    .filters-block{
        box-sizing: border-box;
        margin-bottom: 45px;
        &__title{
            color: @main-elements-color;
            background-color: @main-elements-background;
            padding: 14px 20px;
            font-weight: 500;
            border-radius: 5px 5px 0 0;
            letter-spacing: 0.02em;
        }
        &__filter-group{
            padding: 19px 0 30px 21px;
            border: 1px solid @main-border-line-color;
            border-top: none;
            &:first-of-type .colors-filter__wrapper {
                font-size: 0;
            }
            &:last-child{
                border-radius: 0 0 5px 5px;
            }
            .filter-group{
                &__name{
                    color: @main-heading-color;
                    text-transform: uppercase;
                    font-weight: 500;
                    padding-bottom: 16px;
                }
                &__filter-items.price-slider{
                    height: 70px;
                }
                &__filter-items{
                    .color-filter{
                        display: inline-block;
                    }
                    .color-filter a{
                        .geometric-mixin(@width: 33px, @height: 33px);
                        box-sizing: border-box;
                        display: inline-block;
                        border-radius: 3px;
                        border: 1px solid @main-border-line-color;
                        padding: 2px;
                        margin-right: 3px;
                        margin-bottom: 4px;
                        background-clip: content-box;
                        transition: all .2s ease-in-out;
                        &:nth-child(n+7){
                            margin-bottom: 0;
                        }
                        &:hover{
                            border-color: @page-hover-color;
                        }
                    }

                    .price-slider__controls{
                        display: inline-block;
                        text-align: center;
                        .price-slider__controls__input{
                            display: inline-block;
                            letter-spacing: 0.02em;
                            color: @product-filter-price-input-color;
                            font-weight: 500;
                            box-sizing: border-box;
                            border: 1px solid @main-border-line-color;
                            border-radius: 5px;
                            padding: 9px;
                            line-height: 14px;
                            cursor: pointer;
                            .geometric-mixin(@width: 50px, @height: 35px)
                        }
                    }
                    .brands-filter__wrapper{
                        padding-top: 13px;
                    }
                    .brand-filter{
                        padding-bottom: 16px;
                        font-size: 13px;
                        letter-spacing: 0.01em;
                        &:last-child{
                            padding-bottom: 0;
                        }
                    }
                    .models-filter__wrapper,
                    .year-filter__wrapper{
                        padding-top: 5px;
                        padding-right: 12px;
                        font-size: 0;
                        li{
                            display: inline-block;
                        }
                    }
                    .model-filter a,
                    .year-filter a{
                        display: inline-block;
                        text-decoration: none;
                        font-size: 12px;
                        color: @product-filter-model-color;
                        box-sizing: border-box;
                        border: 1px solid @main-border-line-color;
                        border-radius: 5px;
                        padding: 9px;
                        margin-right: 6px;
                        margin-bottom: 6px;
                        line-height: 14px;
                        transition: all .2s ease-in-out;
                        &:nth-child(n+7){
                            margin-bottom: 0;
                        }
                        &:hover{
                            color: @main-elements-color;
                            background-color: @page-hover-color;
                            border-color: @page-hover-color;
                        }
                    }
                }
            }
        }
    }
}
.search-result{
    &__wrapper{
        float: right;
        width: calc(75% - 30px/4);
        margin-left: 15px;
        display: inline-block;
        box-sizing: border-box;
    }
    &__products{
        .flex-mixin(@justify: space-between, @align: stretch);
        flex-wrap: wrap;
        .product-item{
            cursor: pointer;
            width: calc(100%/3 - 60px/3);
            box-sizing: border-box;
            //border: 1px solid @main-border-line-color;
        }
    }
}

