@font-face {
    .font-mixin(@fontFile: "Rubik-Regular.ttf", @weight: normal);
}
@font-face {
    .font-mixin(@fontFile: "Rubik-Medium.ttf", @weight: 500);
}
@font-face {
    .font-mixin(@fontFile: "Rubik-Bold.ttf", @weight: bold);
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: @page-font-size;
    letter-spacing: 0;
    color: @page-main-color;
    font-weight: normal;
    position: relative;
}
header,
main,
footer{
    width: 100%;
    margin: 0 auto;
}
h1 {
    font-size: @h1-font-size;
    font-weight: normal;
    margin: 0;
    letter-spacing: 0.02em;
}
h2{
    font-size: @h2-font-size;
    text-transform: uppercase;
}
h3 {
    font-size: @h3-font-size;
    text-transform: uppercase;
}
.page-wrapper {
    max-width: @page-wrapper-width;
    margin: 0 auto;
}
.clearfix-block::after{
    content: "";
    display: table;
    clear: both;
}
a.link{
    color:inherit;
    text-decoration: none;
    &:hover{
        color: @page-hover-color;
    }
}
.button{
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    color: @main-elements-color;
    cursor: pointer;
}
