*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: @page-font-size;
    letter-spacing: 1px;
    color: @page-main-color;
    font-weight: normal;
    position: relative;
}
header,
main,
footer{
    max-width: @page-max-width;
    margin: 0 auto;
}
h1 {
    font-size: @h1-font-size;
    text-transform: uppercase;
}
h2{
    font-size: @h2-font-size;
    text-transform: uppercase;
}
h3 {
    font-size: @h3-font-size;
    text-transform: uppercase;
}
.page-wrapper {
    max-width: @page-wrapper-width;
    margin: 0 auto;
}
.clearfix-block::after{
    content: "";
    display: table;
    clear: both;
}
a.link{
    color:inherit;
    text-decoration: none;
}
.col-1{
    width: calc((100% - 3*@padding-width)/4);
    display: inline-block;
}
.col-2{
    width: calc((100% - @padding-width)/2);
    display: inline-block;
}
.col-3{
    max-width: calc((100% - @padding-width)*3/4);
    display: inline-block;
}
