.header {
    &__stretch {
        width: 100%;
        background-color: @header-top-menu-background;
    }

    &__top-menu.action-menu {
        .flex-mixin(@justify: flex-end);
        @media(max-width: @laptop-large){
            padding: 0 @page-content-padding;
        }
        @media(max-width: @mobile){
            flex-wrap: wrap;
        }
    }

    &__top-menu {
        color: @header-top-menu-color;
        font-size: 13px;

        .action-menu {
            &__currency-chooser,
            &__lang-chooser,
            &__signIn {
                display: inline-block;
                padding: 15px 19px;
                cursor: pointer;
                @media (max-width: @mobile){
                    padding: 10px 20px;
                }
            }

            &__currency-chooser,
            &__lang-chooser {
                text-transform: uppercase;
                position: relative;

                i {
                    transition: transform .3s ease-in-out;
                }

                &:hover {
                    & > .dropdown-list {
                        display: block;
                    }

                    .current {
                        color: @page-hover-color;
                    }

                    i {
                        transform: rotate(180deg);
                    }
                }

                .dropdown-list {
                    display: none;
                    .absolute-position-mixin(@top: 100%, @left: calc(100% - 132px), @translateX: 0, @translateY: 0);
                    width: 132px;
                    padding: 11px;
                    background: @main-background;
                    border: 1px solid @main-border-line-color;
                    box-sizing: border-box;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                    z-index: 10;

                    &__item {
                        display: block;
                        padding: 10px 0 10px 9px;
                        background-color: @header-top-menu-dropdown-item-background;
                        color: @header-top-menu-dropdown-item-color;
                        font-size: 12px;
                        line-height: 14px;
                        margin-bottom: 10px;
                        .hover-text-mixin();

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &:hover {
                            outline: 1px solid @page-hover-color;
                            background-color: @header-top-menu-dropdown-item-background-hover;
                        }
                    }
                }
            }

            &__lang-chooser,
            &__signIn {
                position: relative;

                &::after {
                    content: "";
                    .geometric-mixin(@width: 1px, @height: 11px);
                    .absolute-position-mixin(@left: 100%, @translateX: 0);
                    background-color: @header-top-menu-color;
                }
            }

            &__signIn {
                @media(max-width: @mobile){
                    width: 100%;
                    text-align: right;
                    padding-right: 0;
                }
                i {
                    color: @main-elements-background;
                }

                .link {
                    margin-left: 19px;
                }

                &:hover .link {
                    span {
                        color: @header-top-menu-color;
                    }
                }
                &::after{
                    @media(max-width: @mobile){
                        display: none;
                    }
                }
            }

            &__lang-chooser {
                padding-left: 46px;

                .current {
                    position: relative;

                    &::before {
                        content: '';
                        .absolute-position-mixin(@left: -25px, @translateX: 0);
                        .background-image-mixin(@image: 'Fra.svg', @widthImg: 20px, @heightImg: 13px);
                    }
                }
            }

            &__currency-chooser {
                padding-right: 0;
            }
        }
    }

    &__main {
        .flex-mixin(@justify: space-between, @align: flex-end);
        padding-top: 30px;
        max-width: 100%;
        @media(max-width: @laptop-large){
            padding-left: @page-content-padding;
            padding-right: @page-content-padding;
        }
        @media(max-width: @laptop-small){
            flex-wrap: wrap;
        }

        .logo-wrapper{
            .col-1-width();
            @media(max-width: @laptop-small){
                .col-2-width();
            }
            @media(max-width: @mobile){
                .col-4-width();
                padding-bottom: 15px;
                text-align: center;
            }
        }

        .logo-link {
            display: inline-block;
            .background-image-mixin(@image: 'logo.png', @widthImg: 179px, @heightImg: 48px);
        }

        .search {
            &__container {
                position: relative;
                .col-2-width();
                @media(max-width: @mobile){
                    .col-4-width();
                }
            }

            &__input {
                box-sizing: border-box;
                position: relative;
                .geometric-mixin(@width: 100%, @height: 44px);
                border: 2px solid @header-search-input-border-color;
                border-radius: 5px;
                padding-left: 20px;
                padding-right: 60px;

                &::after {
                    content: "";
                    .geometric-mixin(@width: 1px, @height: 11px);
                    .absolute-position-mixin(@left: 100%, @translateX: 0);
                    background-color: @header-top-menu-color;
                }

                &::-webkit-input-placeholder {
                    color: @placeholder-text-color;
                    line-height: 17px;
                }

                &::-moz-placeholder:extend(::-webkit-input-placeholder) {
                }

                &:-ms-input-placeholder:extend(::-webkit-input-placeholder) {
                }

                &:-moz-placeholder:extend(::-webkit-input-placeholder) {
                }
            }

            &__button {
                cursor: pointer;
                .geometric-mixin(@width: 54px, @height: 44px);
                background-color: @main-elements-background;
                color: @main-elements-color;
                border-radius: 0 5px 5px 0;
                .absolute-position-mixin(@left: 100%, @translateX: -100%);

                i {
                    font-size: 12px;
                    .middle-mixin();
                }
            }
        }

        .cart-block {
            position: relative;
            .col-1-width();
            @media(max-width: @laptop-small){
                .col-2-width();
                padding-top: 25px;
                margin-left: auto;
                text-align: right;
            }
            @media(max-width: @mobile){
                .col-4-width();
                margin: 0;
                text-align: center;
            }
        }

        .wish-list,
        .cart {
            display: inline-block;
            box-sizing: border-box;
            cursor: pointer;
            border: 2px solid @main-border-line-color;
            border-radius: 5px;

            &:hover {
                border-color: @page-main-color;
            }
        }

        .wish-list {
            .geometric-mixin(@width: 44px, @height: 44px);
            position: relative;
            float: left;
            @media(max-width: @laptop-small){
                float: none;
            }
            @media(max-width: @mobile){
                float: left;
            }

            i {
                font-size: 18px;
                .middle-mixin();
            }
        }

        .cart {
            height: 44px;
            min-width: 171px;
            position: relative;
            float: right;
            @media(max-width: @laptop-small){
                margin-left: 15px;
                min-width: 200px;
            }
            @media(max-width: @mobile){
                margin-left: 0;
                width: calc(100% - 50px);
            }

            i {
                .absolute-position-mixin(@left: 22px);
                font-size: 18px;
            }

            &__total {
                font-size: 13px;
                line-height: 38px;
                padding: 0 10px 0 58px;

                span {
                    color: @page-hover-color;
                }
            }

            &__counter {
                .geometric-mixin(@width: 24px, @height: 24px);
                border-radius: 50%;
                background-color: @main-elements-background;
                color: @main-elements-color;
                font-size: 13px;
                .absolute-position-mixin(@top: -2px, @left: 44px);
                text-align: center;
                line-height: 24px;
                font-weight: 500;
                z-index: 2;
            }

            &::after {
                content: "";
                .geometric-mixin(@width: 2px, @height: 100%);
                .absolute-position-mixin(@left: 43px, @translateX: 0);
                background-color: @main-border-line-color;
            }

            &:hover{
                &::after {
                    background-color: @page-main-color;
                }
                & + .mini-cart{
                    display: block;
                }
            }
        }

        .mini-cart {
            display: none;
            .absolute-position-mixin(@top: 100%, @left: calc(100% - 354px), @translateX: 0, @translateY: 0);
            width: 354px;
            background-color: @main-background;
            border: 1px solid @main-border-line-color;
            box-sizing: border-box;
            box-shadow: 0 0 10px @mini-cart-box-shadow;
            padding: 25px;
            z-index: 2;
            &:hover{
                display: block;
            }

            &__details {
                position: relative;
                & > i{
                    font-size: 20px;
                    .absolute-position-mixin(@top: calc(100% - 3px), @left: 110px);
                    background-color: @main-background;
                    cursor: pointer;
                    &:hover{
                        color: @page-hover-color;
                    }
                }
                .mini-cart {
                    &__image {
                        float: left;
                        margin-right: 13px;
                        width: 113px;
                        box-sizing: border-box;
                        border: 1px solid @main-border-line-color;
                        position: relative;
                        img{
                            width: 100%;
                        }
                    }

                    &__params{
                        float: right;
                        display: inline-block;
                        width: calc(100% - 126px);

                        input[type="checkbox"]{
                            display: none;
                            &:checked{
                                & ~ .mini-cart__details-toggle > i {
                                    transform: rotate(180deg);
                                }
                                & ~ .mini-cart__details-block{
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    &__title {
                        text-transform: uppercase;
                        display: block;
                        padding-bottom: 15px;
                    }
                    &__details-toggle{
                        display: inline-block;
                        cursor: pointer;
                        padding-bottom: 10px;
                        i{
                            transition: transform .3s ease-in-out;
                        }
                    }
                    &__details-block{
                        display: inline-block;
                        visibility: hidden;
                    }
                    &__details-name{
                        font-weight: bolder;
                        padding-right: 3px;
                        transform: translateY(100%);
                    }
                }
            }

            &__counter {
                .flex-mixin(@justify: space-between, @align: baseline);
                padding: 22px 0 16px;
                span:first-child{
                    font-size: 13px;
                    font-weight: 500;
                    margin-right: 8px;
                }
                input[type='text']{
                    border: 1px solid @main-border-line-color;
                    border-radius: 5px;
                    .geometric-mixin(@width: 75px, @height: 29px);
                    text-align: center;
                    font-size: 11px;
                }
                .mini-cart__update-btn{
                    .button-mixin(@width: 89px, @height: 29px, @background: @main-elements-background);
                    .hover-mixin(@page-main-color;);
                    font-size: 13px;
                    line-height: 29px;
                    text-align: center;
                    margin: 0 15px;
                }
                &__sum{
                    color: @main-elements-background;
                    margin-left: auto;
                }
            }

            &__total {
                position: relative;
                padding: 25px 0;

                span {
                    &:first-child {
                        float: left;
                        font-size: 13px;
                        font-weight: 500;
                        text-transform: uppercase;
                        transform: translateY(-50%);
                    }

                    &:last-child {
                        float: right;
                        font-size: 18px;
                        font-weight: 500;
                        transform: translateY(-50%);
                        color: @main-elements-background;
                    }
                }

                &::before,
                &::after {
                    content: '';
                    .geometric-mixin(@width: calc(100% + 50px), @height: 1px);
                    background-color: @mini-cart-border-line-color;
                }

                &::before {
                    .absolute-position-mixin(@top: 0, @left: 0, @translateX: -25px, @translateY: 0);
                }

                &::after {
                    .absolute-position-mixin(@top: 100%, @left: 0, @translateX: -25px, @translateY: 0);
                }
            }

            &__buttons {
                padding-top: 18px;
                .mini-cart__view-btn,
                .mini-cart__checkout-btn {
                    .button-mixin(@width: calc(((100% - 15px))/2), @height: 30px, @background: @main-elements-background);
                    .hover-mixin(@page-main-color;);
                    text-transform: uppercase;
                    font-size: 13px;
                    line-height: 30px;
                    text-align: center;
                }

                .mini-cart__view-btn {
                    float: left;
                }

                .mini-cart__checkout-btn {
                    float: right;
                }
            }
        }
    }

    &__navigation {
        padding-top: 30px;
        @media(max-width: @laptop-large){
            padding-left: @page-content-padding;
            padding-right: @page-content-padding;
        }

        .categories__menu,
        .nav-menu {
            &__item {
                cursor: pointer;
                display: inline-block;
                box-sizing: border-box;
                line-height: 17px;
                font-weight: bold;
                padding: 18px 20px;
                border-radius: 5px 5px 0 0;
                text-transform: uppercase;
            }
        }

        .categories__menu {
            float: left;
            position: relative;
            .col-1-width();
            @media(max-width: @tablet){
                .col-2-width();
            }

            label{
                cursor: pointer;
                position: relative;
                @media(max-width: @laptop-small){
                    font-size: 12px;
                }
            }
            input[type="checkbox"]{
                display: none;
                &:checked ~ .categories__menu__list{
                    display: block;
                }
            }
            &__item {
                width: 100%;
                color: @main-elements-color;
                background-color: @page-hover-color;
            }

            &__burger {
                .absolute-position-mixin(@left: calc(100% - 20px), @translateX: -100%);
                .geometric-mixin(@width: 15px, @height: 2px);
                background-color: @main-elements-color;

                &::before,
                &::after {
                    content: '';
                    .geometric-mixin(@width: 100%, @height: 2px);
                    background-color: @main-elements-color;
                }

                &::before {
                    .absolute-position-mixin(@left: 0, @top: -3px, @translateX: 0);
                }

                &::after {
                    .absolute-position-mixin(@left: 0, @top: 5px, @translateX: 0);
                }
            }
            &__list{
                display: none;
                .absolute-position-mixin(@top: 100%, @left: 0, @translateX: 0, @translateY: 0);
                width: 100%;
                padding: 0 20px 10px;
                z-index: 2;
                border: 1px solid @main-border-line-color;
                box-sizing: border-box;
                box-shadow: 0 0 10px @submenu-box-shadow;
                background-color: @main-background;
            }
            &__category-title{
                font-size: 15px;
                font-weight: 500;
                line-height: 18px;
                text-transform: uppercase;
                padding-bottom: 10px;
                padding-top: 26px;
            }
            &__category{
                font-size: 12px;
                line-height: 14px;
                padding-bottom: 10px;
            }
        }

        .nav-menu {
            float: right;
            position: relative;
            .col-3-width();
            @media(max-width: @laptop-large){
                display: none;
            }
            &__item {
                font-size: 14px;
                .hover-mixin(@page-hover-color;);

                &:hover {
                    & > a {
                        color: @main-elements-color;
                    }
                    & > i{
                        transform: rotate(180deg);

                    }
                }
                &:first-child:hover ~ .submenu-container{
                    .flex-mixin(@justify: space-between, @align: stretch);
                }
                & > i{
                    transition: transform .3s ease-in-out;
                }
            }
            ul{
                font-size: 0;
            }

            .submenu-container{
                display: none;
                .absolute-position-mixin(@top: 100%, @left: 0, @translateX: 0, @translateY: 0);
                padding: 26px 20px 33px;
                width: 100%;
                flex-wrap: wrap;
                z-index: 2;
                border: 1px solid @main-border-line-color;
                box-sizing: border-box;
                box-shadow: 0 0 10px @submenu-box-shadow;
                background-color: @main-background;
                &:hover{
                    .flex-mixin(@justify: space-between, @align: stretch);
                }
                .nav-links-menu{
                    width: calc((100% - 20px)/2);
                    display: inline-block;
                    &__heading{
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 18px;
                        text-transform: uppercase;
                        padding-bottom: 10px;
                    }
                    &__item{
                        font-size: 12px;
                        line-height: 14px;
                        padding-bottom: 10px;
                        &:last-child{
                            padding-bottom: 0;
                        }
                    }
                    &:nth-child(n+3){
                        padding-top: 34px;
                    }
                }
            }
        }
    }
}

header {
    position: relative;

    &::after {
        content: '';
        .absolute-position-mixin(@top: calc(100% - 2px), @left: 0, @translateX: 0, @translateY: 0);
        .geometric-mixin(@width: 100%, @height: 3px);
        background-color: @main-elements-background;
        pointer-events: none;
    }
}


