.geometric-mixin(@width, @height) {
    width: @width;
    height: @height;
}

.flex-mixin(@direction: row, @justify: center, @align: center) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.middle-mixin() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-position-mixin(@top: 50%; @left: 50%; @translateX: -50%; @translateY: -50%) {
    position: absolute;
    top: @top;
    left: @left;
    transform: translate(@translateX, @translateY);
}

.background-image-mixin(@image; @widthImg: 0; @heightImg: 0; @position: center; @size: cover) {
    .geometric-mixin(@width: @widthImg, @height: @heightImg);
    background-image: url('@{image-url}@{image}');
    background-repeat: no-repeat;
    background-position: @position;
    background-size: @size;
    background-color: inherit;
}

.hover-mixin(){
    &:hover{
        color: @main-elements-color;
        background-color: @page-hover-color;
    }
}
