.geometric-mixin(@width, @height){
    width: @width;
    height: @height;
}
.flex-mixin(@direction: row, @justify: center, @align: center){
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}