.geometric-mixin(@width, @height) {
    width: @width;
    height: @height;
}

.flex-mixin(@direction: row, @justify: center, @align: center) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.middle-mixin() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-position-mixin(@top: 50%; @left: 50%; @translateX: -50%; @translateY: -50%) {
    position: absolute;
    top: @top;
    left: @left;
    transform: translate(@translateX, @translateY);
}

.background-image-mixin(@image; @widthImg: 0; @heightImg: 0; @position: center; @size: cover) {
    .geometric-mixin(@width: @widthImg, @height: @heightImg);
    //width: 100%;
    background-image: url('@{image-url}@{image}');
    background-repeat: no-repeat;
    background-position: @position;
    background-size: @size;
    background-color: inherit;
}

.rating-stars-mixin() {
    display: inline-block;
    .background-image-mixin(@image: 'star5.png', @widthImg: 83px, @heightImg: 14px);
}

.hover-mixin(@page-main-color;) {
    &:hover {
        color: @main-elements-color;
        background-color: @page-main-color;
        transition: background-color .3s ease-in;
    }
}

.hover-mixin(@page-hover-color;) {
    &:hover {
        color: @main-elements-color;
        background-color: @page-hover-color;
        transition: background-color .2s ease-in-out;
    }
}

.hover-text-mixin() {
    &:hover {
        color: @page-hover-color;
    }
}

.button-mixin(@width; @height; @background) {
    width: @width;
    height: @height;
    display: inline-block;
    border-radius: 5px;
    color: @main-elements-color;
    cursor: pointer;
    background-color: @background;
    transition: background-color .2s ease-in-out;
}

.font-mixin(@fontFile; @weight) {
    font-family: 'Rubik';
    src: url('../../dist/fonts/@{fontFile}') format('truetype');
    font-style: normal;
    font-weight: @weight;
    font-display: swap;
}
.col-1-width(@padding: @padding-width){
    width: calc((100% - 3 * @padding) / 4);
    display: inline-block;
}
.col-2-width(@padding: @padding-width){
    width: calc((100% - @padding) / 2);
    display: inline-block;
}
.col-3-width(@padding: @padding-width){
    width: calc(((100% - 3 * @padding) / 4) * 3 + 2 * @padding);
    display: inline-block;
}
.col-4-width(){
    width: 100%;
    display: inline-block;
}
