.product-item{

    &__image{

    }
    &__content{
        padding-top: 19px;
        padding-bottom: 24px;
        text-align: center;
        &__title{
            padding-bottom: 10px;
        }
        &__rating{

        }
        &__prices{
            color: @main-heading-color;
            font-size: 18px;
            font-weight: 500;
            padding-top: 11px;
        }
    }
}