.product-item{

    &__image{

    }
    &__content{
        padding-top: 19px;
        padding-bottom: 24px;
        text-align: center;
        &__title{
            padding-bottom: 10px;
        }
        &__rating{

        }
        &__prices{
            color: @main-heading-color;
            font-size: 18px;
            font-weight: 500;
            padding-top: 11px;
        }
    }
}
.form-wrapper{
    width: 100%;
    padding: 20px 0 50px;
    label{
        display: inline-block;
        width: 80%;
        padding: 10px 0 10px 20px;
        input[type="text"]{
            width: 120px;
            height: 20px;
        }
    }
    .rating-wrapper{
        input{
            display: inline-block;
            margin-left: 10px;
        }
        label{
            width: 20px;
            display: inline-block;
            padding-left: 0;
        }
    }
    select{
        width: 100px;
        height: 20px;
    }
    button{
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    .addBtn{
        width: 100px;
        height: 30px;
    }
    .rating{
        padding: 20px 0;
    }
}