.product-item{

    &__image{

    }
    &__content{
        padding: 17px 0 30px;
        text-align: center;
        letter-spacing: 0.02em;
        border-top: 1px solid @main-border-line-color;
        &__title{
            display: inline-block;
            padding-bottom: 10px;
            line-height: 23px;
            text-transform: uppercase;
            .hover-text-mixin();
        }
        &__rating{

        }
        &__prices{
            color: @main-heading-color;
            font-size: 18px;
            font-weight: 500;
            padding-top: 11px;
            .sale-price{
                color: @product-sale-price-color;
                margin-right: 10px;
            }
            .old-price{
                color: @product-old-price-color;
                text-decoration: line-through;
            }
        }
    }
}
