.page-content{
    @media(max-width: @laptop-large){
        padding: 0 @page-content-padding;
    }
}
.breadcrambs {
    padding: 17px 0 17px 6px;
    margin-bottom: 17px;
    color: @main-breadcrambs-color;

    .link {
        line-height: 17px;
    }

    i {
        padding: 0 7px;
    }
    @media(max-width: @laptop-small){
        margin: 0;
    }
}

.product-info {
    display: inline-block;
    box-sizing: border-box;
    .col-3-width();
    @media(max-width: @laptop-small){
        .col-4-width();
    }
    &-wrapper{
        @media(max-width: @tablet){
            .flex-mixin(@direction: column, @justify: flex-start);
        }
    }

    &__slider-wrapper {
        width: calc(100% - 460px);
        float: left;
        display: inline-block;
        @media(max-width: @tablet){
            width: 65%;
            float: none;
            order: 1;
        }
        @media(max-width: @mobile){
            width: 80%;
        }
        @media(max-width: @mobile-small){
            width: 100%;
        }

        &__slider {
            margin-bottom: 6px;
            width: 100%;

            img {
                border: 1px solid @main-border-line-color;
                box-sizing: border-box;
                .geometric-mixin(@width: 100%, @height: auto);
            }

            &-controls {
                .flex-mixin(@justify: space-between);
                .slider-controls__mini-slide{
                    display: inline-block;
                    width: calc(25% - 10px);
                    box-sizing: border-box;
                    border: 1px solid @main-border-line-color;
                    @media(max-width: @laptop-small){
                        width: calc(25% - 5px);
                    }
                }

                img {
                    .geometric-mixin(@width: 100%, @height: auto);
                    display: block;
                    box-sizing: border-box;
                }
            }
        }
    }

    &__content {
        float: right;
        box-sizing: border-box;
        display: inline-block;
        width: 430px;
        margin-left: @padding-width;
        @media(max-width: @tablet){
            float: none;
            .col-4-width();
            order: 2;
            margin: 0;
            padding-top: 30px;
        }

        .product {
            &-card {
                width: 100%;

                &__title {
                    font-size: 19px;
                    line-height: 26px;
                    text-transform: uppercase;
                    font-weight: normal;
                }

                &__code {
                    font-size: 13px;
                    color: @product-card-code-color;
                    float: left;
                    padding: 16px 0 0 2px;
                }

                &__status {
                    float: right;
                    font-size: 13px;
                    color: @product-card-status-color;
                    padding: 16px 0;

                    i {
                        color: @main-elements-color;
                        font-size: 9px;
                        position: relative;

                        &::after {
                            content: '';
                            .geometric-mixin(@width: 10px, @height: 10px);
                            .absolute-position-mixin(@top: 30%, @left: 18%, @translateX: -42%, @translateY: -45%);
                            background-color: @product-card-status-color;
                            z-index: -1;
                        }
                    }
                }

                &__rating {
                    padding-top: 2px;

                    .rating__stars {
                        .rating-stars-mixin();
                    }

                    .review-link,
                    .add-review-link {
                        font-size: 13px;
                        padding-left: 6px;
                    }

                    .review-link {
                        padding-right: 12px;
                        border-right: 1px solid @product-card-review-line-color;
                    }
                }

                &__price {
                    padding: 27px 0 20px;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 20px;
                    color: @product-card-price-color;
                }

                &__description {
                    line-height: 21px;
                }
            }

            &__actions {
                &__size-select,
                &__color-select {
                    display: inline-block;
                    padding-top: 37px;
                    padding-bottom: 6px;
                    box-sizing: border-box;
                    width: calc(50% - 15px);
                    @media(max-width: @mobile-small){
                        display: inline-block;
                        width: 90%;
                        padding: 15px 0;
                    }

                    .select-container{
                        display: block;
                        select {
                            width: 100%;
                            padding-left: 20px;
                            @media(max-width: @mobile-small){
                                padding-left: 2px;
                            }
                        }
                    }
                    label {
                        line-height: 17px;
                        padding-bottom: 5px;
                        display: block;
                    }

                    span {
                        color: @main-elements-background;
                    }
                }

                &__size-select {
                    float: left;
                    margin-right: 15px;
                    @media(max-width: @mobile-small){
                        float: none;
                        margin: 0;
                    }
                }

                &__color-select {
                    margin-left: 15px;
                    @media(max-width: @mobile-small){
                        margin: 0;
                    }
                }

                &__buttons-wrapper {
                    margin-top: 13px;
                    .flex-mixin(@justify: space-between, @align: stretch);
                    @media(max-width: @mobile){
                        justify-content: space-around;
                    }
                    @media(max-width: @mobile-small){
                        justify-content: center;
                        flex-wrap: wrap;
                    }
                }

                &__quantity {
                    .geometric-mixin(@width: 125px, @height: 40px);
                    @media(max-width: @mobile-small){
                        flex-grow: 1;
                        width: 100%;
                        text-align: center;
                        padding:0 60px 10px;
                        order: 1;
                    }

                    input {
                        display: inline-block;
                        border: 1px solid @main-border-line-color;
                        .geometric-mixin(@width: 70%, @height: 40px);
                        border-radius: 5px;
                        text-align: center;
                    }

                    label {
                        line-height: 17px;
                    }
                }

                &__add-btn {
                    .button-mixin(@width: 210px, @height: 40px, @background: @main-elements-background);
                    .hover-mixin(@page-main-color;);
                    @media(max-width: @mobile-small){
                        margin: 5px 8px;
                        width: 140px;
                        order: 3;
                    }
                }

                &__addWish-btn,
                &__compare-btn {
                    .button-mixin(@width: 40px, @height: 40px, @background: @page-main-color);
                    position: relative;
                    @media(max-width: @mobile-small){
                        margin: 5px 8px;
                    }

                    i {
                        .middle-mixin();
                    }

                    .hover-mixin(@page-hover-color;)
                }
                &__addWish-btn{
                    @media(max-width: @mobile-small){
                        order: 2;
                    }
                }

                &__compare-btn {
                    position: relative;
                    @media(max-width: @mobile-small){
                        order: 4;
                    }

                    img {
                        .middle-mixin();
                    }
                }
            }
        }
    }

    &__details-tabs{
        margin-top: 70px;
        margin-bottom: 100px;
        position: relative;
        @media(max-width: @laptop-small){
            margin-bottom: 20px;
        }
        @media(max-width: @mobile){
            .flex-mixin(@justify: space-between, @align: stretch);
            flex-wrap: wrap;
        }
        .details-tabs__text{
            float: right;
            display: inline-block;
            box-sizing: border-box;
            width: calc(100% - 200px);
            min-height: 675px;
            border: 1px solid @main-border-line-color;
            @media(max-width: @tablet){
                width: calc(100% - 170px);
            }
            @media(max-width: @mobile){
                order: 2;
                width: 100%;
                font-size: smaller;
            }
        }
        input[type="radio"]{
            display: none;
        }
        #tab1:checked ~ .tab1-title,
        #tab2:checked ~ .tab2-title,
        #tab3:checked ~ .tab3-title,
        #tab4:checked ~ .tab4-title{
            &::before {
                content: '';
                .absolute-position-mixin(@top: 0, @left: -1px, @translateX: 0, @translateY: 0);
                .geometric-mixin(@width: 4px, @height: 100%);
                background-color: @page-hover-color;
                @media(max-width: @mobile){
                    .absolute-position-mixin(@top: -1px, @left: 0, @translateX: 0, @translateY: 0);
                    .geometric-mixin(@width: 100%, @height: 4px);
                }
            }
            &::after{
                content: '';
                .absolute-position-mixin(@top: 0, @left: 100%, @translateX: 0, @translateY: 0);
                .geometric-mixin(@width: 1px, @height: 100%);
                background-color: @main-background;
                @media(max-width: @mobile){
                    .absolute-position-mixin(@top: 100%, @left: 0, @translateX: 0, @translateY: 0);
                    .geometric-mixin(@width: 100%, @height: 1px);
                }
            }
        }

        #tab1:checked ~ .details-tabs__text > .tab1-content,
        #tab2:checked ~ .details-tabs__text > .tab2-content,
        #tab3:checked ~ .details-tabs__text > .tab3-content,
        #tab4:checked ~ .details-tabs__text > .tab4-content{
            display: block;
        }
        .details-tab{
            &__heading{
                float: left;
                display: inline-block;
                font-size: @h2-font-size;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 21px;
                cursor: pointer;
                .hover-text-mixin();
                width: 200px;
                position: relative;
                border-bottom: 1px solid @main-border-line-color;
                border-left: 1px solid @main-border-line-color;
                box-sizing: border-box;
                padding: 20px 0 20px 30px;
                z-index: 1;
                background-color: @main-background;
                &:first-of-type{
                    border-top: 1px solid @main-border-line-color;
                }
                &:last-of-type{
                    @media(max-width: @mobile){
                        border-right: 1px solid @main-border-line-color;
                    }
                }
                .heading__text{
                    @media(max-width: @mobile){
                        display: none;
                    }
                }
                .heading__icon{
                    display: none;
                    @media(max-width: @mobile){
                        display: inline-block;
                        .middle-mixin();
                        font-size: 18px;
                    }
                }
                @media(max-width: @tablet){
                    width: 170px;
                    padding-left: 20px;
                }
                @media(max-width: @mobile){
                    width: 25%;
                    display: inline-block;
                    border-top: 1px solid @main-border-line-color;
                    border-bottom: none;
                    padding: 20px;
                    font-size: 12px;
                }
            }
            &__content{
                display: none;
                min-height: 100%;
                box-sizing: border-box;
                padding: 31px 20px 20px 31px;
                line-height: 23px;
                p{
                    margin: 40px 0;
                    &:first-child{
                        margin-top: 0;
                    }
                }
                @media(max-width: @tablet){
                    padding: 20px;
                }
                @media(max-width: @mobile){
                    padding: 5px;
                }
            }
        }
    }
}

.products-related {
    .col-4-width();
    &__heading {
        text-align: center;

        p {
            line-height: 23px;
            color: @page-hover-color;
            text-transform: uppercase;
            padding-bottom: 6px;
        }

        &__title {
            display: inline-block;
            font-size: 36px;
            line-height: 23px;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
            @media(max-width: @mobile){
                line-height: 40px;
            }

            &::before,
            &::after {
                content: '';
                .geometric-mixin(@width: 8px, @height: 8px);
                background-color: @main-elements-background;
                border-radius: 50%;
                @media(max-width: @mobile){
                    display: none;
                }
            }

            &::before {
                .absolute-position-mixin(@left: -17px, @translateX: 0);
            }

            &::after {
                .absolute-position-mixin(@left: calc(100% + 10px), @translateX: 0);
            }
        }
    }

    &__gallery {
        .flex-mixin(@justify: space-between, @align: stretch);
        padding-top: 30px;
        @media(max-width: @mobile){
            flex-direction: column;
        }

        &__item {
            width: calc((100% - 3 * @padding-width) / 4);
            @media(max-width: @laptop-small){
                .col-1-width(@padding: @padding-width-small);
            }
            @media(max-width: @mobile){
                width: 65%;
                margin: 0 auto;
            }
        }
    }
}

.float_right {
    float: right;
}

.aside.float_right {
    .col-1-width();
    @media(max-width: @laptop-small){
        float: none;
        .col-4-width();
    }
    .aside__heading {
        font-size: 17px;
        font-weight: bold;
        line-height: 20px;
        text-transform: uppercase;
        color: @main-elements-color;
        background-color: @main-elements-background;
        padding: 12px 22px;
        border-radius: 5px 5px 0 0;
        @media(max-width: @laptop-small){
            font-size: 13px;
        }
    }

    .featured-products {
        box-sizing: border-box;
        border: 1px solid @main-border-line-color;
        border-top: none;
        border-radius: 0 0 5px 5px;
        margin-bottom: 30px;
        @media(max-width: @laptop-small){
            .flex-mixin(@align: flex-end);
        }
        @media(max-width: @mobile){
            flex-direction: column;
        }

        &__item {
            padding: 23px 23px 21px 20px;
            position: relative;
            @media(max-width: @laptop-small){
                padding: 12px;
            }
            @media(max-width: @tablet){
                padding: 4px;
                width: 20%;
            }
            @media(max-width: @mobile){
                width: 50%;
                margin: 0 auto;
                padding-bottom: 15px;
            }
            &:first-child{
                @media(max-width: @tablet){
                    padding-left: 0;
                }
            }
            &:last-child{
                @media(max-width: @tablet){
                    padding-right: 0;
                }
            }

            .product-card_mini {
                .flex-mixin(@justify: space-between, @align: stretch);
                @media(max-width: @laptop-small){
                    flex-direction: column;
                }

                &__content{
                    margin-left: 11px;
                    @media(max-width: @laptop-small){
                        margin: 0;
                    }
                }
                &__link-image{
                    width: 100%;
                }
                &__image {
                    .geometric-mixin(@width: 100%, @height: auto);
                    display: block;
                }

                &__title {
                    text-transform: uppercase;
                    line-height: 20px;
                    font-size: 13px;
                    display: inline-block;
                    @media(max-width: @laptop-small){
                        display: block;
                        text-align: center;
                    }
                }

                &__rating {
                    display: inline-block;
                    .background-image-mixin(@image: 'star5.png', @widthImg: 83px, @heightImg: 14px);
                    margin-bottom: 6px;
                    margin-top: 7px;
                    @media(max-width: @laptop-small){
                        display: block;
                        margin: 10px auto;
                    }
                }

                &__price {
                    font-size: 15px;
                    font-weight: 700;
                    display: inline-block;
                    @media(max-width: @laptop-small){
                        display: block;
                        padding-top: 5px;
                        text-align: center;
                    }
                }

                &:hover > .product-link__title {
                    color: @page-hover-color;
                }
            }

            &:not(:last-child)::after {
                content: '';
                .geometric-mixin(@width: 85%, @height: 1px);
                .absolute-position-mixin(@top: calc(100% + 1px), @left: 50%);
                background-color: @main-border-line-color;
                @media(max-width: @tablet){
                    display: none;
                }
                @media(max-width: @mobile){
                    content: '';
                    .geometric-mixin(@width: 100%, @height: 2px);
                    .absolute-position-mixin(@top: calc(100% + 1px), @left: 50%);
                    display: block;
                }
            }
        }
    }
}
.sidebar{
    &-item{
        width: 100%;
        @media(max-width: @laptop-small){
            display: block;
            width: 50%;
            margin: 10px auto;
        }
        @media(max-width: @mobile-small){
            width: 80%;
        }

        &__image{
            .geometric-mixin(@width: 100%, @height: auto);
            display: block;
        }
    }
}
#colors,
#sizes{
    background: @main-background;
}
