@image-url: "../../dist/ima/";
@page-main-color: #282828;
@main-background: #FFFFFF;
@main-elements-background: #FF2D37;
@main-elements-color: @main-background;
@main-border-line-color: #E5E5E5;
@main-heading-color: #282828;
@footer-heading-color: @main-background;
@footer-item-color: #DDDDDD;
@footer-background: #181818;
@footer-copyright-background: #111111;
@page-font-size: 14px;
@h1-font-size: 22px;
@h2-font-size: 18px;
@h3-font-size: 17px;
@page-max-width: 1600px;
@page-wrapper-width: 1170px;