@image-url: "../../dist/ima/";
@page-main-color: #282828;
@page-hover-color: #FF2D37;
@header-top-menu-background: @page-main-color;
@header-top-menu-color: #CCCCCC;
@header-top-menu-dropdown-item-background: #F5F5F5;
@header-top-menu-dropdown-item-color: #000000;
@header-top-menu-dropdown-item-background-hover: @main-background;
@header-search-input-border-color: #C4C4C4;
@mini-cart-box-shadow: rgba(0, 0, 0, 0.25);
@mini-cart-border-line-color: #DDDDDD;
@placeholder-text-color: rgba(196, 196, 196, 0.8);
@main-background: #FFFFFF;
@main-elements-background: @page-hover-color;
@main-elements-color: @main-background;
@main-border-line-color: #E5E5E5;
@main-heading-color: @page-main-color;
@main-breadcrambs-color: #888888;
@product-card-code-color: #999999;
@product-card-status-color: #00BF67;
@product-card-review-line-color: @main-breadcrambs-color;
@product-card-price-color: @header-top-menu-dropdown-item-color;
@product-sale-price-color: @page-hover-color;
@product-old-price-color: @product-card-code-color;
@product-filter-model-color: #686868;
@product-filter-black-color: #000000;
@product-filter-brown-color: #945454;
@product-filter-gray-color: #8F8F8F;
@product-filter-green-color: #53A828;
@product-filter-orange-color: #EB6703;
@product-filter-violet-color: #EF3DFF;
@product-filter-red-color: #FF0000;
@product-filter-white-color: @main-background;
@product-filter-yellow-color: #FFD500;
@product-filter-price-input-color: @main-heading-color;
@footer-heading-color: @main-background;
@footer-item-color: #DDDDDD;
@footer-background: #181818;
@footer-copyright-background: #111111;
@footer-copyright-color: @main-breadcrambs-color;
@page-font-size: 14px;
@h1-font-size: 22px;
@h2-font-size: 18px;
@h3-font-size: 17px;
@page-max-width: 1600px;
@page-wrapper-width: 1170px;
@padding-width: 30px;
