* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

.wrapper input.tabs {
    display: none;
}

.wrapper label.tab-text {
    display: block;
    border: 1px solid blue;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.wrapper ul {
    display: none;
}

.wrapper > ul li {
    list-style-type: none;
    border: 1px solid green;
    border-top: none;
    text-align: center;
    padding: 5px;
}

.wrapper input.tabs:checked + ul {
    display: block;
}
