@import "tipographi.css";

body{
    background: burlywood;
}

.product_wrapper {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: space-between;
}

.product_list {
    text-align: center;
}

.product_list h2 {
    font-size: 26px;
    margin-top: 30px;
    color: darkslateblue;
    font-style: italic;
}

.product_item {
    width: 30%;
    margin-top: 30px;
    border: 1px solid royalblue;
    background: #4EC6DE;
    padding: 10px;
    border-radius: 10px;
}

.product_item img {
    width: 100%;
}

.product_item h3 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.product_item .rating {
    font-size: 16px;
    color: darkred;
    margin-top: 10px;
    display: block;
}

.product_item .sale {
    color: red;
    margin: 10px 0;
}

.product_item .price {
    font-size: 16px;
    color: darkblue;
    margin: 7px 0;
}

.product_item .oldPrice{
    color: olive;
    text-decoration: line-through;
}

.product_item .star {
    font-size: 30px;
    color: #eeeeee;
}
