@text-color: #182d47;
@btn-color: #eb2645;
@header-menu-bg: #182d47;
@main-menu-color: #9a9d9f;
@border-color: #e6e6e6;
@white-color: #fff;
@product-stock-color: #30b834;
@devis-bg: #1a3456;
@top-footer-bg: #e31d3c;
@footer-link-color: #b9bbbd;

