@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');
@import "reset.css";
@import "normalize.css";
@import "globall.css";

header.header {
    padding: 30px 15px 685px;
    width: 100%;
    background-image: url("../image/Layer_7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.header .menu-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.header .menu-wrapper .button {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}


.header .menu-wrapper .button .link {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    margin: 0 32px;
    color: #4d4959;
}

.header .menu-wrapper .link.logo {
    height: 85px;
    width: 94px;
    background-image: url("../image/Logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}