@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');
@import "reset.css";
@import "normalize.css";
@import "globall.css";

header.header,
.header .menu-wrapper .link.logo,
.wrapper .text-wrapper::after,
.work-wrapper .row-wrapper .banner::after,
.work-wrapper .row-wrapper .about-bicycle:before,
.work-wrapper .row-wrapper .banner,
.social-wrapper .content .news,
.read-bottoms .image-container .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header.header {
    padding: 30px 0 685px;
    width: 100%;
    background-image: url("../image/Layer_7.png");
    position: relative;
    z-index: 0;
}

.header .menu {
    padding: 0 15px;
}

.header .menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms all ease-out;
}

.header .menu-wrapper .button {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

.header .menu-wrapper .button.home {
    display: none;
}

.header .menu-wrapper .button .link {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    margin: 0 32px;
    color: #4d4959;
}

.header .menu-wrapper .link.logo {
    height: 85px;
    width: 94px;
    background-image: url("../image/Logo.png");
    animation: rotate 8s cubic-bezier(.70, .15, .15, .70) infinite;
}

@keyframes rotate {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

/*--Hamburger menu--*/
.header .hamburger-wrap .label {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    width: 45px;
    height: 45px;
    background-image: url("../image/Logo.png");
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
}

.header .hamburger-wrap input.menu {
    display: none;
}

.header .hamburger-wrap input.open:checked ~ ul.menu-wrapper {
    transform: scale(1);
}


.header .hamburger-wrap .menu-label {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35px;
    height: 35px;
    border: solid 2px #64c29e;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
    z-index: 1;
}

.header .hamburger-wrap input.open:checked ~ .menu-label .row:first-child {
    transform: translateY(420%) rotate(405deg);
}

.header .hamburger-wrap input.open:checked ~ .menu-label .row:nth-child(2) {
    opacity: 0;
}

.header .hamburger-wrap input.open:checked ~ .menu-label .row:last-child {
    transform: translateY(-420%) rotate(-405deg);
}

.header .hamburger-wrap .menu-label .row {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #64c29e;
    transition: all 500ms ease-out;

}

.header .hamburger-wrap .hamburger-menu {
    display: none;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    background-color: #f7f7f7;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition: all 500ms ease-out;
}

.header .hamburger-wrap .hamburger-menu .button {
    padding: 10px;
    border-bottom: solid 1px #64c29e;
}

.header .hamburger-wrap .hamburger-menu .button .link {
    color: #64c29e;
    text-decoration: none;
}

/*--about us---*/
.wrapper .text-wrapper {
    padding: 192px 10px 101px;
    text-align: center;
    background-color: #f7f7f7;
    position: relative;
}

.wrapper .text-wrapper::after {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -53%);
    display: block;
    content: '';
    width: 52px;
    height: 43px;
    background-image: url("../image/Icon(1).png");
}

.wrapper .text-wrapper .title {
    padding-bottom: 22px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.wrapper .text-wrapper article.text {
    line-height: 34px;
    font-size: 18px;
    margin: 0 auto;
    max-width: 1080px;
}

/*---Work---*/
.work-wrapper .row-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.work-wrapper .row-wrapper .banner {
    width: 66.7%;
    position: relative;
    align-self: stretch;
    background-image: url("../image/Layer_10.png");
}

.work-wrapper .row-wrapper .banner::after {
    display: block;
    content: '';
    width: 113px;
    height: 118px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../image/LogoB.png");
}

.work-wrapper .row-wrapper .about-bicycle {
    position: relative;
    padding-top: 120px;
    background-color: #ffffff;
    width: 33.3%;
}

.work-wrapper .row-wrapper .about-bicycle:before,
.work-wrapper .row-wrapper .about-bicycle:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;

}

.work-wrapper .row-wrapper .about-bicycle:before {
    width: 41px;
    height: 30px;
    top: 10%;
    background-image: url("../image/Icon.png");
    transform: translateX(-50%);
}

.work-wrapper .row-wrapper .about-bicycle:after {
    width: 50px;
    height: 1px;
    background-color: #353738;
    bottom: 43%;
    transform: translate(-50%, -200%);
}

.work-wrapper .row-wrapper .about-bicycle .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    padding-bottom: 13px;
}

.work-wrapper .row-wrapper .about-bicycle article.about {
    padding: 0 10px 69px;
}

.work-wrapper .row-wrapper .about-bicycle article.about,
.work-wrapper .about-bicycle .decorate-wrapper article.additional {
    max-width: 398px;
    margin: 0 auto;
    line-height: 30px;
    text-align: justify;
    letter-spacing: .5px;
}

.work-wrapper .row-wrapper .about-bicycle .decorate-wrapper {
    position: relative;
    overflow: hidden;
}

.work-wrapper .row-wrapper .about-bicycle .decorate-blind {
    transition: all 500ms ease-out;
    display: block;
    width: 100%;
}

.work-wrapper .about-bicycle .decorate-wrapper .additional-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 30px 60px;
    text-align: justify;
    z-index: 5;
    opacity: 0;
    transition-delay: 250ms;
    transition: all 350ms ease-out;
}

.work-wrapper .about-bicycle .decorate-wrapper .triangle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.work-wrapper .about-bicycle .decorate-wrapper .additional-wrapper:hover ~ img.decorate-blind {
    transform: translateY(105%);
}

.work-wrapper .about-bicycle .decorate-wrapper .additional-wrapper:hover {
    opacity: 1;
}

.work-wrapper .row-wrapper.second .banner {
    background-image: url("../image/Layer_12.png");
}

.work-wrapper .row-wrapper.second .banner::after {
    background-image: url("../image/LogoS.png");
    width: 177px;
    height: 152px;
}

.work-wrapper .row-wrapper.second .about-bicycle:before {
    background-image: url("../image/Icon(1.1).png");
    width: 32px;
    height: 32px;
}

.work-wrapper .row-wrapper.third .banner {
    width: 33.33%;
    background-image: url("../image/Layer_15.png");
}

.work-wrapper .row-wrapper.third .banner::after {
    background-image: url("../image/LogoT.png");
    width: 208px;
    height: 67px;
}

.work-wrapper .row-wrapper.third .about-bicycle {
    flex-grow: 0;
    width: 33.33%;
}

.work-wrapper .row-wrapper.third .about-bicycle:before {
    background-image: url("../image/Icon(2).png");
    width: 23px;
    height: 41px;
}

.work-wrapper .row-wrapper.third .banner-simple {
    width: 33.33%;
    background-image: url("../image/Layer_14.png");
}

/*---Social wrapper---*/
.social-wrapper {
    position: relative;
    overflow: hidden;
}

.social-wrapper .content-slider {
    padding: 235px 0 234px;
}

.social-wrapper .content-slider .tabs {
    display: none;
}

/*---Slider---*/
.social-wrapper .content-slider .slide {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all 800ms ease;
}

.content-slider #first:checked ~ .slide:first-of-type {
    left: 0;
    right: 0;
}

.content-slider #first:checked ~ .slide:nth-of-type(2) {
    left: 100%;
    right: -100%;
}

.content-slider #first:checked ~ .slide:nth-of-type(3) {
    left: 200%;
    right: -200%;
}

.content-slider #second:checked ~ .slide:first-of-type {
    left: -100%;
    right: 100%;
}

.content-slider #second:checked ~ .slide:nth-of-type(2) {
    left: 0;
    right: 0;
}

.content-slider #second:checked ~ .slide:nth-of-type(3) {
    left: 100%;
    right: -100%;
}

.content-slider #third:checked ~ .slide:first-of-type {
    left: -200%;
    right: 200%;
}

.content-slider #third:checked ~ .slide:nth-of-type(2) {
    left: -100%;
    right: 100%;
}

.content-slider #third:checked ~ .slide:nth-of-type(3) {
    left: 0;
    right: 0;
}

.social-wrapper .content-slider .news {
    position: relative;
    padding: 188px 10px 178px;
    text-align: center;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.social-wrapper .content-slider .news:before {
    display: block;
    content: '';
    width: 32px;
    height: 27px;
    background-image: url("../image/twiter.png");
    position: absolute;
    left: 50%;
    top: 29%;
    transform: translate(-50%, -50%);
}

.social-wrapper .content-slider .news .text-label {
    padding-bottom: 17px;
}

.social-wrapper .content-slider .news .text-label span {
    color: #848789;
    font-weight: lighter;
    padding-bottom: 27px;
}

.social-wrapper .content-slider .news article.text {
    margin: 0 auto;
    max-width: 1036px;
    color: #848789;
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
}

.social-wrapper .content-slider .news.facebook:before {
    height: 32px;
    background-image: url("../image/facebook.png");
}

.social-wrapper .content-slider .news.pinterest:before {
    height: 32px;
    background-image: url("../image/pint.png");
    background-size: cover;
}

.social-wrapper .tabs-wrapper,
.social-wrapper .tabs-active {
    position: absolute;
    display: inline-block;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
}

.social-wrapper .tabs-wrapper .tabs-view,
.social-wrapper .tabs-active .tabs-view {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #c8c8c8;
    cursor: pointer;
    margin: 0 1.4px;
}

.social-wrapper .tabs-active .tabs-view {
    background-color: #a9afb3;
    opacity: 0;
}

.content-slider #first:checked ~ div.tabs-active .tabs-view:nth-child(1) {
    opacity: 1;
}

.content-slider #second:checked ~ .tabs-active .tabs-view:nth-child(2) {
    opacity: 1;
}

.content-slider #third:checked ~ .tabs-active .tabs-view:nth-child(3) {
    opacity: 1;
}

/*--Read bottoms--*/
.read-bottoms {
    position: relative;
    display: flex;
}

.read-bottoms .image-container {
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    background-color: #848789;
}

.read-bottoms .image-container .row {
    width: 100%;
    display: flex;
}

.read-bottoms .image-container .image a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #f7f7f7;
    font-weight: bold;
    background-color: #64c29e;
    text-align: center;
    font-size: 14px;
    opacity: 0;
    transition: opacity 500ms ease-out;
}

.read-bottoms .image-container .image a:hover {
    opacity: .7;
}

.read-bottoms .image-container:first-child .row .image.horizontal:first-child {
    background-image: url("../image/Layer_19.png");
}

.read-bottoms .image-container:first-child .row .image.horizontal:last-child {
    background-image: url("../image/Layer_21.png");
}

.read-bottoms .image-container:first-child > .image.horizontal {
    background-image: url("../image/Layer_20.png");
}

.read-bottoms .image-container:nth-child(2) .image.vertical:first-child {
    background-image: url("../image/Layer_22.png");
}

.read-bottoms .image-container:nth-child(2) .image.vertical:last-child {
    background-image: url("../image/Layer_25.png");
}


.read-bottoms .image-container:last-child > .image.horizontal {
    background-image: url("../image/Layer_23.png");
}

.read-bottoms .image-container:last-child .row .image.horizontal:first-child {
    background-image: url("../image/Layer_24.png");
}

.read-bottoms .image-container:last-child .row .image.horizontal:last-child {
    background-image: url("../image/Layer_26.png");
}

.read-bottoms .image-container .image.horizontal {
    width: 50%;
}

.read-bottoms .image-container > .image.horizontal {
    width: 100%;
}

.read-bottoms .image-container .image.horizontal a {
    padding: 106px 15px 110px;
}

.read-bottoms .image-container .image.vertical {
    width: 50%;
}

.read-bottoms .image-container .image.vertical a {
    padding: 245px 15px;
}

.read-bottoms .image-container img {
    display: block;
    width: 51px;
    height: 44px;
    margin: 0 auto;
    padding-bottom: 14px;
}

/*---Media---*/
@media screen and (max-width: 1600px) {
    div.wrapper {
        max-width: 1600px;
        padding: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1600px) {
    div.wrapper {
        max-width: 1600px;
        padding: 0;
        margin: 0 auto;
    }

    .work-wrapper .row-wrapper .about-bicycle:after {
        bottom: 38%;
    }
}

@media screen and (max-width: 1200px) {
    .work-wrapper .row-wrapper .about-bicycle:after {
        bottom: 33%;
    }
}


@media screen and (max-width: 992px) {
    .wrapper .text-wrapper {
        padding: 130px 10px 80px;
    }

    .wrapper .text-wrapper::after {
        top: 20%;
    }

    .wrapper .text-wrapper article.text {
        font-size: 16px;
    }

    .work-wrapper .row-wrapper .about-bicycle {
        padding-top: 100px;
    }

    .work-wrapper .row-wrapper .about-bicycle:before {
        top: 6%;
    }

    .work-wrapper .row-wrapper .about-bicycle:after {
        bottom: 27%;
    }

    .work-wrapper .row-wrapper .about-bicycle article.about {
        padding: 0 10px 60px;
    }

    .social-wrapper .content-slider .news article.text {
        font-size: 20px;
    }

    .social-wrapper .content-slider {
        padding: 177px 0 176px;
    }

    .social-wrapper .content-slider .news {
        padding: 130px 10px 120px;
    }

    .social-wrapper .content-slider .news:before {
        top: 23%;
    }
}

@media screen and (max-width: 767px) {
    .header .hamburger-wrap .menu-label {
        display: flex;
    }

    .header .hamburger-wrap .label {
        display: block;
    }

    .header .menu-wrapper {
        transform: scale(0);
        position: fixed;
        top: 85px;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: #f7f7f7;
        border-top: 2px solid #64c29e
    }

    .header .menu-wrapper .button {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-bottom: 2px solid #64c29e;
    }

    .header .menu-wrapper .button.home {
        display: block;
    }

    .header .menu-wrapper .button.logo {
        display: none;
    }

    .header .hamburger-wrap .hamburger-menu {
        display: block;
    }

    .wrapper .text-wrapper {
        padding: 100px 10px 50px;
    }

    .wrapper .text-wrapper::after {
        top: 15%;
    }

    .work-wrapper .row-wrapper .about-bicycle article.about,
    .work-wrapper .about-bicycle .decorate-wrapper article.additional {
        line-height: 23px;
    }

    .work-wrapper .row-wrapper .about-bicycle {
        padding-top: 85px;
    }

    .work-wrapper .row-wrapper {
        flex-direction: column;
    }

    .work-wrapper .row-wrapper .banner,
    .work-wrapper .row-wrapper.third .banner {
        width: 100%;
        padding: 200px 0;
    }

    .work-wrapper .row-wrapper .about-bicycle,
    .work-wrapper .row-wrapper.third .about-bicycle {
        width: 100%;
    }

    .work-wrapper .row-wrapper .about-bicycle:after {
        bottom: 51%;
    }

    .social-wrapper .content-slider .news article.text {
        font-size: 18px;
    }

    .social-wrapper .content-slider {
        padding: 157px 0 146px;
    }

    .social-wrapper .content-slider .news {
        padding: 110px 10px 90px;
    }

    .read-bottoms {
        display: block;
    }

    .read-bottoms .image-container:nth-child(2) {
        flex-direction: column;
        width: 25%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }

    .read-bottoms .image-container .image.vertical {
        width: 100%;
    }

    .read-bottoms .image-container:nth-child(2n+1) {
        left: 0;
        right: 75%;
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    .wrapper .text-wrapper {
        padding: 110px 10px 40px;
    }

    .wrapper .text-wrapper .title {
        line-height: 28px;
    }

    .wrapper .text-wrapper article.text {
        line-height: 25px;
        text-align: justify;
    }

    .wrapper .text-wrapper::after {
        top: 15%;
    }

    .work-wrapper .row-wrapper .about-bicycle:after {
        bottom: 39%;
    }

    .social-wrapper .content-slider {
        padding: 235px 0 146px;
    }

    .social-wrapper .content-slider .news:before {
        top: 17%;
    }

    .social-wrapper .tabs-wrapper,
    .social-wrapper .tabs-active {
        bottom: 7%;
    }

    .read-bottoms .image-container:nth-child(2n+1) {
        width: 100%;
    }

    .read-bottoms .image-container:nth-child(2) {
        position: relative;
        width: 100%;
    }
}
