@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');
@import "reset.css";
@import "normalize.css";
@import "globall.css";

header.header {
    padding: 66px 15px 649px;
    width: 100%;
    background-image: url("../image/Layer_7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.header .menu {
    padding: 0 440px 0 467px;
}

.header .menu-wrapper {
    display: flex;
    position: relative;
}

.header .menu-wrapper .button {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin-right: 70px;
}
.header .menu-wrapper .button:nth-child(2n){
    margin-right: 60px;
}
.header .menu-wrapper .button:nth-child(5n){
    margin-right: 60px;
}

.header .menu-wrapper .button .link {
    text-decoration: none;
    text-transform: uppercase;
    color: #848789;

}

.header .menu-wrapper .button.logo {
    height: 85px;
    width: 94px;
    display: block;
    background-image: url("../image/Logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-35%);
}