*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
a.icon{
    display: block;
    width: 35px;
    color: white;
    font-size: 9px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 15px;
    text-transform: capitalize;
    overflow: hidden;
}
a.menu-start-icon{
    display: block;
    width: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
a.icon:hover{
    overflow: visible;
}


img.label{
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto 4px;
}
img.label:hover{
    background-color: rgba(255, 255, 255, .1);
}
.desktop-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 5%;
    background-image: url("../img/wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
}
.desktop-wrapper .label-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.desktop-wrapper .computer-window{
    width: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
    bottom: 20%;
    background-color: white;
    display: none;
}
.desktop-wrapper .computer-window:target{
    display: block;
}
.desktop-wrapper .computer-window .window-header{
    max-height: 20px;
    padding: 3px;
    text-align: center;
    cursor: move;
    display: flex;
}
.desktop-wrapper .computer-window .window-header .left-bar{
    display: flex;
}
.desktop-wrapper .computer-window .window-header .pc{
    background-image: url("../img/this-pc.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    position: relative;
}
.desktop-wrapper .computer-window .window-header .options{
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
.desktop-wrapper .computer-window .window-header .pc:after,
.desktop-wrapper .computer-window .window-header .options:after{
    display: block;
    background-color: lightslategrey;
    content: '';
    width: 1px;
    position: absolute;
    right: -3px;
    top: 3px;
    bottom: 4px;
}


/*--Start Menu--*/

.menu-start-wrapper{
    position: fixed;
    top: 95%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    padding: 5px;
}

.start{
    background-image: url("../img/start.png");
}
.menu-start-wrapper .start-menu,
.menu-start-wrapper .labels-menu,
.menu-start-wrapper .task-panel{
    display: flex;
}
