.main_tab{
    //display: flex;
    width: 100%;
}
.headlight{
    width: 48%;
    height: 408px;
    display: flex;
    float: left;
    background-color: #1c1c1c;
    background-size: 60%;
    & p{
        padding: 25px 0 0 56px;
        color: grey;
        text-transform: capitalize;
    }
    & h2{
        padding: 165px 0 0 56px;
    }

    &:first-child{
        background: url("../../../img/fars.png") no-repeat 100% 50%;
        background-color: #303030;
    }
    &:nth-child(2n){
        background: url("../../../img/stoppes.png") no-repeat 100% 50%;
        background-color: #1c1c1c;
    }
    &:nth-child(3n){
        background: url("../../../img/disc2.png") no-repeat 100% 30%, url("../../../img/disc.png") no-repeat 100% 50%;
        background-color: #1c1c1c;
    }
    &:last-child{
        background: url("../../../img/chair.png") no-repeat 100% 50%;
        background-color: #303030;
    }
    &:nth-child(n){
        background-size: 50%;
    }
    &:hover{
        background-color: #4d4d5d;
        & h2,p{
            color: red;
        }
    }
}