.wrapper{
    max-width: 1400px;
    padding: 0 15px;
    display: block;
    margin: 0 auto;
}
body{
    font-size: 14px;
    line-height: 1.2;
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.tooltip{
    display: inline-block;
    margin: 5px;
    width: 25px;
    height: 25px;
    background-color: #222222;
    border-radius: 50%;
}
.tooltip-box{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    display: none;
    max-width: 250px;
    background-color: white;
}
.tooltip-box.active{
    display: block;
}