.responds-content {
    margin-top: 20px;
}

.product-responds {
    &__respond {
        border-bottom: 1px solid @main-border-line-color;
        padding: 15px 0;

        .respond {
            &__heading {
                margin-bottom: 10px;
                .flex-mixin(@justify: space-between, @align: baseline);
                flex-wrap: wrap;

                &__author {
                    display: inline-block;
                    font-weight: bold;
                    font-size: larger;
                    padding-right: 10px;
                }

                &__likes,
                &__date {
                    font-size: smaller;
                }

                &__likes {
                    .flex-mixin(@align: flex-end);

                    &__percent {
                        display: inline-block;
                        margin-left: 15px;
                    }

                    i {
                        font-size: 12px;
                        color: @form-review-rating-star-fill;
                    }

                    .active-star i {
                        color: @form-review-rating-star-fill-hover;
                    }

                    span {
                        font-size: smaller;
                    }
                }

                &__date {
                    margin-left: auto;
                }
            }

            &__text {
                margin-bottom: 7px;
                line-height: 1.25;
                word-break: break-word;

                p {
                    padding-bottom: 7px;
                }

                p > span:first-child {
                    font-weight: bold;
                }
            }

            &__vote-links {
                text-align: right;

                .vote-link_positive,
                .vote-link_negative {
                    display: inline-block;
                    padding: 0 8px;
                    cursor: pointer;

                    &:hover {
                        i {
                            color: @page-hover-color;
                        }
                    }
                }

                .vote-link_positive__counter,
                .vote-link_negative__counter {
                    font-size: 12px;
                    margin: 0 5px;
                }
            }
        }
    }
}
