.geometric-mixin(@width, @height){
    width: @width;
    height: @height;
}
.flex-mixin(@direction: row, @justify: center, @align: center){
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}
.background-image-mixin(@image, @size: cover, @position: center){
    background-image: url("@{image-url}@{image}");
    background-size: @size;
    background-position: @position;
    background-repeat: no-repeat;
}
.line-mixin(){
    content: "";
    position: absolute;
    background-color: @page-line-color;
}
.horizontal-line-mixin(@width: 0px){
    .line-mixin();
    width: 100%;
    max-width: @width;
    height: 2px;
    bottom: -1px;
}
.vertical-line-mixin(@height: 0px, @vertical-side){
    .line-mixin();
    width: 2px;
    height: @height;
    @{vertical-side}: -1px;
    top: 50%;
    transform: translate(0, -50%);
}
.underline-mixin(@width: 0px){
    content: "";
    position: absolute;
    width: @width;
    height: 6px;
    background-color: @underline-color;
    bottom: -3px;
    left: 0;
}
