@image-url: "../../dist/ima/";
/*---Colors---*/
@page-main-color: #ffffff;
@page-additional-color: #ff3448;
@page-hover-color: #67ffd1;
@icon-color: #9c1c28;
@btn-background: @icon-color;
@btn-background-hover: #b41c28;
@input-text-background: #282828;
@input-text-background-focus: @page-main-color;
/*---Fonts---*/
@page-font-size: 15px;
@h1-font-size: 45px;
@h2-font-size: 35px;
@h3-font-size: 25px;
/*---Width---*/
@page-wrapper-width: 1600px;
