@image-url: "../../dist/ima/";
@page-main-color: #ffffff;
@page-additional-color: #ff3448;
@page-hover-color: #67ffd1;
@icon-color: #9c1c28;
@btn-background: @icon-color;
@btn-background-hover: #b41c28;
@input-text-background: #282828;
@input-text-background-focus: @page-main-color;
@footer-background: #000000;
@footer-text-color: #887979;
@page-horizontal-line-color: #a2a2a2;
@underline-color: #9c1c28;
@page-font-size: 15px;
@h1-font-size: 45px;
@h2-font-size: 35px;
@h3-font-size: 25px;
@page-wrapper-width: 1600px;
@footer-wrapper-width: 1325px;
