@image-url: "../../dist/ima/";
@page-main-color: #ffffff;
@page-additional-color: #ff3448;
@page-hover-color: #67ffd1;
@header-links-color: #212121;
@header-links-color-hover: #201f1f;
@nav-menu-background: #030303;
@icon-color: #9c1c28;
@btn-background: @icon-color;
@btn-background-hover: #b41c28;
@input-text-background: #282828;
@input-text-background-focus: @page-main-color;
@footer-background: #000000;
@footer-text-color: #887979;
@page-line-color: #a2a2a2;
@underline-color: #9c1c28;
@contact-info-color: @page-line-color;
@main-background-color: @input-text-background;
@products-start-end-background: #303030;
@products-middle-background: #1c1c1c;
@products-after-text-color: #979696;
@featured-products-background: #363636;
@offers-background: @footer-background;
@page-font-size: 15px;
@h1-font-size: 45px;
@h2-font-size: 35px;
@h3-font-size: 25px;
@h3-font-size-laptop: 22px;
@page-wrapper-width: 1600px;
@footer-wrapper-width: 1325px;
@large-desktop: 1700px;
@desktop: 1600px;
@large-laptop: 1400px;
@laptop: 1200px;
@small-laptop: 992px;
@tablet: 767px;
@mobile: 500px;
