.bloc{
    width: 500px;
    height: 600px;
    border: 1px solid black;
    margin: 50px auto;
    background-image: url("./images/1.png") , url("./images/2.png"), url("./images/3.png"), url("./images/4.png"), url("./images/5.png"), url("./images/4.png"), url("./images/1.png"), url("./images/2.png"), url("./images/3.png");
    background-repeat: no-repeat;
    background-position:  left, right, top, bottom, center, right bottom, left  bottom, right top, left top;
    background-size: 25%;
}
