* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Proxima Nova ", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-style: normal;
  font-weight: normal;
  color: @black;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;

}
