@themes: "themes";
@black-color: #282828;
@gray-color: #CCCCCC;
@rad-color: #FF2D37;
@transparent-gray-color: rgba(196, 196, 196, 0.8);
@white-color: white;
@dark-gray-color: #888888;
@green-color: #00BF67;
@gray-background-color:#F5F5F5;
@select-gray-color: #666666;

@select-gray: @select-gray-color;
@gray-background: @gray-background-color;
@green: @green-color;
@black: @black-color;
@gray: @gray-color;
@rad: @rad-color;
@transparent-gray: @transparent-gray-color;
@white: @white-color;
@dark-gray: @dark-gray-color;
