@themes: "themes";
@black-color: #282828;
@font-color: #182d47;
@white-color: white;
@red-color: #eb2645;
@gray-background-color: #f7f7f7;
@gray-text-color: #afb1b3;
@crams-color: #9a9d9f;
@main-border-color: #e6e6e6;
@green-color:  #30b834;

@green: @green-color;
@main-border: @main-border-color;
@crams: @crams-color;
@gray-text: @gray-text-color;
@gray-background: @gray-background-color;
@white: @white-color;
@red: @red-color;
@font: @font-color;
@black: @black-color;
