footer.footer {
    .wrapper {
        background-color: #182d47;

        .top-footer-section {
            background-color: #e31d3c;
            margin: 0 -50px;
            padding: 0 9px;

            .contacts-info {
                display: inline-flex;
                transform: translateX(25%);
                padding: 12px 2px 9px;
                box-sizing: border-box;

                li {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 33px;
                    text-transform: uppercase;
                    color: #ffffff;
                    letter-spacing: 0.12px;
                    margin-right: 28px;

                    &:not(:first-child) {
                        & > a {
                            position: relative;

                            &:before {
                                display: block;
                                content: '';
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                top: 50%;
                                transform: translateY(-55%);
                            }
                        }
                    }

                    &:nth-child(2) {
                        & > a {
                            &:before {
                                background: url("../../../img/Faq.png") center no-repeat;
                                background-size: cover;
                                left: 17px;
                            }
                        }
                    }

                    &:nth-child(3) {
                        & > a {
                            &:before {
                                background: url("../../../img/Tchat.png") center no-repeat;
                                background-size: cover;
                                left: 14px;
                            }
                        }
                    }

                    &:nth-child(4) {
                        & > a {
                            &:before {
                                background: url("../../../img/Appel.png") center no-repeat;
                                background-size: cover;
                                left: 15px;
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }

                    &:nth-child(5) {
                        & > a {
                            &:before {
                                background: url("../../../img/Contact.png") center no-repeat;
                                background-size: cover;
                                left: 15px;
                                height: 16px;
                            }
                        }
                    }

                    & > a {
                        display: block;
                        color: #ffffff;
                        text-decoration: none;
                        padding: 12px 20px 12px 52px;
                        position: relative;
                    }

                    & > p {
                        height: 100%;
                        padding: 12px 22px;
                        line-height: 33px;
                        font-size: 14px;
                    }

                    &:first-child {
                        margin-right: 21px;
                    }
                }
            }
        }

        .middle-footer-section {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #2b5180;

            .footer-column {
                padding: 48px 0 38px;
                width: 50%;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;

                .row {
                    & > p {
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: 900;
                        letter-spacing: 1.1px;
                        line-height: 20px;
                        text-transform: uppercase;
                        margin-left: 2px;
                    }

                    & > span {
                        color: #b9bbbd;
                        font-size: 14px;
                        letter-spacing: 0.14px;
                        line-height: 20px;
                        margin-left: 4px;
                        display: inline-block;
                    }
                }


                &:first-child {
                    width: 50%;
                    margin-left: -4px;

                    .column-sect {
                        .row {
                            &:first-child {
                                margin-bottom: 50px;
                                padding-left: 21px;
                            }


                            & > p {
                                padding-bottom: 23px;
                                position: relative;

                                &:after {
                                    display: block;
                                    content: '';
                                    width: 18px;
                                    height: 3px;
                                    background-color: #eb2645;
                                    position: absolute;
                                    bottom: 10px;
                                    left: 40%;
                                    transform: translateX(-30%);
                                }
                            }

                            &:last-child {
                                & > p {
                                    &:after {
                                        transform: translateX(50%);
                                    }
                                }

                                & > span {
                                    text-align: center;
                                    margin: 0 auto;
                                    transform: translateX(46%);
                                }
                            }
                        }
                    }
                }

                .column-sect {
                    padding-right: 10px;

                    &:nth-child(2) {
                        transform: translateX(-56%);

                        .row {
                            &:first-child {
                                padding-left: 20px;
                                box-sizing: border-box;
                                margin-bottom: 30px;

                                & > span {
                                    transform: translateX(18%);
                                }
                            }

                            &:nth-child(2) {
                                transform: translateX(-4%);

                                & > span {
                                    transform: translateX(21%);
                                }
                            }
                        }
                    }
                }

                &:last-child {
                    width: 50%;

                    .column-sect {
                        width: 50%;
                        padding: 0;
                    }

                    .row {
                        padding: 0 21px 0 10px;
                        box-sizing: border-box;

                        & > p {
                            text-transform: none;
                            letter-spacing: 0.9px;
                            font-weight: 700;
                            margin-left: 0;
                            font-size: 18px;
                            padding-bottom: 2px;
                        }

                        & > span {
                            margin-left: 0;
                            line-height: 22px;
                            display: inline-block;
                        }

                        label {
                            display: block;
                            position: relative;
                            margin-top: 15px;

                            & > input {
                                width: 100%;
                                box-sizing: border-box;
                                border: none;
                                padding: 20px 60px 16px 20px;

                                &::placeholder {
                                    color: #8c8c8c;
                                    font-weight: 700;
                                    letter-spacing: 0.35px;
                                }
                            }

                            & > button {
                                position: absolute;
                                border: none;
                                width: 42px;
                                height: 42px;
                                color: #ffffff;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 22px;
                                letter-spacing: 0.16px;
                                background-color: #eb2645;
                                text-transform: uppercase;
                                right: 5px;
                                top: 5px;
                                bottom: 5px;
                            }
                        }

                        &:first-child {
                            margin-bottom: 26px;
                        }

                        &:nth-child(2) {
                            & > p {
                                letter-spacing: 0.8px;
                                font-size: 16px;
                            }

                            .social {
                                margin: 15px 0 0 -3px;

                                & > a {
                                    display: inline-block;
                                    width: 31px;
                                    height: 31px;
                                    background-color: #b9bbbd;
                                    text-decoration: none;
                                    border-radius: 50%;
                                    margin-right: 10px;
                                    background-position: center;
                                    background-repeat: no-repeat;

                                    &:first-child {
                                        background-image: url("../../../img/Facebook.png");
                                    }

                                    &:nth-child(2) {
                                        background-image: url("../../../img/Youtube.png");
                                    }

                                    &:nth-child(3) {
                                        background-image: url("../../../img/In.png");
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
