.wrapper {
    &.banner-menu {
        position: relative;

        .banner {
            margin: 0 -50px;
            background-color: rgba(33, 41, 51, .5);
            position: relative;
            box-sizing: border-box;

            & > img {
                display: block;
                width: 100%;
                z-index: -1;
                position: relative;
            }

            & > h2 {
                font-family: 'Proxima Nova Cn bl';
                width: 100%;
                text-align: center;
                color: #ffffff;
                line-height: 40px;
                letter-spacing: 3.5px;
                text-transform: uppercase;
                position: absolute;
                top: 35%;
                font-style: normal;
                transform: translateY(-10%);
            }
        }

        nav.menu {
            background-color: #182d47;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 71px; /*Видалити*/
            display: flex;
            justify-content: space-between;

            & > ul {
                display: flex;
                justify-content: space-between;
                padding-left: 45px;
                box-sizing: border-box;
                height: 100%;
                width: 65%;

                li {
                    padding: 5px 30px;
                    display: flex;
                    box-sizing: border-box;
                    margin-top: 4px;
                    color: #FFFFFF;
                    position: relative;

                    &:not(:last-child) {
                        &:after {
                            display: block;
                            content: '';
                            position: absolute;
                            border-right: 1px solid #f5f5f5;
                            right: 0;
                            top: 0;
                            bottom: 4px;
                        }
                    }

                    & > a {
                        color: inherit;
                        text-transform: uppercase;
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        font-size: 13px;
                        line-height: 15px;
                        font-weight: bold;
                        align-self: center;
                        letter-spacing: 0.33px;
                    }

                    &:hover {
                        color: #182d47;
                        background-color: #FFFFFF;
                        border-bottom: 4px solid #eb2645;
                    }
                }
            }

            .form-wrap {
                width: 24%;
                padding: 10px;
                box-sizing: border-box;

                & > label {
                    display: block;
                    position: relative;

                    &:before {
                        position: absolute;
                        display: block;
                        content: '';
                        width: 21px;
                        height: 21px;
                        left: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        background: url("../../../img/main-spr.png") -80px 0 no-repeat;
                    }

                    & > input {
                        width: 100%;
                        padding: 15px 15px 15px 52px;
                        display: block;
                        box-sizing: border-box;
                        font-size: 18px;
                        border: none;

                        &::placeholder {
                            font-size: 14px;
                            font-weight: bold;
                            letter-spacing: 0.14px;
                            color: #afb1b3;
                        }
                    }
                }
            }
        }
    }

    &.main-content {
        margin-bottom: 70px;
        .title-links {
            padding: 8px 0;

            & > a {
                text-decoration: none;
                text-transform: uppercase;
                color: #9a9d9f;
                font-size: 12px;
                line-height: 33px;
                letter-spacing: 0.12px;
                padding-right: 21px;
                position: relative;
                box-sizing: border-box;

                &:not(:last-child) {
                    &:after {
                        display: block;
                        content: '';
                        background: url("../../../img/copie.png") center no-repeat;
                        height: 5px;
                        width: 6px;
                        position: absolute;
                        right: 5px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &:hover {
                    color: #eb2645;
                    /*font-weight: 700;*/
                }
            }
        }

        .title-dates {
            margin-top: 4px;
            display: flex;
            justify-content: space-between;

            & > p {
                font-size: 14px;
                display: inline-block;

                & > span {
                    line-height: 20px;

                    &.text {
                        font-family: "Proxima Nova Rg";
                        font-weight: bold;
                        letter-spacing: 0.14px;
                        text-transform: uppercase;
                    }

                    &.date {

                    }
                }
            }

            .filter-links {
                & > a {
                    color: inherit;
                    text-decoration: none;
                    display: inline-block;
                    padding-left: 40px;
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: 0.1px;
                    position: relative;

                    &:before {
                        display: block;
                        content: '';
                        position: absolute;
                        left: 0;
                        height: 20px;
                    }

                    &:first-child {
                        margin-right: 35px;
                        letter-spacing: 0.35px;

                        &:before {
                            background: url("../../../img/Forme_8.png") center no-repeat;
                            width: 18px;
                            transform: translate(40%, -15%);
                        }
                    }

                    &:last-child {
                        &:before {
                            background: url("../../../img/Forme_9.png") center no-repeat;
                            width: 26px;
                            transform: translate(22%, -10%);
                        }
                    }
                }
            }
        }

        .title {
            text-transform: capitalize;
            font-weight: normal;
            margin-top: 10px;
        }

        .content {
            border-top: 1px solid #e6e6e6;
            margin-top: 17px;
            display: flex;

            .aside {
                padding-right: 50px;
                box-sizing: border-box;

                & > p {
                    padding: 24px 0 15px;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 14px;
                    letter-spacing: 0.14px;
                }

                .point {
                    padding: 15px 35px 14px 19px;
                    background-color: #f7f7f7;
                    border: 1px solid #e6e6e6;
                    font-size: 13px;
                    font-weight: 700;
                    position: relative;
                    box-sizing: border-box;
                    margin-bottom: 9px;

                    &.second {
                        padding: 15px 35px 10px 19px;
                    }

                    & > span {
                        line-height: 16px;
                    }

                    & > button {
                        position: absolute;
                        top: 50%;
                        right: 12px;
                        transform: translate(-50%, -50%);
                        width: 12px;
                        height: 12px;
                        border: none;
                        background: none;

                        &:before,
                        &:after {
                            display: block;
                            content: '';
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 50%;
                            height: 2px;
                            background-color: #182d47;
                            transform: translateY(-50%);
                        }

                        &:after {
                            transform: rotate(45deg);
                        }

                        &:before {
                            transform: rotate(-45deg);
                        }

                        &:hover {
                            cursor: pointer;

                            &:after,
                            &:before {
                                background-color: #eb2645;
                            }
                        }
                    }

                    &.filters {
                        background-color: #eb2645;
                        color: #ffffff;
                        padding: 2px 19px;

                        & > p {
                            padding: 11px 0;
                            text-transform: uppercase;
                            line-height: 27px;
                            font-size: 14px;
                            font-weight: 700;
                            letter-spacing: 0.14px;
                            box-sizing: border-box;

                            &:not(:last-child) {
                                border-bottom: 1px solid #ffffff;
                            }
                        }
                    }
                }

                .labels-filter-wrap {
                    margin-bottom: 20px;

                    & > label {
                        display: block;
                        padding: 7px 49px 12px;
                        border-bottom: 1px solid #e6e6e6;
                        position: relative;
                        margin-bottom: 9px;

                        & > input {
                            display: none;

                            &:checked {
                                & + .check-box {
                                    background: url("../../../img/Rectangle_30_copie.png") 2px 6px no-repeat;
                                }
                            }
                        }

                        & > span {
                            line-height: 22px;
                        }

                        .check-box {
                            position: absolute;
                            display: block;
                            width: 20px;
                            height: 20px;
                            border: 1px solid #9c9c9c;
                            box-sizing: border-box;
                            top: 50%;
                            transform: translateY(-70%);
                            left: 20px;
                        }

                        .number-wrap {
                            position: absolute;
                            right: 16px;
                            top: 50%;
                            transform: translateY(-65%);
                        }
                    }
                }

                .information {
                    background-color: #1a3456;
                    color: #ffffff;
                    padding: 39px 19px;
                    line-height: 20px;
                    letter-spacing: 0.14px;

                    & > p {
                        font-size: 14px;
                        position: relative;
                    }

                    .title-text {
                        padding-left: 68px;
                        margin-bottom: 17px;
                        line-height: 22px;
                        font-size: 16px;
                        letter-spacing: .16px;
                        font-weight: 700;

                        &:before {
                            display: block;
                            content: url("../../../img/Forme_10.png");
                            max-height: 34px;
                            position: absolute;
                            top: 4px;
                            left: 1px;
                        }
                    }

                    .text {
                        margin-bottom: 25px;
                    }

                    .more {
                        padding-left: 21px;
                        margin-bottom: 9px;

                        &:before {
                            display: block;
                            content: url("../../../img/Rectangle_20.png");
                            max-height: 34px;
                            position: absolute;
                            top: 1px;
                            left: 1px;
                        }
                    }
                }
            }

            .main-cont {
                .filter-wrap {
                    padding: 10px 0 5px;
                    border-bottom: 1px solid #e6e6e6;
                    display: flex;
                    justify-content: space-between;

                    & > p {
                        padding-top: 3px;
                        align-self: center;
                        font-weight: 700;
                        line-height: 27px;
                        text-transform: uppercase;
                        letter-spacing: 0.16px;

                        & > span {
                            color: #eb2645;
                        }
                    }

                    .filters {
                        display: flex;

                        & > label {
                            align-self: center;
                            padding-top: 3px;
                            position: relative;

                            &:after {
                                display: block;
                                content: '';
                                position: absolute;
                                right: 12px;
                                top: 50%;
                                height: 5px;
                                width: 9px;
                                transform: translateY(-25%);
                                background-image: url("../../../img/Rectangle_16_copie_6.png");
                                background-position: center;
                                background-size: cover;
                                background-repeat: no-repeat;

                            }

                            &:first-of-type {
                                margin-right: 23px;
                            }

                            & > select {
                                border: none;
                                background: #FFFFFF;
                                color: #182d47;
                                font-size: 14px;
                                line-height: 27px;
                                letter-spacing: .14px;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                display: block;
                                padding-right: 32px;
                                box-sizing: border-box;
                                position: relative;
                            }
                        }

                        .view-wraps {
                            padding-left: 10px;

                            & > input {
                                display: none;

                                &:checked {
                                    & + label {
                                        & > svg {
                                            fill: #1a3456;
                                        }
                                    }
                                }
                            }

                            & > label {
                                display: inline-block;
                                box-sizing: border-box;
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                                border: 1px solid #e6e6e6;
                                position: relative;

                                & > svg {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);

                                }

                                &:first-of-type {
                                    margin-right: 3px;
                                }
                            }
                        }
                    }
                }

                .card-wrap {
                    border-bottom: 1px solid #e6e6e6;
                    padding: 30px 0;
                    box-sizing: border-box;
                    display: flex;
                    position: relative;

                    & > span {
                        display: none;
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-top: 80px solid #eb2645;
                        border-right: 80px solid transparent;
                        top: 0;
                        left: 0;

                        &:after {
                            display: block;
                            content: 'Nouveau';
                            color: #ffffff;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 11.31px;
                            text-transform: uppercase;
                            letter-spacing: 0.12px;
                            position: absolute;
                            left: 0;
                            bottom: 45px;
                            transform: rotate(-45deg);

                        }
                    }


                    .image-wrap {
                        padding: 5px;
                        box-sizing: border-box;
                        border: 1px solid #e6e6e6;
                        width: 136px;
                        margin-right: 15px;

                        & > img {
                            width: 100%;
                            display: block;
                        }
                    }

                    .title-wrap {
                        padding: 15px;
                        flex-grow: 1;

                        & > p {
                            font-weight: 700;
                            line-height: 22px;
                            font-size: 18px;
                            letter-spacing: 0.18px;
                            margin-bottom: 12px;
                            & > a{
                                text-decoration: none;
                                color: #182d47;
                            }
                        }

                        & > span {
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 16px;
                            letter-spacing: 0.3px;
                            text-transform: uppercase;
                            color: #afb1b3;
                            padding-left: 15px;
                            position: relative;

                            &:before {
                                display: block;
                                content: '';
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: #30b834;
                                top: 0;
                                left: 0;
                                transform: translateY(40%);
                            }
                        }

                        .rupture {
                            display: none;
                        }

                        .stock {
                            display: block;
                        }
                    }

                    .buttons-wrap {
                        padding: 19px 0 0 15px;

                        & > p {
                            font-size: 14px;
                            line-height: 16px;
                            letter-spacing: 0.14px;
                            margin-bottom: 10px;
                            text-align: right;

                            & > span {
                                font-size: 18px;
                                font-weight: 700;
                                letter-spacing: 0.18px;
                            }
                        }

                        & > button {
                            width: 100%;
                            display: block;
                            text-transform: uppercase;
                            line-height: 42px;
                            font-size: 14px;
                            font-weight: 700;
                            color: #ffffff;
                            letter-spacing: 0.14px;
                            background-color: #eb2645;
                            border: none;
                            padding: 0 27px;
                           cursor: pointer;
                        }
                    }

                    &.nouveau {
                        & > span {
                            display: block;
                        }
                    }

                    &.rupture {
                        .title-wrap {
                            .rupture {
                                display: block;

                                &:before {
                                    background-color: #eb2645;
                                }
                            }

                            .stock {
                                display: none;
                            }
                        }
                    }
                }

                .paginator {
                    padding: 27px 10px;
                    display: flex;
                    margin-bottom: 44px;

                    & > ul {
                        display: inline-flex;
                        margin: 0 auto;
                        justify-content: center;
                        transform: translateX(5%);

                        li {
                            align-self: center;
                            box-sizing: border-box;
                            padding-top: 4px;

                            & > a {
                                text-decoration: none;
                                color: #182d47;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 16px;
                                letter-spacing: 22.4px;

                                &:hover {
                                    color: #eb2645;
                                }
                            }

                            &:last-child,
                            &:first-child {
                                width: 36px;
                                height: 36px;
                                border: 1px solid #e6e6e6;
                                border-radius: 50%;
                                position: relative;

                                & > a {
                                    line-height: 0;
                                    letter-spacing: 0;
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }

                                &:hover {
                                    & > a {
                                        & > svg {
                                            fill: #eb2645;
                                        }
                                    }
                                }
                            }

                            &:first-child {
                                margin-right: 43px;
                            }

                            &:last-child {
                                margin-left: 20px;
                            }
                        }
                    }
                }

                .devis {
                    box-sizing: border-box;
                    max-width: 640px;
                    max-height: 166px;
                    margin: 0 auto;
                    position: relative;
                    padding: 26px 24px;
                    background-color: #1a3456;
                    color: #ffffff;
                    transform: translateX(4%);
                    display: flex;
                    justify-content: space-between;
                    .ellipse-out{
                        width: 64px;
                        height: 64px;
                        border-radius: 50%;
                        background-color: #ffffff;
                        position: absolute;
                        top: 0;
                        transform: translateY(-50%);
                        box-sizing: border-box;
                        display: flex;
                        justify-content: center;
                        .ellipse-in{
                            width: 51px;
                            height: 51px;
                            border-radius: 50%;
                            background-color: #1a3456;
                            box-sizing: border-box;
                            align-self: center;
                            display: flex;
                            justify-content: center;
                            & > img{
                                display: block;
                                align-self: center;
                            }
                        }
                    }
                    .devis-text{
                        /*flex-grow: 1;*/
                        padding: 8px;
                        margin-bottom: 4px;
                        width: 70%;
                        & > p{
                            font-size: 16px;
                            line-height: 28px;
                            letter-spacing: 0.16px;
                            &:first-child{
                                font-weight: 700;
                                text-transform: uppercase;
                                margin-bottom: 10px;
                            }
                            &:last-child{
                                font-weight: 300;
                            }
                        }
                    }
                    .demandez{
                        width: 21.6%;
                        align-self: stretch;
                        background-color: #eb2645;
                        display: flex;
                        flex-direction: column;
                        & > p{
                            font-weight: 700;
                            font-size: 14px;
                            letter-spacing: 0.14px;
                            text-transform: uppercase;
                            display: inline-block;
                            text-align: center;

                            margin: 36px 0 12px;
                        }
                        & > a{
                            display: block;
                            align-self: center;
                            & > svg{
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
