@themes:"themes";

@color-1 : #000;
@label_color : #ffffff;
@color-p:#848789;
@color-h:#353738;
@color-fot-bot:#f7f7f7;
@color-placeholder: #929292;
@soc-color1:#78cdf0;
@soc-color2:#537bbd;
@soc-color3:#eb5755;
@menu-linc-color:#4d4959;
@bg-color : #64c29e;
@bg-color-form : #282f35;
@border-color-input:#d3d7d9;
@border-hover-li:1px solid @menu-linc-color;
@border-email: 1px solid @border-color-input;
@bg-phone-block:  #1e7e34;
@phone-box-shadow:  0 0 10px 5px rgba(0, 129, 58, .75);
@top-description-color: #f7f7f7;
@input-bottom-color: #a9afb3;
@twitter-color:#56c7ee;
@insta-color:darkorange;
@facebook-color:darkblue;
@logo-contain-color:rgba(100, 194, 158, .75);
@opacity:0.7;

@max-width : 1600px;
@min-height : 100vh;
@nav-width : 100%;
@width-element:90%;

@f-style : italic;
@f-size-menu: 13px;
@f-size-label:14px;
@f-size-h3:20px;
@f-sizeh:18px;
@f-size-sidle:24px;
@f-size-chec-nav:16px;

@box-sizin:border-box;
@label-border : 1px solid rgba(255, 255, 255, 0.5);
@label-marg : 75px 0 75px 0;
@margin-elem-input:20px 0 20px 0;
@margin-adres:99px 0 103px 249px;
@label-pading-form:21px 56px 19px 59px;
@cursor : pointer;
@list-s-none:none;
@upercase : uppercase;
@fon-wei : 600;
@fon-wei-standart:700;
@pozition-form:ranslateY(-90%) scale(1);
@transit-burger:.5s all;
@transit-chec-menu:all 0.7s ease-out;
@transition-input:all 1s;
@animation : logotip 5s linear infinite;
@anim-transform1 : rotateX(0deg);
@anim-transform2 : rotateX(-360deg);
@transform-forms:translateY(0) scale(0);
@transorm-action-form:translateY(-90%) scale(1);
@text-decor:none;
@text-center:center;

@font-famil:'Lato', sans-serif;
@lin-height:1.2;
@font-normal:normal;
@leter-sp:4px;
