/*----Colors-----*/
@body-text-color: #282828;
@header-top-sect-text-color: #CCCCCC;
@header-top-sect-background-color: @body-text-color;
@buttons-background-color: #FF2D37;
@buttons-text-color: #FFFFFF;
@hover-background-color: @buttons-background-color;
@top-menu-color: @body-text-color;
@footer-top-section-background: #181818;
@footer-bottom-section-background: #111111;
@footer-h5-color: @buttons-text-color;
@footer-p-color: #DDDDDD;
@hover-color: @buttons-background-color;
@your-lang-color: @body-text-color;
@your-lang-background-color: #F5F5F5;
@your-lang-hover-background-color: @buttons-text-color;
@your-lang-outline-color: @buttons-background-color;
@your-lang-hover-color: @buttons-background-color;
@currency-color: #CCCCCC;
@currency-hover-color: @buttons-background-color;
@search-color: @buttons-background-color;
@button-color: @buttons-text-color;
@right-section-right: @buttons-text-color;
@border-color: @body-text-color;
@details-background-color: @buttons-text-color;
@about-prod-bottoms-color: @buttons-background-color;
@update-background-color: @buttons-background-color;
@update-color: @buttons-text-color;
@menu-tab-background-color: @your-lang-background-color;
@menu-tab-hover-background-color: @buttons-text-color;
@point-background-color: @your-lang-background-color;
@hamburger-color: @buttons-text-color;
@copy-right-color: #BBBBBB;
@footer-bottom-section: #111111;
@main-cont-links-color: #888888;
@label-black: #000000;
@label-brown: #945454;
@label-grey: #8F8F8F;
@label-green: #53A828;
@label-orange: #53A828;
@label-violet: #EF3DFF;
@label-red: #FF0000;
@label-white: @buttons-text-color;
@label-yellow: #FFD500;
@range-background-color: @buttons-background-color;
@model-choice-color: #686868;
@select-background-color: #F8F8F8;
@new-label: #3599FF;
@sale-label: #FF2D37;
@buttons-black: @body-text-color;
@span-color: #C5C5C5;
@decore-wrap-color: #999999;
@decore-wrap-last-span-color: #00BF67;
@select-color: #666666;
@form-background-color: @buttons-text-color;
@mage-url: "../../../img/";
/*--Break points--*/
@first-desktop-point: 1200px;
@tablet-point: 992px;
@mobile-point: 767px;
@second-mobile-point: 500px;
@third-mobile-point: 320px;
