@media only screen and (max-width: 1480px){
    .headlight h2{
        padding-top: 90%;
    }
}
@media only screen and (max-width: 1200px){
    .product_item{

    }
}
@media only screen and (min-width: 967px){
    .featured_products{
        & .products{
            & .product_item{
                margin-left: 3%;
                &:first-child{
                    margin-left: 6%;
                }
                &:last-child{
                    margin-right: 6%;
                }
                & img{
                    padding-top: 30%;
                    width: 100%;
                }
            }
        }
    }
}
@media only screen and (max-width: 967px){
    .headlight{
        width: 100%;
    }
    .discounts .sale_banner{
        & hr{
            display: none;
        }
        & .sales{
            width: 100%;
            align-content: center;
        }
        & .sales1{
            padding-right: 0;
        }
        & .sales2{
            display: none;
        }
    }
    .featured_products{
        & .products{
            flex-flow: column;
            & .product_item{
                margin: 1%;
                & img{
                    padding-top: 5%;
                    width: auto;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .top_footer {
        & .top_footer_menu {
            width: calc(25%);
        }
        & #submit{
            width: 142px;
        }
    }
    .middle_footer{
        & .contact_info_footer{
            width: 40%;
            height: 100%;
            float: left;
            padding-right: 10%;
            & p{
                padding-top: 60px;
                color: #887979;
            }
        }
        & .contact_footer {
            width: 20%;
            height: 100%;
        }
    }
}
@media only screen and (max-width: 768px){
    .top_footer{
        & .top_footer_menu{
            width: 100%;
        }
        .top_footer_menu2,.top_footer_menu3{
            display: none;
        }
        & #submit{
            width: 100%;
        }
    }
    .middle_footer{
        flex-flow: column;
        & .contact_info_footer{
            width: 100%;
        }
        & .contact_footer{
            width: 100%;
        }
    }
}
@media only screen and (max-width: 500px){
    .top_footer {
        flex-flow: column;
    }
}
