body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: @text-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

input {
    &:focus {
        outline: none;
    }
}

header {
    .top-header {
        background: @text-color;
        color: @top-text-color;
        font-size: 13px;
        .wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            box-sizing: border-box;
        }
        a {
            color: @top-text-color;
            &:hover {
                color: @btn-color;
            }
        }
        i {
            font-size: 12px;
            padding-right: 19px;
            color: @btn-color;
        }
        p {
            padding-right: 12px;
        }
        .top-header-select {
            padding: 13px 20px 14px 31px;
            position: relative;
            img {
                padding-right: 5px;
            }
            &::before {
                content: '';
                width: 1px;
                height: 11px;
                position: absolute;
                background-color:  @top-text-color;
                top: 17px;
                left: 10px;
            }
            &:last-child {
                &::before {
                    left: 12px;
                }
                .top-header-select-none {
                    right: 0;
                }
            }
            span.language {
                position: relative;
                &::after {
                    font-family: Font Awesome\ 5 Free;
                    content: '\f078';
                    font-size: 11px;
                    font-weight: 900;
                    color: @top-text-color;
                    position: absolute;
                    right: -13px;
                    top: 2px;
                    transition: transform 0.5s ease;
                }
            }
            &:hover {
                span {
                    color: @btn-color;
                    cursor: pointer;
                    &::after {
                        transform: rotate(180deg);
                    }
                }
                .top-header-select-none {
                    display: block;
                }
            }
        }
        .top-header-select-none {
            display: none;
            padding: 11px;
            position: absolute;
            top: 43px;
            right: -12px;
            z-index: 10;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
            background: #fff;
            .select-lang {
                background: @top-link-bg-color;
                padding: 9px 0 8px 7px;
                width: 110px;
                display: flex;
                align-items: center;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                img {
                    padding-right: 7px;
                }
                span {
                    color: @top-link-color;
                    font-size: 12px;
                    line-height: 12px;
                }
                &:hover {
                    outline: 1px solid @btn-color;
                    cursor: pointer;
                    span {
                        color: @btn-color;
                    }
                }
            }
        }
    }
    .main-header {
        .main-header-wrap {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            a {
                display: block;
            }
            .main-header-logo {
                width: 25%;
                padding-top: 31px;
                margin-left: -5px;
            }
            .main-header-search {
                width: 50%;
                display: flex;
                padding: 5px 10px 5px 5px;
                input {
                    flex-grow: 1;
                    padding: 10px;
                    border: 2px solid @border-color;
                    font-size: 14px;
                    border-right: none;
                    border-radius: 5px 0 0 5px;
                }
                .search-btn {
                    width: 54px;
                    height: 44px;
                    background: @btn-color;
                    border-radius: 0 5px 5px 0;
                    position: relative;
                    &::before {
                        color: #FFF;
                        font-family: Font Awesome\ 5 Free;
                        font-weight: 700;
                        content: '\f002';
                        position: absolute;
                        left: calc(50% - 6px);
                        top: calc(50% - 6px);
                        font-size: 12px;
                    }
                    &:hover {
                        background: @text-color;
                    }
                }
            }
            .main-header-bas {
                width: 25%;
                display: flex;
                padding: 5px 0 5px 17px;
                justify-content: space-between;
                a.like-btn, a.basket-btn {
                    width: 44px;
                    height: 44px;
                    border: 2px solid @border-color-2;
                    position: relative;
                }
                .like-btn {
                    border-radius: 5px;
                    &::before {
                        color: @top-link-color;
                        font-family: Font Awesome\ 5 Free;
                        font-weight: 700;
                        content: '\f004';
                        position: absolute;
                        left: calc(50% - 8px);
                        top: calc(50% - 9px);
                        font-size: 18px;
                    }
                    &:hover {
                        border-color: @top-link-color;
                    }
                }
                .basket {
                    display: flex;
                    padding-right: 6px;
                    position: relative;
                    .basket-btn {
                        border-radius: 5px 0 0 5px;
                        position: relative;
                        &::before {
                            content: "\f291";
                            color: @top-link-color;
                            font-family: Font Awesome\ 5 Free;
                            font-weight: 700;
                            position: absolute;
                            left: calc(50% - 10px);
                            top: calc(50% - 9px);
                            font-size: 18px;
                        }
                    }
                    .basket-price {
                        border: 2px solid @border-color-2;
                        border-radius: 0 5px 5px 0;
                        border-left: none;
                        font-size: 13px;
                        padding: 12px 17px 0 17px;
                        letter-spacing: 0.7px;
                        span {
                            color: @btn-color;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        .basket-btn, .basket-price {
                            border-color: @top-link-color;
                        }
                        & .basket-mini-cart {
                            display: block;
                        }
                    }
                    .count {
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        background: @btn-color;
                        border-radius: 50%;
                        text-align: center;
                        font-size: 13px;
                        color: @white-color;
                        line-height: 24px;
                        left: 32px;
                        top: -10px;
                        z-index: 1;
                    }
                    .basket-mini-cart {
                        display: none;
                        z-index: 10;
                        padding: 25px;
                        position: absolute;
                        right: 0;
                        left: -183px;
                        top: 44px;
                        max-width: 354px;
                        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
                        .cart-content {
                            display: flex;
                            justify-content: space-between;
                            &:nth-child(2) {
                                padding: 24px 0 20px 0;
                            }
                            &:last-child {
                                padding-top: 18px;
                            }
                            &:nth-child(3),
                            &:nth-child(2) {
                                align-items: center;
                            }
                            &:nth-child(3) {
                                padding: 20px 0;
                                position: relative;
                                &::before,
                                &::after {
                                    content: '';
                                    position: absolute;
                                    height: 1px;
                                    background: @border-color-2;
                                    left: -25px;
                                    right: -25px;
                                }
                                &::before {
                                    top: 0;
                                }
                                &::after {
                                    bottom: 0;
                                }
                            }
                            .img-block {
                                img {
                                    max-width: 100%;
                                    display: block;
                                }
                                position: relative;
                                &::before {
                                    content: 'x';
                                    position: absolute;
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50%;
                                    background: @text-color;
                                    color: @white-color;
                                    text-align: center;
                                    line-height: 20px;
                                    font-weight: 700;
                                    right: -10px;
                                    bottom: -10px;
                                }
                            }
                            .text-block {
                                font-size: 14px;
                                padding-left: 15px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                .cart-title {
                                    text-transform: uppercase;
                                    display: block;
                                    color: @text-color;
                                    &:hover {
                                        color: @btn-color;
                                    }
                                }
                                .cart-details {
                                    .cart-details-title {
                                        display: inline-block;
                                        padding-bottom: 25px;
                                        cursor: pointer;
                                        position: relative;
                                        &::after {
                                            font-family: Font Awesome\ 5 Free;
                                            content: '\f078';
                                            font-size: 11px;
                                            font-weight: 900;
                                            color: #888;
                                            position: absolute;
                                            right: -13px;
                                            top: 2px;
                                            transition: transform 0.5s ease;
                                        }
                                    }
                                    .cart-details-options {
                                        display: none;
                                    }
                                    input[type=checkbox] {
                                        display: none;
                                        &:checked {
                                            & ~ .cart-details-options {
                                                display: block;
                                            }
                                            & ~ label {
                                                padding-bottom: 8px;
                                                &::after {
                                                    transform: rotate(180deg);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .qty {
                                font-size: 13px;
                            }
                            .qty-num {
                                max-width: 76px;
                                border-radius: 5px;
                                padding: 4px;
                                text-align: center;
                                border: 1px solid @border-color-2;
                            }
                            .cart-btn {
                                background: @btn-color;
                                color: @white-color;
                                border-radius: 5px;
                                font-size: 13px;
                                padding: 6px 23px;
                                &:hover {
                                    background: @text-color;
                                }
                            }
                            .cart-price {
                                color: @btn-color;
                            }
                            .cart-total {
                                font-size: 13px;
                            }
                            .cart-total-price {
                                font-size: 18px;
                                color: @btn-color;
                            }
                            .cart-btn-bottom {
                                text-transform: uppercase;
                                padding: 8px 39px;
                            }
                        }
                    }
                }
            }
        }
    }
}

