@text-color: #282828;
@btn-color: #FF2D37;
@top-text-color: #ccc;
@top-link-bg-color: #F5F5F5;
@top-link-color: #000;
@border-color: #c4c4c4;
@border-color-2: #E5E5E5;
@border-color-3: #f8f8f8;
@white-color: #fff;
@footer-bg-color: #181818;
@footer-bg-bottom-color: #111;
@label-before-color: #484848;
