@import "reset.css";
@import "normalize.css";
header{
  max-width: 100%;
  min-height: 100vh;
  background: url("../sourse2/bg-fon/Layer_5.png") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  ul{
    list-style-type: none;
  }
  a{
    text-decoration: none;
  }
}

.header_info{
  background-color: @bg-foter;
  height: 20%;
  padding: 0 12%;
}
.header_top{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin:14px 0;
  padding-bottom: 18px;
  border-bottom: 2px solid @line-color;
  ul{
    display: flex;
    li{
      margin-left: 46px;
      &:last-of-type{
        position: relative;
        a{
          color: @white;
        }
        &::after{
          content: "";
          width: 2px;
          height: 28px;
          background-color:@line-color;
          position: absolute;
          top:-3px;
          right: 27px;
        }
      }
      a{
        color: @icon-color;
        i{
          padding-right: 4px;
        }
      }
    }
  }
}
.header_contact{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: space-between;
  .logo{
    text-align: center;
    h1{
      margin: 0;
      font-size:@font-size-logo ;
      font-weight: 700;
      span{
        color: @icon-color;
      }
    }
    p{
      text-transform: @transf-uper;
      letter-spacing: 4.5px;
    }
  }
  .contact_phone{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3{
      font-size:@phone-size ;
      font-weight:@font-weight2 ;
      position: relative;
      i{
        color:@icon-color;
        margin-right: 14px;
        font-size: @phone-icon-size;
      }
    }
    p{
      color:@text-color3 ;
      text-transform: @transf-uper;
      font-size:@font-size-p;
    }
  }
}
.list_shop{
  display: flex;
  align-items: center;
  ul{
    display: flex;
    li{
      padding:0 15px 0 10px;
      border-left: 2px solid @line-color;
      a{
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: @transf-uper;
        color: @white;
        font-weight:@font-weight2 ;
        i{
          color: @icon-color;
          font-size: @f-size-icon;
          padding-bottom:15px;
        }
      }
    }
  }
}
.nav_header{
  background-color: @bg-darc;
  min-height: 10%;
  padding: 0 12%;
  ul{
    display: flex;
    flex-direction: row;
    li{
      margin:25px 0 20px 35px;
      a{
        text-transform: @transf-uper;
        color: @white;
        font-weight: @font-weight2;
      }
    }
  }
}
main{
  max-width:1600px;
  display: flex;
  flex-direction: column;
  background-color:@bg-schop2 ;
}
.headlights{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  .towar_lights{
    position: relative;
    min-width: 50%;
    min-height: 410px;
    h3{
      font-size: @font-size-h3;
      font-weight: @font-weight2;
      text-transform: uppercase;
      margin: 165px 0 25px 56px;
    }
    p{
      font-size:@phone-size ;
      color: @text-color4;
      margin-left: 50px;
      letter-spacing: @spasing1;
    }
    img{
      max-width: 40%;
      position: absolute;
    }
    &:nth-child(3n+1){
      background-color:@bg-schop;
    }
    &:first-child{
      img{
        right: 0;
        bottom: 15%;
      }
    }
    &:last-child{
      img{
        right: 7%;
        bottom: 1.2%;
      }
    }
    &:nth-child(2){
      img{
        bottom: 0;
        right: 4%;
      }
    }
    &:nth-child(3){
      img{
        &:first-of-type{
          right: 7%;
          top: 13%;
          z-index: 2;
        }
        &:last-of-type{
          position: absolute;
          top: 22%;
          right: 23%;
          filter: blur(2px) sepia(60%);
        }
      }
    }
  }
}
.products{
  padding: 0 8%;
  background-color: @main-color;
  h3{
    margin: 85px 0 100px;
    text-align: center;
    font-size: @font-size-h3;
    font-weight: @font-weight2;
    text-transform: @transf-uper;
    position: relative;
    &::after{
      content: "";
      width: 172px;
      height: 6px;
      background-color: @bg-bordo-line;
      position: absolute;
      top: 65px;
      left: 43%;
    }
  }
}
.featured{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:@main-color ;
}
.featured_prod{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 120px;
}
.product_list{
  background-color:@bg-schop3;
  width: 15%;
  min-height: 40vh;
  display: flex;
  img{
    max-width: 80%;
    margin-top: 10px;
  }
  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    cursor: pointer;
  }
  span{
      text-transform: @transf-uper;
      color: @icon-color;
      font-size:@font-size-h4;
    span{
      &:nth-child(2){
        font-size:@f-size-icon;
        color: @white;
      }
      &:last-of-type{
        margin:10px 0 35px;
      }
      &:first-of-type{
        margin: 30px 0 20px;
      }
    }
  }
  .prise_product{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
.order{
  min-height: 60vh;
  background:url("../sourse2/bg-fon/Layer_6.png") no-repeat center;
  padding: 0 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.over{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2,& h3,& a{
    font-weight: @font-weight2;
    text-align: center;
    text-transform: @transf-uper;
    color: @white;
  }
  h2{
  font-size: @font-size-max;
  }
  h3{
    font-size:@font-size;
  }
  p{
    text-align: center;
  }
  a{
    padding: 13px 44px;
    text-decoration: none;
    text-align: center;
    background-color: @bg-bordo-line;
    border-radius: 19px;
    display: block;
    min-width: 102px;
    margin-top: 30px;
  }
}
footer{
  background-color:@bg-darc ;
  padding: 0 12%;
  max-width: 1600px;
  .h3-foot{
    font-size:@f-size-icon;
    font-weight:@font-weight2 ;
    text-transform: uppercase;
    margin-bottom: 50px;
    position: relative;
    &::after{
      content: "";
      width: 90px ;
      height: 6px;
      background-color: @bg-bordo-line;
      position: absolute;
      top: 140%;
      left: 0;
    }
  }
}
.top_footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 115px;
}
.quick_links{
  ul{
    li{
      a{
        color: @icon-color;
        text-decoration: none;
        font-weight: @font-weight2;
      }
      &:not(:first-child){
        margin-top: 25px;
      }
    }
  }
}