@themes:"themes";

/* Color */
@icon-color : #ff3448;
@text-color : #9c1c28;
@text-color2:#675b5b;
@text-color3:#a2a2a2;
@text-color4:#979696;
@darc-gray:#212121;
@bg-color-bloc:#282828;
@bg-color-element:#887979;
@bg-foter :@darc-gray;
@bg-darc : #000000;
@bg-schop : #303030;
@bg-schop2 : #1c1c1c;
@bg-schop3 : #363636;
@bg-bordo-line : #9c1c28;
@white : #ffffff;
@line-color:#595959;
@main-color:@bg-color-bloc;
@foter-color:@bg-color-element;

/* fotn*/
@font-familu : 'Lato', sans-serif;
@lato-heavy :"Lato - Heavy";
@lato-blac : "Lato - Black";
@font-lato : "Lato";
@font-size-glob : 15px;
@line-heig : 1.2;
@font-weig-glob:normal;
@font-weight2 : 700;
@transf-uper :uppercase;
@font-size-h3 : 35px;
@font-size-logo : 45px;
@font-size-p : 14px;
@font-size-h4:17px;
@phone-size : 20px;
@font-size:40px;
@f-size-icon : 25px;
@phone-icon-size : 30px;
@font-size-max:82px;

/* leter*/
@spasing1:1px;
