.wrapper {
  .feat-products {
    background-color: @f-prod_back-ground;
    padding: 83px 0 82px;
    text-align: center;

    .heading {
      position: relative;
      padding-bottom: 29px;

      &::after {
        display: block;
        content: "";
        width: 172px;
        height: 6px;
        background-color: @decor_retangle-color;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .products-showcase-wrapper {
      padding: 47px 0 20px;
      max-width: 1435px;
      margin: 0 auto;
      display: flex;

      .product-show {
        width: 20%;
        padding: 18px;
        align-self: stretch;
        display: flex;

        .prod-link {
          align-self: stretch;
          display: block;
          width: 100%;
          background-color: #363636;
          padding: 1px 1px 1px 1px;
          text-decoration: none;
          .text {
            color: #ff3448;
            text-transform: uppercase;
            font-size: 17px;
            letter-spacing: 0.85px;
            font-weight: bold;
            padding-bottom: 17px;
          }

          .price {
            color: #ffffff;
            letter-spacing: 0.71px;
          }

          .rating{
            color: @decor_retangle-color;
            padding: 12px 10px 34px;
          }
        }

        &:nth-child(1) {
          .prod-link {
            padding-top: 93px;

            .prod-photo {
              max-width: 195px;
            }

            .text {

            }
          }
        }

        &:nth-child(2) {
          .prod-link {
            padding-top: 33px;

            .prod-photo {
              max-width: 207px;
            }

            .text {
              margin-top: 39px;
            }
          }
        }

        &:nth-child(3) {
          .prod-link {
            padding-top: 36px;

            .prod-photo {
              max-width: 179px;
            }

            .text {
              margin-top: 2px;
            }
          }
        }

        &:nth-child(4) {
          .prod-link {
            padding-top: 79px;

            .prod-photo {
              max-width: 217px;
            }

            .text {
              margin-top: 52px;
            }
          }
        }

        &:nth-child(5) {
          .prod-link {
            padding-top: 24px;

            .prod-photo {
              max-width: 210px;
            }

            .text {
              margin-top: 21px;
            }
          }
        }


      }
    }
  }
}
