.wrapper {
    .products-list {
        display: flex;
        flex-wrap: wrap;

        .product {
            align-self: stretch;
            width: 50%;
            padding: 87px 0 163px 19px;
            position: relative;
            background-color: @prod_background;
            @media (max-width: @second-desktop-width) {
                padding: 70px 0 100px 19px;
            }
            @media (max-width: @tablet-width) {
                padding: 50px 0 70px 19px;
            }
            @media (max-width: @mobile-width) {
                padding: 25px 0 35px 19px;
            }

            &:nth-child(3n+1) {
                background-color: @prod_background_odd;
            }

            @media (max-width: @second-mobile-width) {
                width: 100%;
                &:nth-child(odd) {
                    background-color: @prod_background_odd;
                }

                &:nth-child(even) {
                    background-color: @prod_background;
                }
            }

            .product-text {
                width: 50%;
                padding: 72px 0 13px 30px;
                @media (max-width: @tablet-width) {
                    padding: 30px 0 72px;
                    width: 40%;
                }
                @media (max-width: @mobile-width) {
                    padding: 30px 0 72px;
                    width: 40%;
                }
                @media (max-width: @third-mobile-width) {
                    padding-top: 0;
                }

                h3 {
                    padding-bottom: 17px;
                }

                p {
                    color: @p_color;
                    letter-spacing: 1px;
                    padding-left: 5px;
                }
            }

            .photo-wrapper {
                position: absolute;
                max-width: 45.55%;
                @media (max-width: @second-desktop-width) {
                    max-width: 41%;
                }
                @media (max-width: @second-mobile-width) {
                    max-width: 35%;
                }

                .photo {
                    display: block;
                    width: 100%;
                }

                &.first {
                    width: 54%;
                    right: 0;
                    top: 27%;

                    @media (max-width: @second-desktop-width) {
                        max-width: 54%;
                        top: 50%;
                    }
                    @media (max-width: @mobile-width) {
                        top: 40%;
                    }
                    @media (max-width: @second-mobile-width) {
                        max-width: 48%;
                        top: 30%;
                    }
                    @media (max-width: @third-mobile-width) {
                        max-width: 48%;
                        top: 38%;
                    }
                }

                &.second {
                    bottom: 0;
                    right: 4%;
                }

                &.third {
                    bottom: 11%;
                    right: 7%;
                    @media (max-width: @second-desktop-width) {
                        bottom: 7%;
                        right: 0;
                    }

                    .photo:first-child {
                        z-index: 2;
                        position: relative;
                    }

                    .photo:last-child {
                        position: absolute;
                        bottom: 5%;
                        right: 40%;
                        z-index: 1;
                        @media (max-width: @second-desktop-width) {
                            right: 30%;
                        }
                    }
                }

                &.fourth {
                    bottom: 1%;
                    right: 9%;
                    @media (max-width: @third-mobile-width) {
                        right: 1%;
                    }
                }
            }
        }
    }
}
