@image_url: "../../../img/";

/*---Font sizes---*/
@body_font-size: 15px;
@h2_font-size: 82px;
@h3_font-size: 35px;
@h3-order_font-size: 40px;
@h4_font-size: 25px;
@h5_font-size: 20px;
@h6_font-size: 20px;
@wrapper-width: 1630px;

/*---Colors---*/
@f-prod_back-ground: #282828;
@p_color: #979696;
@tabs-wrapper_color: #030303;
@font_color_body: #ffffff;
@font_color: #ff3448;
@header_color: #212121;
@link_color: #ff3448;
@link_color_button: #ffffff;
@prod_background: #1c1c1c;
@prod_background_odd: #303030;
@decor_retangle-color: #9c1c28;
@after_background-color: #ffffff;

/*---media---*/
@first-desktop-width:1600px;
@second-desktop-width: 1200px;
@tablet-width: 992px;
@mobile-width: 767px;
