.wrapper {
    width: 80%;
    height: 600px;
    border: 2px solid brown;
    margin: auto;
    background-image: url("../ima/1.png"), url("../ima/2.png"), url("../ima/3.png"), url("../ima/4.png"), url("../ima/5.png"), url("../ima/6.png"), url("../ima/1.png"), url("../ima/2.png"), url("../ima/3.png");
    background-repeat: no-repeat;
    background-position: 0 0, 50% 0, 100% 0, 0 50%, 50% 50%, 100% 50%, 0 100%, 50% 100%, 100% 100%;
}
