*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.2;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
.wrapper .product-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-item{
    width: 20%;
    padding: 15px;
    box-sizing: border-box;
}
.product-item .img{
    background-color: #3e77aa;
    width: 100%;
    padding-top: 60%;
}
.product-item .title{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.product-item .rating{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}
.product-item .rating > li{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
}
.rating li span{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left;
}
.rating li span:first-child{
background-image: url("star.svg");
}
.rating li span:last-child{
    background-image: url("star1.svg");
    width: 0;
}
