@themes: "themes";
@black-color: #282828;
@gray-color: #CCCCCC;
@rad-color: #FF2D37;
@transparent-gray-color: rgba(196, 196, 196, 0.8);
@white-color: white;
@dark-gray-color: #888888;
@green-color: #00BF67;
@gray-background-color:#F5F5F5;
@select-gray-color: #666666;
@light-black-color: #181818;
@dark-black-color: #111111;
@dark-white-color: #DDDDDD;
@brown-color: #945454;
@filter-gray-color: #8f8f8f;
@green-filter-color:#53A828;
@orange-color: #EB6703;
@pink-color: #EF3DFF;
@rad-filter-color: #FF0000;
@yellow-color: #FFD500;

@yellow: @yellow-color;
@rad-filter: @rad-filter-color;
@pink: @pink-color;
@orange: @orange-color;
@green-filter: @green-filter-color;
@filter-gray: @filter-gray-color;
@brown: @brown-color;
@dark-White: @dark-white-color;
@dark-black: @dark-black-color;
@light-black: @light-black-color;
@select-gray: @select-gray-color;
@gray-background: @gray-background-color;
@green: @green-color;
@black: @black-color;
@gray: @gray-color;
@rad: @rad-color;
@transparent-gray: @transparent-gray-color;
@white: @white-color;
@dark-gray: @dark-gray-color;
