.gal-wrapper {
    margin: 0 auto;
    width: 1000px;
    border: 1px solid red;
}

.gal-wrapper a {
    margin-bottom: 10px;
    width: calc(33.33% - 20px);
    position: relative;
    float: left;
    background-color: black;
}

.gal-wrapper a:not(:nth-child(3n)) {
    margin-right: 10px;
}

.gal-wrapper img {
    width: 100%;
    transition: opacity .4s linear;
    display: block;
}

.gal-wrapper a:hover img {
    opacity: .3;
}

.gal-wrapper:after {
    content: "";
    display: block;
    clear: both;
}

.gal-wrapper a::before {
    content: "";
    position: absolute;
    background-image: url("../../main/ima/eye.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: 0 0;
    opacity: 0;
    z-index: 10;
    transition: all .5s linear, opacity .4s linear;
}

.gal-wrapper a:hover::before {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
}

.gal-modal div:not(.modal-shadow) {
    display: none;
    width: 450px;
    border: 1px solid rgb(255, 255, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.gal-modal div img {
    display: block;
    width: 100%;
}

.gal-modal div:target {
    display: block;
}

.gal-modal div:target ~ .modal-shadow {
    display: block;
}

.gal-modal div > a {
    position: absolute;
    width: 32px;
    height: 30px;
    top: 0;
    right: 0;
    background: white;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}
.gal-modal div:not(.modal-shadow):after,
.gal-modal div:not(.modal-shadow):before{
    position: absolute;
    width: 32px;
    height: 30px;
    top: 50%;
    transform: translate(0, -50%);
    background: white;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.gal-modal div:not(.modal-shadow):after{
    content: ">";
    right: 0;
}

.gal-modal div:not(.modal-shadow):before{
    content: "<";
    left: 0;
}


.modal-shadow {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: .7;
}


