.gal-wrapper {
    margin: 0 auto;
    width: 1000px;
}

.gal-wrapper a {
    margin-bottom: 10px;
    width: calc(33.33% - 20px);
    position: relative;
    float: left;
    background-color: black;
}

.gal-wrapper a:not(:nth-child(3n)) {
    margin-right: 10px;
}

.gal-wrapper img {
    width: 100%;
    transition: opacity .4s linear;
    display: block;
}

.gal-wrapper a:hover img {
    opacity: .3;
}

.gal-wrapper::after {
    content: "";
    display: block;
    clear: both;
}

.gal-wrapper a::before {
    content: "";
    position: absolute;
    background-image: url("../../main/ima/eye.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: 0 0;
    z-index: 10;
    transition: all .5s linear;
}

.gal-wrapper a:hover::before {
    transform: scale(1) translate(-50%, -50%);
}

.gal-modal div:not(.modal-shadow) {
    visibility: hidden;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.gal-modal div img {
    display: block;
    width: 100%;
}

.gal-modal div:target {
    display: block;
    visibility: visible;
}

.gal-modal div:target ~ .modal-shadow {
    display: block;
}

.gal-modal div > a {
    position: absolute;
    width: 32px;
    height: 30px;
    background: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.gal-modal div > a:link,
.gal-modal div > a:visited{
    color: #0d110e;
}

.gal-modal div > a:first-of-type{
    top: 0;
    right: 0;
}

.gal-modal div > a + a{
    top: 50%;
    transform: translate(0, -50%);
}

.gal-modal div > a:nth-of-type(2){
    left: 0;
}

.gal-modal div > a:last-child{
    right: 0;
}

.modal-shadow {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: .7;
}

.back-link{
    margin: 0 auto;
    text-align: center;
}
.back-link a{
    display: block;
    padding-bottom: 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
