.page_header{
    background: steelblue;
}
.page_wrapper{
    width: 80%;
    margin: 0 auto;
}
input:required{
    background: lightpink;
    border: 1px solid lightcoral;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li p{
    margin: 0;
    padding: 0;
}

.menu{

}
.menu > li {
    display: inline-block;
    background: royalblue;
    position: relative;
    text-align: center;
    margin-right: 10px;
}
.menu > li:last-child{
    margin-right: 0;
}
.menu > li > a, li > p{
    display: block;
    padding: 10px 20px;
    color: white;
    outline: none;
}
ul ul{
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
}
.menu > li:hover ul{
    display: block;
}
li > ul li{
    background: dodgerblue;
}
li > ul li > a{
    display: block;
    padding: 10px 20px;
    color: white;
}
a:hover, p:hover, .menu > li> a:hover{
    color: aqua;
}