.page_header{
    background: steelblue;
}
.page_wrapper{
    width: 80%;
    margin: 0 auto;
}
input:required{
    background: lightpink;
    border: 1px solid lightcoral;
}
option:checked{
    background-color: slategrey;
}
input:checked + span{
    font-weight: bold;
}
input[type="radio"][value$="_true"]:checked + span{
    color:green;
}
input[type="radio"][value$="_false"]:checked + span{
    color: red;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li p{
    margin: 0;
    padding: 0;
}
.menu > li {
    display: inline-block;
    background: royalblue;
    position: relative;
    text-align: center;
    margin-right: 10px;
}
.menu > li:last-child{
    margin-right: 0;
}
.menu > li > a, li > p{
    display: block;
    padding: 10px 20px;
    color: white;
}
.menu ul{
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
}
.menu > li:hover ul{
    display: block;
}
li > ul li:nth-child(odd){
    background: #22838b;
}
li > ul li:nth-child(even){
    background: #314d8b;
}
li > ul li > a{
    display: block;
    padding: 10px 20px;
    color: white;
}
a:hover, p:hover, .menu > li> a:hover{
    color: aqua;
}
.menu ul li + li:hover{
    text-decoration: underline;
}
.menu ul li:first-child:hover{
    text-decoration-line: overline;
}
.menu > li > a::first-letter{
    font-weight: bold;
    text-transform: uppercase;
}
.menu ul li:hover{
    outline: 2px solid red;
}
.menu > li:nth-child(3) ul li:nth-child(3) ~ li{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}
.menu > li:nth-child(3) ul li:nth-child(3) ~ li a{
    color: #1d4545;
}
