* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

li {
    list-style-type: none;
}
h3{
    padding-bottom: 10px;
}
input,
button{
    padding: 5px;
}
td{
    padding: 5px;
}

a {
    color: unset;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #33322B;
}

table.mine-table {
    margin: 100px auto;
}

.menu-wrapper > li {
    padding-top: 10px;
    float: left;
    width: 20%;
    background-color: lightgoldenrodyellow;
    text-align: center;

}
.menu-wrapper > li > ul{
    display: none;
}

.menu-wrapper > li:hover > ul {
    display: block;
}
.menu-wrapper > li > div{
    border-bottom: solid 1px darkgrey;
}
.menu-wrapper > li > ul > li{
    padding: 5px;
    border-bottom: solid 1px darkgrey;
}
.menu-wrapper > li > ul > li:hover{
    background-color: lightsalmon;
}

.menu-wrapper li:last-child {
    border-right: none

}

.menu-wrapper > li > div > a {
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
}

.menu-wrapper > li > div > a:before {
    display: block;
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    transform: translateX(-150%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-wrapper li:first-child > div > a:before{
    background-image: url("../img/home.png");
}

.menu-wrapper li:nth-child(2) > div > a:before{
    background-image: url("../img/database.png");
}

.menu-wrapper li:nth-child(3) > div > a:before{
    background-image: url("../img/placeholder.png");
}

.menu-wrapper li:nth-child(4) > div > a:before{
    background-image: url("../img/settings.png");
}

.menu-wrapper li:nth-child(5) > div > a:before{
    background-image: url("../img/user.png");
}
