main.main {
    padding: 0 32px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;

        .left-list-block {
            position: relative;

            &:hover {
                box-shadow: 0 0 100vh 100vw rgba(0, 0, 0, .5);
                z-index: 50;
                border-radius: 3px;
            }
        }

    }

    .content {
        padding: 40px 0 40px 40px;
        flex-grow: 1;
        border-left: 1px solid #e9e9e9;

        .main-slider {
            position: relative;

            input {
                display: none;
            }

            .slider-dots {
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 15px;
                width: 100%;

                label {
                    display: block;
                    width: 20px;
                    height: 20px;
                    border: 1px solid grey;
                    background-color: rgba(255, 255, 255, .4);
                    border-radius: 50%;
                    margin: 0 10px;
                    cursor: pointer;
                    transition: background-color .5s ease-in-out, border .5s ease-in-out;
                }
            }

            .slider-dots label:hover,
            #s1:checked ~ .slider-dots label.s1,
            #s2:checked ~ .slider-dots label.s2,
            #s3:checked ~ .slider-dots label.s3 {
                background-color: rgba(255, 255, 255, .9);
                border-color: red;
            }

            .slider-wrapper {
                overflow: hidden;
                width: 100%;

                .item-slide {
                    min-width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .slider-wrapper > div {
                transition: all .5s ease-in-out;
                display: flex;
            }

            #s2:checked ~ .slider-wrapper > div {
                transform: translateX(-100%);
            }

            #s3:checked ~ .slider-wrapper > div {
                transform: translateX(-200%);
            }
        }

        aside.menu-left {
            width: 300px;

        }
    }

    .menu-aside {
        width: 300px;
        padding: 15px 0 25px 15px;
        border-bottom: 1px solid #e9e9e9;

        & > li:hover .menu-aside-up {
            display: flex;
        }

        & > li > a {
            line-height: 31px;
            font-size: 14px;
            text-decoration: none;
            color: #3e77aa;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;

            svg:first-of-type {
                fill: #adb8c8;
                margin-right: 8px;
            }


            .clock {
                margin-left: 10px;
            }


            .menu-categories__link-chevron {
                right: 15px;
                position: absolute;
                fill: #3e77aa;
            }

            &:hover {
                text-decoration: underline;
                color: #ff7878;

                .menu-categories__link-chevron {
                    fill: #ff7878;
                }
            }
        }
    }

    .menu-aside-up {
        position: absolute;
        right: 0;
        left: 299px;
        top: 0;
        bottom: 0;
        justify-content: space-between;
        min-height: 100%;
        border-radius: 0 5px 5px 0;
        padding: 10px;
        z-index: 20;
        width: 74vw;
        background-color: white;
        display: none;

        & > ul {
            width: 25%;
            min-height: 100%;

            li {
                background-color: white;
                min-height: 20px;
                min-width: 100%;

                a {
                    box-sizing: border-box;
                    overflow: hidden;
                    font-size: 13px;
                    line-height: 15px;
                    white-space: nowrap;
                    color: #333;
                    min-width: 100%;

                    &:hover {
                        text-decoration: underline;
                        color: #ff7878;
                    }
                }

                a.categories-link {
                    font-size: 16px;
                    line-height: 18px;
                    color: #3e77aa;
                    white-space: normal;

                    &:hover {
                        text-decoration: underline;
                        color: #ff7878;
                    }
                }
            }
        }
    }

    .goods-container {
        width: 100%;
        margin-top: 50px;

        .goods-block {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 100px;

            .goods-tittle {
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                font-size: 20px;

                svg {
                    fill: #00a046;
                    margin-right: 20px;
                }
            }

            .goods-list {
                display: flex;
                max-width: 100%;
                flex-wrap: wrap;
                height: 315px;
                overflow: hidden;

                li {
                    width: 20%;
                    border-right: 1px solid #e9e9e9;
                    border-bottom: 1px solid #e9e9e9;
                    padding: 16px 16px 24px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    position: relative;

                    svg {
                        position: absolute;
                        right: 15px;
                        top: 15px;
                        stroke: #fcc10a;
                        stroke-width: 2px;
                        fill: #fff;
                        cursor: pointer;
                    }

                    img {
                        width: 90%;
                        margin-bottom: 10px;
                    }

                    a {
                        margin: 16px 0 15px 0;
                        font-size: 13px;
                        line-height: 19px;
                        color: #333;
                        overflow: hidden;
                        height: 35px;

                        &:hover {
                            text-decoration: underline;
                            color: #ff7878;
                            cursor: pointer;
                        }
                    }

                    span {
                        font-size: 24px;
                        margin-bottom: 20px;
                    }

                    .new-price {
                        color: #ff7878;
                        margin-bottom: 0;
                    }

                    .old-price {
                        font-size: 15px;
                        line-height: 1;
                        color: #999;
                        margin-top: 5px;
                        position: relative;
                        margin-bottom: 0;

                        &:after {
                            content: '';
                            width: 55px;
                            display: block;
                            border-top: 1px solid #ff7878;
                            position: absolute;
                            top: 50%;
                        }
                    }
                }
            }

            .view-more-button {
                position: absolute;
                box-sizing: border-box;
                display: block;
                right: 0;
                bottom: -33px;
                width: calc(20% + 1px);
                text-align: center;
                cursor: pointer;
                border: 1px solid #eaeaea;
                border-top: none;
                padding: 10px 0;

                span {
                    border-bottom: 1px dotted;
                    color: #3e77aa;
                    font-size: 13px;

                    svg {
                        fill: #3e77aa;

                    }

                    &:hover {
                        color: #ff7878;

                        svg {
                            fill: #ff7878;
                        }

                    }
                }
            }

            #check, #check1, #check2, #check3, #check4 {
                display: none;
            }

            #check:checked ~ .goods-list,
            #check1:checked ~ .goods-list,
            #check2:checked ~ .goods-list,
            #check3:checked ~ .goods-list,
            #check4:checked ~ .goods-list{
                overflow: visible;
                height: auto;

            }

            #check:checked ~ .view-more-button,
            #check1:checked ~ .view-more-button,
            #check2:checked ~ .view-more-button,
            #check4:checked ~ .view-more-button,
            #check3:checked ~ .goods-list {
                display: none;
            }

        }
    }

    aside .welckom-block {
        box-sizing: content-box;
        padding: 16px 24px;
        border-bottom: 1px solid #eaeaea;
        text-align: center;
        background-color: #f4f4f4;

        h3 {
            margin-bottom: 8px;
            font-size: 20px;
        }

        p {
            margin-bottom: 8px;
            line-height: 14px;
        }

        a {
            display: block;
        }

        a:first-of-type {
            margin-bottom: 14px;
            padding: 10px 16px;
            font-size: 15px;
            background-color: #3e77aa;
            color: #fff;
            border-radius: 4px;

            &:hover {
                background-color: #4096e3;
            }
        }

        a:last-of-type {
            color: #3e77aa;
            font-size: 15px;

            &:hover {
                text-decoration: underline;
                color: #ff7878;
            }
        }
    }

    aside .store-block {
        border-bottom: 1px solid #eaeaea;
        padding: 15px 0 15px 20px;

        span {
            margin-bottom: 15px;
            display: block;
            font-size: 13px;
        }

        .app-store-block {
            display: flex;

            a {
                width: 50%;

                &:last-of-type {
                    margin-right: 25px;
                }

                img {
                    width: 90%;
                }
            }
        }
    }

    aside .call-block {
        border-bottom: 1px solid #eaeaea;
        padding: 16px 20px;

        & > span {
            margin-bottom: 8px;
            font-size: 12px;
            color: #797878;
            display: block;
        }

        .call-center {

            & > span {
                display: block;
                margin-bottom: 15px;
                a {
                    font-size: 13px;
                    font-weight: 700;
                    color: #333;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            & > div{
                display: flex;
                flex-direction: column;
                margin-bottom: 8px;

                & > div{
                    display: flex;
                    justify-content: space-between;
                    margin-right: 30px;
                    margin-bottom: 15px;
                }
            }
        }
        .shops-shedul{
            a{
                margin-bottom: 8px;
                font-size: 14px;
                color: #3e77aa;
                text-decoration: underline;
                text-decoration-style: dashed;
                display: block;

                &:hover{
                    color: #ff7878;
                    svg{
                        fill: #ff7878;
                    }
                }
                svg{
                    fill: #3e77aa;
                }
            }
            & > div{
                display: flex;
                flex-direction: column;
                span{
                    margin-bottom: 8px;
                    font-size: 12px;
                    line-height: 24px;
                    display: block;
                }
                & > div{
                    display: flex;
                    flex-direction: column;
                    div{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    aside .social-block{
        padding: 12px 20px;
        border-bottom: 1px solid #eaeaea;
        span{
            margin-bottom: 12px;
            font-size: 13px;
            display: block;
        }
        div:first-of-type{
            display: flex;
            a{
                border-radius: 50%;
                background-color: #00ba34;
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;

                &:first-of-type{
                    background-color: #506098;
                }
                &:nth-of-type(2){
                    background-color: #76c9fd;
                }
                &:nth-of-type(3){
                    background: #e90000;
                }
                &:nth-of-type(4){
                    background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%),linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
                }
                &:last-of-type{
                    background-color: #7d3daf;
                }

                svg{
                    width: 18px;
                    height: 18px;
                    fill: #fff;
                }
            }
        }
        div:last-of-type{
            padding: 10px 0;
           a{
               margin-right: 8px;
           }

        }
    }
    aside .information-block{
        padding: 20px 20px 24px;
        border-bottom: 1px solid #eaeaea;
        & > ul li{
            span{
                margin-bottom: 8px;
                font-size: 12px;
                color: #797878;
                display: block;
            }
            ul{
                margin-bottom: 24px;
                li{
                    margin-bottom: 8px;
                    padding-right: 8px;
                    box-sizing: border-box;
                    a{
                        color: #3e77aa;
                        font-size: 14px;

                        &:hover{
                            text-decoration: underline;
                            color: #ff7878;
                        }
                    }
                }
            }
        }
    }
    aside .copyright-block{
        padding: 20px;
        font-size: 12px;
        line-height: 14px;
        p:first-of-type{
            color: #999;
        }
        p:last-of-type{
            margin-top: 12px;
        }
    }
}
