/*----Footer----*/
.footer{
    &_form-container{
        width: 100%;
        padding: 75px 0;
        background-color: @footer-form-background;
        .flex-mixin(@direction: column);
        &_button{
            text-align: center;
            .container-mixin(300px, 50px);
            border: 1px solid #94979a;
            background-color: @footer-form-background;
            line-height: 50px;
            color: @footer-btn-text-color;
            text-transform: uppercase;
            letter-spacing: 2.8px;
            cursor: pointer;
            transition: letter-spacing .2s ease-in;
            @media(max-width: @second-mobile){
                width: 90%;
            }
            & + input{
                display: none;
            }
            &:hover{
                outline: 2px solid #ffffff;
                letter-spacing: 3.8px;
            }
        }
    }
    &_mailing{
        padding: 110px 0;
        &_logo-container{
            .container-mixin(94px, 85px);
            background-image: url("@{image_url}Logo.png");
            margin: 0 auto;
            background-repeat: no-repeat;
        }
        &_slogan{
            padding: 39px 0 35px;
            text-align: center;
            & p{
                color: @footer-slogan-color;
                font-size: 24px;
                font-style: italic;
                line-height: 34px;
            }
        }
        &_form > div p{
            @media(max-width: @second-mobile){
                font-size: 20px;
            }
        }
    }
    &_content{
        .flex-mixin(@justify: space-around, @align:  stretch);
        width: 100%;
        background-color: @footer-content-background;
        padding: 108px 0;
        @media (max-width: @first-mobile){
            .flex-mixin(@direction: column);
        }
        & > div{
            @media(max-width: @first-mobile){
                padding: 10px 0;
            }
        }
        &_address{
            width: 280px;
            .flex-mixin(@direction: column, @justify: flex-start, @align: flex-start);
            @media(max-width: @first-mobile){
                align-items: center;
            }
            & > span{
                @media(max-width: @first-mobile){
                    padding: 8px 0;
                }
                &:first-child {
                    font-style: normal;
                    font-size: 16px;
                    font-weight: 700;
                }
                & + span {
                    font-size: 14px;
                    font-style: italic;
                }
            }
        }
        &_social{
            width: 280px;
            text-align: center;
            margin: auto 0;
            & a{
                text-decoration: none;
            }
        }
        &_credits{
            width: 280px;
            .flex-mixin(@justify: flex-end);
            @media(max-width: @first-mobile){
                justify-content: center;
            }
            & > span:first-child{
                color: @footer-credits-color;
                font-size: 14px;
                font-style: italic;
            }
        }
    }
}
::-webkit-input-placeholder{
    padding-left: 28px;
    color: @placeholder-text-color;
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
}
::-moz-placeholder:extend(::-webkit-input-placeholder){}
:-ms-input-placeholder:extend(::-webkit-input-placeholder){}
:-moz-placeholder:extend(::-webkit-input-placeholder){}
.center_align{
    .center-mixin();
}
