.wrapper {
    .main-container {
        padding: 16px 15px 15px;
        display: flex;
        margin-bottom: 40px;
        @media (max-width: @first-desktop-point) {
            margin-bottom: 10px;
            padding: 0;
        }
        @media (max-width: @mobile-point) {
            flex-direction: column;
        }

        .container-content {
            width: calc(100% - 270px);
            padding-right: 31px;
            box-sizing: border-box;
            @media (max-width: @first-desktop-point) {
                padding-right: 20px;
            }
            @media (max-width: @tablet-point) {
                width: calc(100% - 250px);
            }
            @media (max-width: @mobile-point) {
                width: 100%;
                padding-right: 0;
            }

            .links {
                padding: 7px 6px;

                & > a {
                    text-decoration: none;
                    color: @main-cont-links-color;
                    display: inline-block;
                    padding-right: 10px;

                    &:first-child {
                        padding-right: 28px;
                        position: relative;

                        &:after {
                            .pseudo-elements-mixin;
                            .background-image-mixin(@image: "arrow-right.svg");
                            width: 8px;
                            height: 11px;
                            top: 0;
                            right: 12%;
                        }
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .add-prod {
                padding: 27px 0 10px;
                display: flex;
                margin-bottom: 51px;
                @media (max-width: @tablet-point) {
                    flex-direction: column;
                }

                .photos-wrapper {
                    max-width: 410px;
                    @media (max-width: @tablet-point) {
                        max-width: 100%;
                        margin-bottom: 20px;
                    }

                    .images-big {
                        outline: 1px solid #E5E5E5;
                        box-sizing: border-box;
                        position: relative;
                        & > button{
                            position: absolute;
                            z-index: 10;
                            display: none;
                            height: 100%;
                            top: 0;
                            bottom: 0;
                            width: 79px;
                            font-size: 40px;
                            border: none;
                            background-color: rgba(255, 255, 255, .2);
                            font-weight: 300;
                            & > svg{
                                position: relative;
                                z-index: -1;
                            }
                            &.big-next{
                                right: 0;
                            }
                            &.big-prev{
                                left: 0;
                            }
                            &:hover{
                                & > svg{
                                    fill: #FF2D37;
                                }
                            }
                        }
                        &:hover{
                            & > button{
                                display: block;
                            }
                        }

                        .show-img {
                            display: block;
                            width: 100%;
                            transition: opacity 250ms ease-out;
                            opacity: 1;

                            &.active {
                                opacity: 0;
                            }
                        }
                    }

                    .images-small {
                        padding: 10px 0;
                        position: relative;
                        max-width: 410px;
                        overflow: hidden;
                        box-sizing: border-box;
                        .slick-wrap{
                            display: flex;
                            transition: margin-left 500ms ease-out;
                            & > img {
                                display: block;
                                max-width: 95px;
                                margin-right: 10px;
                                @media (max-width: @tablet-point) {
                                    max-width: 80px;
                                }
                                @media (max-width: @second-mobile-point) {
                                    max-width: 68px;
                                }
                            }
                        }
                        @media(max-width: @tablet-point){
                            max-width: 350px;
                        }
                        @media(max-width: @second-mobile-point){
                            max-width: 302px;
                            margin: 0 -1px;
                        }
                        & > button{
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 27px;
                            height: 50px;
                            background: #FFFFFF;
                            border: 1px solid #CCCCCC;
                            box-sizing: border-box;
                            color: #888888;
                            display: none;
                            z-index: 20;
                            &:hover{
                                background-color: #FF2D37;
                                border-color: #FF2D37;
                                color: #FFFFFF;
                            }
                            & > i{
                                position: relative;
                                z-index: -1;
                            }
                            &.next{
                                right: 5px;
                            }
                            &.next{
                                right: 10px;
                            }
                            &.prev{
                                left: 10px;
                            }
                        }
                        &:hover{
                            & > button{
                                display: block;
                            }
                        }

                        .frame {
                            width: 95px;
                            height: 95px;
                            position: absolute;
                            border: 1px solid #FF2D37;
                            top: 10px;
                            left: 0;
                            background-color: rgba(255, 255, 255, .5);
                            box-sizing: border-box;
                            transition: left 500ms ease-out;
                            @media (max-width: @tablet-point) {
                                width: 80px;
                                height: 80px;
                            }
                            @media (max-width: @second-mobile-point) {
                                width: 68px;
                                height: 68px;
                            }
                        }
                    }
                }

                .description {
                    flex-grow: 1;
                    padding-left: 30px;
                    box-sizing: border-box;
                    width: calc(100% - 410px);
                    @media (max-width: @first-desktop-point) {
                        padding-left: 15px;
                    }
                    @media (max-width: @tablet-point) {
                        width: 100%;
                        padding-left: 0;
                    }

                    .title {
                        font-weight: normal;
                        line-height: 26px;
                        text-transform: uppercase;
                    }

                    .decore-wrap {
                        padding: 13px 0 15px;
                        .flex-mixin;
                        @media (max-width: @tablet-point) {
                            padding: 8px 0;
                        }

                        & > span {
                            &:first-child {
                                color: @decore-wrap-color;
                                padding-left: 4px;
                            }

                            &:last-child {
                                color: @decore-wrap-last-span-color;
                                position: relative;
                                padding-left: 15px;

                                &:before {
                                    .pseudo-elements-mixin;
                                    .background-image-mixin(@image: "checked.png");
                                    width: 10px;
                                    height: 10px;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }

                    .rating-wrap {
                        padding: 3px 0;
                        display: flex;

                        & > img {
                            margin-right: 10px;
                            display: block;
                        }

                        & > span {
                            display: inline-block;
                            box-sizing: border-box;
                            line-height: 15px;
                            height: 100%;
                            align-self: center;
                            color: @body-text-color;

                            &:first-of-type {
                                padding-right: 22px;
                                position: relative;

                                &:after {
                                    .pseudo-elements-mixin;
                                    right: 10px;
                                    top: 2px;
                                    bottom: 0;
                                    border-right: 1px solid @main-cont-links-color;
                                }
                            }
                        }

                        & > a{
                            color: inherit;
                            text-decoration: none;
                            &:hover{
                                color: #FF2D37;
                            }
                        }
                    }

                    .text-wrap {
                        padding: 22px 0;
                        margin-bottom: 18px;
                        @media (max-width: @tablet-point) {
                            padding: 10px 0;
                            margin-bottom: 10px;
                        }

                        .price {
                            margin-bottom: 19px;
                        }

                        .text-about {
                            line-height: 21px;
                        }
                    }

                    .select-prop {

                        .selects {
                            display: flex;
                            margin-bottom: 19px;

                            & > label {
                                width: calc(50% - 15px);
                                display: block;

                                &:first-of-type {
                                    margin-right: 30px;

                                    & > span {
                                        &:after {
                                            left: 30px;
                                        }
                                    }
                                }

                                & > span {
                                    text-transform: capitalize;
                                    padding-left: 2px;
                                    margin-bottom: 6px;
                                    display: block;
                                    position: relative;

                                    &:after {
                                        .pseudo-elements-mixin(@content: '*');
                                        color: @buttons-background-color;
                                        top: 0;
                                        left: 38px;
                                        font-size: 14px;
                                    }
                                }

                                & > div {
                                    position: relative;

                                    &:after {
                                        .pseudo-elements-mixin;
                                        .background-image-mixin(@image: "arrow.png", @background-size: cover);
                                        height: 5px;
                                        width: 9px;
                                        right: 10px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }

                                    & > select {
                                        width: 100%;
                                        background-color: @buttons-text-color;
                                        border-radius: 5px;
                                        border: 1px solid #E5E5E5;
                                        height: 31px;
                                        display: block;
                                        box-sizing: border-box;
                                        padding: 0 20px;
                                        font-size: 13px;
                                        color: @select-color;
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        appearance: none;

                                    }
                                }


                            }
                        }

                        .buttons-wrap {
                            display: flex;

                            & > span {
                                align-self: center;
                                margin-right: 5px;
                            }

                            & > label {
                                max-width: 94px;
                                display: block;
                                height: 40px;
                                margin-right: 5px;
                                @media(max-width: @second-mobile-point){
                                    max-width: 60px;
                                }

                                & > input {
                                    max-width: 100%;
                                    box-sizing: border-box;
                                    height: 100%;
                                    text-align: center;
                                    border-radius: 5px;
                                    border: 1px solid #E5E5E5;
                                }
                            }

                            & > button {
                                display: block;
                                border-radius: 5px;
                                border: none;
                                box-sizing: border-box;
                                background-color: @body-text-color;

                                &:not(:last-child) {
                                    margin-right: 5px;
                                }

                                &:not(:first-of-type) {
                                    width: 40px;

                                    padding-top: 7px;
                                }
                                &:hover{
                                    background-color: @buttons-background-color;
                                    cursor: pointer;
                                }
                            }

                            .add {
                                width: 210px;
                                color: @buttons-text-color;
                                text-transform: uppercase;
                                line-height: 17px;
                                @media (max-width: @tablet-point) {
                                    flex-grow: 1;
                                    width: 100px;
                                }
                            }
                        }
                    }
                }
            }

            .characteristics {
                display: flex;
                @media (max-width: @mobile-point) {
                    flex-direction: column;
                }

                input {
                    display: none;

                    &.details:checked {
                        & ~ .tabs-wrap {
                            label.det {
                                border-left: 4px solid #FF2D37;
                                background-color: @buttons-text-color;
                                position: relative;
                                z-index: 5;
                            }
                        }

                        & ~ .details {
                            .det {
                                display: block;
                            }
                            & > label{
                                &:nth-of-type(1){
                                    border-left: 4px solid #FF2D37;
                                }
                            }
                        }
                    }

                    &.more:checked {
                        & ~ .tabs-wrap {
                            label.more {
                                border-left: 4px solid #FF2D37;
                                background-color: @buttons-text-color;
                                position: relative;
                                z-index: 5;
                            }
                        }

                        & ~ .details {
                            .more {
                                display: block;
                            }
                            & > label{
                                &:nth-of-type(2){
                                    border-left: 4px solid #FF2D37;
                                }
                            }
                        }
                    }

                    &.reviews:checked {
                        & ~ .tabs-wrap {
                            label.reviews {
                                border-left: 4px solid #FF2D37;
                                background-color: @buttons-text-color;
                                position: relative;
                                z-index: 5;
                            }
                        }

                        & ~ .details {
                            .reviews {
                                display: block;
                            }
                            & > label{
                                &:nth-of-type(3){
                                    border-left: 4px solid #FF2D37;
                                }
                            }
                        }
                    }

                    &.custom:checked {
                        & ~ .tabs-wrap {
                            label.custom {
                                border-left: 4px solid #FF2D37;
                                background-color: @buttons-text-color;
                                position: relative;
                                z-index: 5;
                            }
                        }

                        & ~ .details {
                            .custom {
                                display: block;
                            }
                            & > label{
                                &:last-of-type{
                                    border-left: 4px solid #FF2D37;
                                    border-bottom: 1px solid #E5E5E5;
                                }
                            }
                        }
                    }
                }

                .tabs-wrap {
                    width: 200px;
                    border: 1px solid #E5E5E5;
                    align-self: flex-start;
                    border-right: none;
                    @media (max-width: @tablet-point) {
                        width: 150px;
                    }
                    @media (max-width: @mobile-point) {
                        width: 100%;
                        border-right: 1px solid #E5E5E5;
                        margin-bottom: -1px;
                        display: none;
                    }

                    & > label {
                        display: block;
                        box-sizing: border-box;
                        font-size: 18px;
                        line-height: 21px;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: 20px 1px 20px 28px;
                        margin-right: -1px;
                        @media (max-width: @tablet-point) {
                            padding: 20px 1px 20px 14px;
                        }
                        @media (max-width: @mobile-point) {
                            margin-right: 0;
                        }

                        &:not(:last-child) {
                            border-bottom: 1px solid #E5E5E5;
                        }
                    }
                }

                .details {
                    width: calc(100% - 200px);
                    border: 1px solid #E5E5E5;
                    @media (max-width: @tablet-point) {
                        width: calc(100% - 150px);
                    }
                    @media (max-width: 992px) {
                        width: 100%;
                    }

                    & > label {
                        display: none;
                        box-sizing: border-box;
                        font-size: 18px;
                        line-height: 21px;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: 20px 1px 20px 28px;
                        margin-right: -1px;
                        @media (max-width: @tablet-point) {
                            padding: 20px 1px 20px 14px;
                        }
                        @media (max-width: @mobile-point) {
                            margin-right: 0;
                            display: block;/**/
                        }

                        &:not(:last-child) {
                            border-bottom: 1px solid #E5E5E5;
                        }
                    }

                    & > div {
                        display: none;
                        padding: 30px 20px 38px 29px;
                        @media (max-width: @tablet-point) {
                            padding: 30px 15px 30px 20px;
                        }
                        @media (max-width: @mobile-point) {
                            &:not(:last-of-type){
                                border-bottom: 1px solid #E5E5E5;
                            }
                        }

                        & > p {
                            line-height: 23px;

                            &:not(:last-of-type) {
                                padding-bottom: 33px;
                            }
                        }
                    }



                    & > label {
                        display: none;
                        box-sizing: border-box;
                        font-size: 18px;
                        line-height: 21px;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: 20px 1px 20px 28px;
                        margin-right: -1px;
                        @media (max-width: @tablet-point) {
                            padding: 20px 1px 20px 14px;
                        }
                        @media (max-width: @mobile-point) {
                            margin-right: 0;
                            display: block;
                        }

                        &:not(:last-of-type) {
                            border-bottom: 1px solid #E5E5E5;
                        }
                    }

                    .reviews {

                        .blind {
                            position: fixed;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: rgba(0, 0, 0, .2);
                            z-index: 10;
                            .flex-mixin(@display: none, @justify-content: center);

                            .form-wrapper {
                                height: calc(100% - 60px);
                                margin: 30px 0;
                                /*box-sizing: border-box;*/
                                overflow-y: auto;
                                border-radius: 5px;
                            }

                            .form-wrap {
                                max-height: 100%;
                            }

                            .title {
                                .flex-mixin;
                                margin-bottom: 25px;

                                & > h3 {
                                    font-weight: 500;
                                }

                                & > button {
                                    height: 30px;
                                    width: 30px;
                                    margin: 0;
                                    padding: 0;
                                    border-radius: 50%;
                                    border: none;
                                    background-color: @buttons-text-color;
                                    position: relative;
                                    z-index: 5;

                                    & > svg {
                                        position: relative;
                                        z-index: -1;
                                    }

                                    &:hover {
                                        & > svg {
                                            fill: @buttons-background-color;

                                        }
                                    }
                                }
                            }

                            &.active {
                                display: flex;
                            }

                            .form-title-wrapper {
                                width: 500px;
                                max-height: 900px;
                                padding: 25px 15px;
                                background-color: @form-background-color;
                                border-radius: 5px;
                                @media(max-width: @second-mobile-point){
                                    width: 315px;
                                    padding: 15px 5px;
                                    box-sizing: border-box;
                                }

                                form {
                                    display: block;

                                    & > label {
                                        font-size: 14px;
                                        font-weight: 500;
                                        margin-bottom: 10px;
                                        display: block;
                                    }

                                    .message {
                                        display: none;
                                        margin: -17px 0 7px;
                                        font-size: 10px;
                                        height: 10px;
                                        padding-left: 5px;

                                        &.active {
                                            display: block;
                                            color: @buttons-background-color;
                                        }
                                    }

                                    & > input {
                                        height: 30px;
                                        width: 100%;
                                        border-radius: 5px;
                                        display: block;
                                        box-sizing: border-box;
                                        border: 1px solid #E5E5E5;
                                        margin-bottom: 20px;
                                        padding: 5px 10px;
                                    }

                                    textarea {
                                        padding: 10px;
                                        display: block;
                                        width: 100%;
                                        border: 1px solid #E5E5E5;
                                        border-radius: 5px;
                                        margin-bottom: 20px;
                                        box-sizing: border-box;
                                    }
                                }

                                .send-message {
                                    margin-bottom: 15px;
                                    padding: 3px 0 3px 30px;
                                    position: relative;

                                    &:after {
                                        .pseudo-elements-mixin(@display: block);
                                        border: 1px solid #E5E5E5;
                                        background-color: @buttons-text-color;
                                        left: 0;
                                        top: 0;
                                        height: 18px;
                                        width: 18px;
                                        border-radius: 5px;
                                    }

                                    & > i {
                                        position: absolute;
                                        left: 0;
                                        bottom: 3px;
                                        z-index: 5;
                                        font-size: 20px;
                                        color: @footer-top-section-background;
                                        display: none;
                                    }


                                    & > input.checkbox {
                                        display: none;

                                        &:checked {
                                            & ~ i {
                                                display: block;
                                            }
                                        }
                                    }

                                    & > label {
                                        line-height: 17px;
                                        align-self: center;
                                        display: block;
                                        align-items: center;
                                        margin-left: -30px;
                                        padding-left: 30px;
                                        z-index: 10;
                                        position: relative;
                                    }
                                }

                                .buttons-wrap {
                                    display: flex;

                                    & > button {
                                        width: calc(50% - 15px);
                                        height: 40px;
                                        border: none;
                                        cursor: pointer;
                                        border-radius: 5px;
                                        background-color: @body-text-color;
                                        color: @buttons-text-color;

                                        &:hover {
                                            background-color: @buttons-background-color;
                                        }

                                        &:first-child {
                                            margin-right: 30px;
                                        }
                                    }
                                }
                            }
                        }

                        .add-rev-section {
                            .flex-mixin;
                            padding: 0 0 30px;
                            border-bottom: 1px solid #E5E5E5;
                            margin-bottom: 25px;

                            & > h3 {
                                align-self: center;
                                font-weight: 500;
                                padding-right: 10px;
                                @media (max-width: @second-mobile-point) {
                                    font-size: 20px;
                                }
                            }

                            .add-rev {
                                width: 120px;
                                height: 40px;
                                text-transform: uppercase;
                                background-color: @body-text-color;
                                border: none;
                                color: @your-lang-background-color;
                                padding: 5px 10px;

                                &:hover {
                                    background-color: @buttons-background-color;
                                }
                            }
                        }

                        & > ul {
                            li {
                                border: 1px solid #E5E5E5;
                                padding: 20px 10px 15px;

                                &:not(:last-child) {
                                    margin-bottom: 30px;
                                }

                                .top-section {
                                    padding: 0 10px 20px;
                                    margin: 0 -10px;
                                    .flex-mixin;
                                    border-bottom: 1px solid #E5E5E5;

                                    & > span {
                                        font-size: 13px;
                                        line-height: 15px;
                                    }
                                }

                                .bottom-section {
                                    padding: 15px 10px;
                                    margin: 0 -10px;
                                    border-bottom: 1px solid #E5E5E5;

                                    & > p {
                                        line-height: 23px;

                                        &:not(:last-child) {
                                            margin-bottom: 8px;
                                        }

                                        &.bold-point {
                                            font-weight: bold;
                                            font-size: 15px;
                                        }
                                    }

                                    & > iframe {
                                        display: block;
                                        width: 100%;
                                    }
                                }

                                .buttons-section {
                                    padding-top: 15px;
                                    .flex-mixin;

                                    & > button {
                                        width: 80px;
                                        height: 40px;
                                        text-transform: uppercase;
                                        background-color: @body-text-color;
                                        border: none;
                                        color: @your-lang-background-color;

                                        &:hover {
                                            background-color: @buttons-background-color;
                                        }
                                    }

                                    .likes-wrap {
                                        align-self: center;

                                        button {
                                            border: none;
                                            background-color: @buttons-text-color;

                                            & > span {
                                                display: inline-block;
                                                width: 13px;
                                                text-align: center;
                                            }

                                            &:first-child {
                                                margin-right: 10px;
                                            }

                                            &:hover {
                                                & > i,
                                                & > span {
                                                    color: @buttons-background-color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .aside-container {
            width: 270px;
            padding: 56px 0 20px;
            @media (max-width: @tablet-point) {
                width: 250px;
            }
            @media (max-width: @mobile-point) {
                width: 100%;
            }

            .title {
                background-color: @buttons-background-color;
                color: @buttons-text-color;
                border-radius: 5px 5px 0 0;
                padding: 14px 22px;

                & > h5 {
                    text-transform: uppercase;
                    font-size: 17px;
                }
            }

            .cards-wrap {
                padding: 20px 20px 0;
                border: 1px solid #E5E5E5;
                border-top: none;
                border-radius: 0 0 5px 5px;
                margin-bottom: 28px;
                @media (max-width: @tablet-point) {
                    padding: 20px 10px 0;
                }

                .card {
                    display: flex;

                    &:not(:last-child) {
                        border-bottom: 1px solid #E5E5E5;
                        margin-bottom: 20px;
                    }

                    .img-wrap {
                        width: 90px;

                        & > img {
                            display: block;
                            max-width: 100%;
                        }
                    }

                    .about-wrap {
                        width: calc(100% - 90px);
                        padding: 2px 0 0 10px;
                        box-sizing: border-box;
                        @media (max-width: @tablet-point) {
                            padding-left: 5px;
                        }

                        & > p{
                            display: block;
                            line-height: 20px;
                            text-transform: uppercase;
                            text-decoration: none;
                            color: @body-text-color;
                            cursor: pointer;
                            margin-bottom: 5px;
                            & > a{
                                color: inherit;
                                text-decoration: none;
                            }
                        }

                        span.prod {
                            text-transform: uppercase;
                            padding: 3px 5px 5px 0;
                        }

                        & > img {
                            display: block;
                            max-width: 100%;
                            margin-bottom: 3px;
                        }

                        .price {
                            padding: 6px 0;
                            font-weight: 500;
                            margin-bottom: 19px;
                            display: block;
                        }
                    }
                }
            }

            .banner-wrap {
                & > img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}
